{% extends 'home/base_home.html' %}
{% load bootstrap %}
{% load wagtailcore_tags register_tags %}
{% block content %}

<style>


    input[type=text],[type=password],[type=email],[type=url],input[id=id_address_line1],input[id=id_city],input[id=id_county],input[id=id_state],input[id=id_country],
        input[id=id_k12_level],input[id=id_zip]
{
    width:100%;
    color:#444;
    border:1px solid #bbbbbb;
    border-radius:2px;
    line-height: 28px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:10px 0 8px 4px;
    padding-left:8px;
    padding-right:20px;
    font-size: 16px;
    font-family: "Arial Narrow", sans-serif;
    box-sizing:border-box;
        height:38px;

}


 label[for=id_name]:after,label[for=id_community_type]:after,label[for=id_address_line1]:after,label[for=id_city]:after,label[for=id_state]:after,
 label[for=id_zip]:after,label[for=id_country]:after
    {
    content:"*" ;
    color:red
    }


label
{
    margin-left: 25px;
    margin-top: 5px;
    font-weight: bold;
}
 .help-block
 {
     visibility: hidden;
     display: none;
 }
 #button-center{
     text-align: center;
 }

select[id=id_community_type]
    {
        width:100%;
    }

.form-control
    {
    width: 93%;
    border:1px solid #aaa;
    }
/*input[id=id_k12_level],input[id=id_zip]{*/
     /*margin-left: 20px;*/
    /*width: 93%;*/
 /*}*/
input[id=id_form-0-first_name],input[id=id_form-0-last_name],
input[id=id_form-0-work_phone],input[id=id_form-0-cell_phone],input[id=id_form-0-email_id]
    {
    width:85%;
    }

input[id=id_website_url]
{
    width:93%;
}

.select2-container--default .select2-selection--single
{
margin-left:5px;
width:100%

}
.select2 {
width:93%!important;
}

.select2-container--open .select2-dropdown--below
{
    margin-left:22px;
}

.select2-container--open .select2-dropdown--above
{
    margin-left:22px;
}

.panel{
    box-shadow: none;
}
.panel-heading{
    padding: 0px;
    margin: 0px;
}
    .btn-secondary{
        margin-left: 10px;
    }

</style>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<script>
            $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip();
            });
</script>

<form action="." onfocusout="return validateForm()"  method="post">
    {{ formset_primary_mission.management_form }}
    {{ formset_mission.management_form }}
       {{ formset.management_form }}
    {% csrf_token %}
    <input type="hidden" name="projectId" id="projectId" value="{{ projectId }}">
<div class="container-fluid">

    <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-12">
                <br>
                <br>
                              <div class=" text-center"><h3 class="heading">Community Partner Registration</h3></div>
<div class="card snippet-card">
    <div class="container text-snippet">

                                    {% com_part_regs %}
    </div>
</div>
                <div class="box">
<div id="smartwizard">
    <ul>
        <li><a href="#step-1">Partner Information</a></li>
        <li><a href="#step-2">Focus Areas</a></li>
    </ul>
    <div>
        <div id="step-1">
            <div id="form-step-0">
                <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <label for="id_name" class="col-sm-4">
                        {% for data_definition in data_definition %}
                            {% if data_definition.id == 2%}
                            <span tabindex="-1" data-toggle="tooltip"
                            title="{{ data_definition.description }}" class="float" >
                            <i class="fa fa-info-circle fa-align-top fa-align-right small" aria-hidden="true"></i></span>
                            {% endif %}
                        {% endfor %}
                    Community Partner Organization</label>
                    <div class="col-sm-7">
                            {{ community_partner_form.name}}
                            {% if community_partner_form.name.errors %} {% for error in community_partner_form.name.errors %}
                        <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div> {% endfor %} {% endif %}
                    </div>
                    </div>
                </div>
                    <div class="col-md-6">
                    <div class="row">
                        <label for="id_name" class="col-sm-4">
                        {% for data_definition in data_definition %}
                            {% if data_definition.id == 33%}
                            <span tabindex="-1" data-toggle="tooltip"
                            title="{{ data_definition.description }}" class="float" >
                            <i class="fa fa-info-circle fa-align-top fa-align-right small" aria-hidden="true"></i></span>
                            {% endif %}
                        {% endfor %}
                        Community Partner Type</label>
                    <div class="col">
                           {{ community_partner_form.community_type}}
                                    {% if community_partner_form.community_type.errors %} {% for error in community_partner_form.community_type.errors %}
                        <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div> {% endfor %} {% endif %}

                    </div>
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <label for="id_acronym" class="col-sm-4">
                        {% for data_definition in data_definition %}
                            {% if data_definition.id == 59%}
                             <span tabindex="-1" data-toggle="tooltip"
                              title="{{ data_definition.description }}" class="float" >
                            <i class="fa fa-info-circle fa-align-top fa-align-right small" aria-hidden="true"></i></span>
                            {% endif %}
                        {% endfor %}
                        Acronym</label>
                    <div class="col-sm-7">
                            {{ community_partner_form.acronym}}
                        <span class="errormsg" style="color: red; font-size: 12px"></span>
                    </div>
                    </div>
                </div>
                    <div class="col-md-6">
                    <div class="row" id="k12input">
                        <label class="col-sm-4">
                        {% for data_definition in data_definition %}
                            {% if data_definition.id == 61%}
                             <span tabindex="-1" data-toggle="tooltip"
                              title="{{ data_definition.description }}" class="float" >
                            <i class="fa fa-info-circle fa-align-top fa-align-right small" aria-hidden="true"></i></span>
                            {% endif %}
                        {% endfor %}
                        K-12 Level</label>
                    <div class="col-sm-7">
                             {{ community_partner_form.k12_level}}
                    </div>
                    </div>
                </div>
                </div>
                 <div class="row">
                <div class="col">
                    <div class="row">
                    <label class="col-sm-2">Website URL <span class="req" style="color:red;">*</span></label>
                    <div class="col-sm-9">
                           {{ community_partner_form.website_url}}
                                    {% if community_partner_form.website_url.errors %} {% for error in community_partner_form.website_url.errors %}
                        <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div> {% endfor %} {% endif %}

                    </div>
                    </div>
                </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                    <div class="row">
                         <div class="col" style="padding-top: 5px">
                    <label style="padding-right: 5px">Is this Community Partner virtual only, with no physical address?  </label>
                            {{ community_partner_form.online_only}}
                    </div>
<!--                        <div class="col-md-5" style="padding-top: 5px">-->
<!--                    <label style="padding-right: 5px">Physically Located   </label>-->
<!--                            <input type="checkbox" class="chb" name="physically_located" id="physically_located">-->
<!--                    </div>-->
                </div>
                </div>
                </div>
                <div class = "showaddress">
                             <button type="button" class="collapsible card-header" style="background-color: lightgrey;height: 30px;padding:5px" data-toggle="collapse" href="#addressinfo">
    <i class="fa fa-plus"></i> Address
</button>
<!--                    <label style="text-decoration: underline">Address</label>-->
<div id="addressinfo" class= "panel-collapse collapse">
                                    <div class="panel-body">
                                        <br>
                <div class="row showaddress">

                                            <div class="col-md-6">
                                                <div class="row">
                                              <label class="col-sm-4">Address Line <span style="color:red;">*</span> </label>
                                            <div class="col-sm-7">
                                              {{ community_partner_form.address_line1 |bootstrap }}
                                            </div>
                                             {% if community_partner_form.address_line1.errors %}
                                                    {% for error in community_partner_form.address_line1.errors %}
                                                    <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div>
                                                    {% endfor %} {% endif %}

                                          </div>
                                        </div>
                                        </div>
                                        <div class="row showaddress">
                                            <div class="col-md-6">

                                        <div class="row">
                                              <label class="col-sm-4">City <span style="color:red;">*</span></label>
                                            <div class="col-sm-7">
                                           {{ community_partner_form.city |bootstrap }}
                                            </div>
                                            {% if community_partner_form.city.errors %}
                                            {% for error in community_partner_form.city.errors %}
                                            <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div>
                                            {% endfor %} {% endif %}

                                                </div>
                                                <div class="row">
                                              <label class="col-sm-4">Country <span style="color:red;">*</span></label>
                                            <div class="col-sm-7">
                                            {{ community_partner_form.country |bootstrap }}
                                            </div>
                                           {% if community_partner_form.country.errors %}
                                                    {% for error in community_partner_form.country.errors %}
                                                    <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div>
                                                    {% endfor %} {% endif %}

                                        </div>


                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                              <label class="col-sm-4">State/Province <span style="color:red;">*</span></label>
                                            <div class="col-sm-7">
                                            {{ community_partner_form.state |bootstrap }}
                                            </div>
                                            {% if community_partner_form.state.errors %}
                                                    {% for error in community_partner_form.state.errors %}
                                                    <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div>
                                                    {% endfor %} {% endif %}

                                                </div>
                                                  <div class="row">
                                              <label class="col-sm-4">Zip Code <span style="color:red;">*</span></label>
                                            <div class="col-sm-7">
                                            {{ community_partner_form.zip |bootstrap }}
                                            </div>
                                             {% if community_partner_form.zip.errors %}
                                                    {% for error in community_partner_form.zip.errors %}
                                                    <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div>
                                                    {% endfor %} {% endif %}

                                                </div>


                                            </div>

</div>
                </div>
            </div>
                </div>
            </div>
        </div>
                <div id="step-2">
                    {% for form in formset_primary_mission %}
                    <br>
                    <div class="row">
                <div class="col-md-4">
                    {% for data_definition in data_definition %}
                    {% if data_definition.id == 51%}
                    <label><span tabindex="-1" data-toggle="tooltip"
                            title="{{ data_definition.description }}" class="float" >
                            <i class="fa fa-info-circle fa-align-top fa-align-right small" aria-hidden="true"></i>

                                Focus Area <span style="color:red;">*</span>

                                </span></label>
                    {% endif %}
                                {% endfor %}
                </div>
                <div class="col-md-6">
                    {{ form.mission_area|bootstrap }}
                </div>
            </div>
                    {% endfor %}
              {% for form in formset_mission %}
            <div class="row mission-row">
                <div class="col-md-4">
                     {% for data_definition in data_definition %}
                    {% if data_definition.id == 60%}
                    <label><span tabindex="-1" data-toggle="tooltip"
                          title="{{ data_definition.description }}" >
                        <i class="fa fa-info-circle fa-align-top fa-align-right small" aria-hidden="true"></i>
                          {% endif %}
                    {% endfor %}
                        Other Focus Area
                    </span></label>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-9">
                    {{ form.mission_area|bootstrap }}
                </div>
                <div class="col-md-1">
                    <div class="input-group-append" >
                        <i class="fa fa-plus-square fa-2x add-mission-row" style="padding-top:8px" aria-hidden="true"></i>
                    </div>
                </div>
                    </div>
                </div>
            </div>
<!--                                            <i class="fa fa-plus-square fa-2x add-community-row" style="padding-tp:40px; " aria-hidden="true"></i>-->
                                        <div class="mission-fields displaybox row" id="mission-fields"></div>

                                {% endfor %}


             <div class="row justify-content-end" style="margin-top:30px;">
<div class="col-md-3" style="float: right">
<!--                    <p id="button-center"><button type="submit" class="save blackbutton" > <i class="fa fa-arrow-circle-right" style="color: white" aria-hidden="true"></i> Save as Draft</button></p>-->
            </div>
 </div>
        </div>
<!--                <div id="step-3">-->

<!--<div class="row"><br></div>-->
<!--                <button type="button" class="collapsible card-header" style="background-color: lightgrey;height: 30px;padding:5px" data-toggle="collapse" href="#contactinfo">-->
<!--    <i class="fa fa-plus"></i> {% for data_definition in data_definition %}-->
<!--                                {% if data_definition.id == 35%}-->
<!--                    <span tabindex="-1" data-toggle="popover" data-trigger="focus" data-content="{{ data_definition.description }}" class="float">-->
<!--                                 Point of Contact Information-->
<!--                                </span>-->
<!--                    {% endif %}-->
<!--                                {% endfor %}-->
<!--</button>-->
<!--        {% for form in formset %}-->
<!--<div id="contactinfo" class= "panel-collapse collapse show">-->
<!--                                    <div class="panel-body">-->
<!--                                        <br>-->
<!--                                        <div class="row contact-row">-->
<!--                                            <div class="col-md-6">-->
<!--                                                <div class="row">-->
<!--                                            <div class="col-md-4">-->

<!--                                                <label>Contact Type <span style="color:red;">*</span></label>-->
<!--                                            </div>-->
<!--                                                <div class="col-md-7">-->
<!--                                                    {{ form.contact_type|bootstrap}}-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                                <div class="row">-->
<!--                                            <div class="col-md-4">-->
<!--                                                <label>First Name <span style="color:red;">*</span></label>-->
<!--                                            </div>-->
<!--                                                <div class="col-md-7">-->
<!--                                                    {{ form.first_name|bootstrap }}-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                                <div class="row">-->
<!--                                            <div class="col-md-4">-->

<!--                                                <label>Work Phone <span style="color:red;">*</span></label>-->
<!--                                            </div>-->
<!--                                                <div class="col-md-7">-->
<!--                                                    {{ form.work_phone|bootstrap }}-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                      <div class="row">-->
<!--                                            <div class="col-md-4">-->
<!--                                                <label>Email <span style="color:red;">*</span></label>-->
<!--                                            </div>-->
<!--                                                <div class="col-md-7">-->
<!--                                                   {{ form.email_id|bootstrap }}-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                <div class="row">-->
<!--                                            <div class="col-md-4">-->

<!--                                                <label>Last Name <span style="color:red;">*</span></label>-->
<!--                                            </div>-->
<!--                                                <div class="col-md-7">-->
<!--                                                    {{ form.last_name|bootstrap }}-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                <div class="row">-->
<!--                                            <div class="col-md-4">-->

<!--                                                <label>Cell Phone</label>-->
<!--                                            </div>-->
<!--                                                <div class="col-md-7">-->
<!--                                                    {{ form.cell_phone|bootstrap }}-->
<!--                                                </div>-->
<!--                                            </div>-->

<!--                                  </div>-->
<!--                        <div class="col centered">-->
<!--                            <button class="addbutton add-contact-row"><i class="fa fa-plus-square" style="color: white"></i> Add an Additional Contact </button>-->
<!--                        </div>-->
<!--                        </div>-->
<!--                                        <div class="row"><br></div>-->
<!--                                            <div id="contact-fields">-->
<!--    <table class="table table-bordered table-striped">-->
<!--        <thead><th>Contact Type</th><th>Name</th><th>Number</th><th>Email Address</th><th>Delete Entry</th>-->
<!--        </thead>-->
<!--        <tbody id = "contact-body">-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
<!--                        {% endfor %}-->
        </div>
    </div>
                            <div class="container-fluid">

                 <div class="row centered" id="termsdiv">
                <p><input type="checkbox" id="terms">
                    I agree to the <a style="color: #d71920" href="https://unocpi.s3.amazonaws.com/documents/Terms_and_Conditions.pdf" target="_blank">Terms & Conditions</a>
                    of the Community Partnership Initiative.</p>
            </div>
                               <div class="row centered" style="margin-top:10px;">

                 <button type="submit" value="submit" name="submit" id="submit" class="save btn btn-secondary">Submit</button>
                                   <button value="cancel" name="cancel" id="cancel" class="save btn btn-cancel">Cancel</button>
 </div>
    </div>
</div>
                       </div>
                </div>
            </div>
</form>

<!--<br><br><br>-->
<script type="text/javascript">
$(document).ready(function() {
    $('#smartwizard').smartWizard({
        theme: 'arrows',
        transitionEffect: 'fade',
        transitionSpeed: '400',
        showStepURLhash: false,
        toolbarSettings: {
            toolbarButtonPosition: 'right',
            showNextButton: 'true',
            showPreviousButton: 'true',
             // toolbarExtraButtons: [
             //    $('<button></button>').text(' Cancel').addClass('btn-red').on('click', function () {
             //        if (confirm("Are you sure?")){
             //          window.location = '/partners';
             //        }
             //    })
            //
            // ]
        }

    });


    $('#cancel').on('click', function (e) {
        e.preventDefault();
        var projectid = $('#projectId').val();
        if (confirm("Are you sure?")) {
            window.location = '/project/'+projectid+'/edit/';
        }
    });
     $('#submit').hide();
                $('#termsdiv').hide();
    $("#smartwizard").on("leaveStep", function (e, anchorObject, stepNumber, stepDirection) {
        var elmForm = $("#form-step-" + stepNumber);
        if (stepDirection === 'forward') {
            if (stepNumber === 0) {
                if ($('#id_acronym').val() !== '') {
                    var acronym = $('#id_acronym').val();
                    var uppercase = acronym.toUpperCase();
                    $('#id_acronym').val(uppercase)
                }
                if (($("#id_name").val() === '')) {
                    alert("Please provide Partner Name to proceed.");
                    return false
                }
                if (($("#id_community_type").val() === '')) {
                    alert("Please Select Community Partner Type.");
                    return false
                }
                // if($('.chb').is(':checked')===false){
                //     alert("Please Check Whether you are physically located or online only.")
                //     return false
                // }
                if ($("#id_online_only").is(':checked')) {
                    if ($('#id_website_url').val() === '') {
                        alert("Please Provide Your Website URL.");
                        return false
                    }

                    // else {
                    //     var maxl = $('#id_website_url').val().length;
                    //     if (($('#id_website_url').val().substr(maxl - 4, maxl) != '.com')) {
                    //         $('#id_website_url').val($('#id_website_url').val() + '.com');
                    //     }
                    // }
                }
                // if($('#physically_located').is(':checked')) {

                if ((($('#id_adddress_line1').val() === '') ||
                    ($('#id_country').val() === '') ||
                    ($('#id_state').val() === '') ||
                    ($('#id_city').val() === '') ||
                    ($('#id_zip').val() === '')) && ($("#id_online_only").is(':checked') === false)) {
                    alert("Please Provide Address or Check Virtual Only.");
                    return false
                }
                // }

                $('#submit').show();
                $('#termsdiv').show();
                 $('.sw-btn-prev').show();
    $('.sw-btn-next').hide();

            }
            if (stepNumber === 1) {
                if ($("#id_primary_mission-0-mission_area").val() === '') {
                    alert("Please provide Mission area before proceeding.");
                    return false;
                }
                // else {
                //     $('#submit').show();
                //     $('#termsdiv').show();
                // }
            }

        }

if (stepDirection === 'backward') {
            $('#submit').hide();
            $('#termsdiv').hide();
             $('.sw-btn-prev').hide();
    $('.sw-btn-next').show();
        }
//         return true;
//     });
// $('#step2').click(function () {
//     $('#submit').show();
//     $('#termsdiv').show();
// });

// $('#submit').hide();
// $('#termsdiv').hide();

        $(".collapse.show").each(function () {
            $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
        });
        // Toggle plus minus icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function () {
            $(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
        }).on('hide.bs.collapse', function () {
            $(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
        });
    });
});
    </script>



<br><br>
{% block selectizeForm %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">

<script>

 function RestrictCommaSemicolon(e) {
        var theEvent = e || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
        var regex = /[^,;]+$/;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) {
                theEvent.preventDefault();
            }
        }
    }
$(document).ready(function() {
     $('.sw-btn-prev').hide();
    $('.sw-btn-next').show();
    $('.req').hide();
    $('.control-label').hide();
    $('#contact-fields').hide();
    $('#k12input').hide();
    $('#id_website_url').keypress(function( e ) {
    if(e.which === 32)
        return false;
});
    $('#id_community_type').change(function () {
        var value = $('#id_community_type').val();
        if (value === "2") {
            $('#k12input').show();
        } else {
            $('#k12input').hide();
        }
    });
    $('.noalpha').attr('data-format', '+1 (ddd) ddd-dddd');
    $('.noalpha').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });
    $('.nonumbers').keyup(function () {
        this.value = this.value.replace(/[^A-Za-z\.]/g, '');
    });

    $('#id_community_type').select2(
        {placeholder: 'Select a Community Type'}
    );
    $('#id_name').attr('placeholder', 'Community Partner Name');
    $('#id_website_url').attr('placeholder', 'Type Your URL Here');
    $('#id_website_url').attr('onkeypress', 'return RestrictCommaSemicolon(event);');
    $('#id_acronym').attr('placeholder', 'Ex: "OPS" for Omaha Public Schools');
    // $('#showaddress').hide();
    $('#id_online_only').addClass('chb');
    $(".chb").change(function () {
        if ($("#id_online_only").is(':checked') === false) {
            $('.showaddress').show();
            $('.req').hide();
        } else {
            $('.showaddress').hide();
            $('.req').show();
            $('#id_address_line1').val(' ');
                $('#id_city').val(' ');
                $('#id_country').val(' ');
                $('#id_state').val(' ');
                // $('#id_country option[value= " "]').attr('selected','selected');
                // $('#id_state option[value= " "]').attr('selected','selected');
                $('#id_zip').val(" ");
            $('.sw-container').attr('style','min-height:0px;')
                    }
    });

            $(".collapse.show").each(function(){
        	$(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
        });
        // Toggle plus minus icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function(){
        	$(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
        }).on('hide.bs.collapse', function(){
        	$(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
        });
    //         $('#id_acronym').change(function (e) {
    //         $('.errormsg').hide();
    //         document.getElementById("id_acronym").style.borderColor = "grey";
    //         // e.preventDefault();
    //             var acronym = $(this).val();
    //             if(acronym!=""){
    //             $.ajax({
    //
    //                 url: "/partners/SuggestAcronym/",
    //                 data: {
    //                     'acronym': acronym
    //                 },
    //                 dataType: 'json',
    //                 success: function (data) {
    //                     if (data.is_taken) {
    //                         msg = "Acronym " + acronym + " already exists";
    //                         // $('.errormsg').remove();
    //                         $('.errormsg').show();
    //                         $('.errormsg').empty().append(msg);
    //                         // alert("A Community Partner with Acronym " + acronym + " already exists");
    //                         document.getElementById("id_acronym").value = ("");
    //                         document.getElementById("id_acronym").style.borderColor = "red";
    //                     }
    //                 }
    //             });
    //         }
    // });
});

// document.getElementById("terms").setCustomValidity("Please accept the Terms and Conditions");
document.getElementById("id_primary_mission-0-mission_area").required=true;
</script>
<style>
    /*.container{*/
    /*    position: relative;*/
  /*min-height: 100vh;*/
  /*  }*/
    #footer{
        margin-top: 200px;
       /*padding-top: 300px;*/
        /*height: 2.5rem;*/
    }
.select2-container .select2-selection--single
{
   height:38px;
    margin-left:5px;
    border-radius: 0px;
}

.select2-container--default .select2-selection--single
{
   border: 1px solid #aaa;
   margin-top:8px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow
{
   top:12px;
}

.select2-container--default .select2-selection--single:focus
{
  border-color:gray;
  /*box-shadow:0 0 8px 0 grey;*/
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}
</style>
{% endblock %}


{% endblock %}

{% block custom_js %}
{#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
<script type="text/javascript" id="contact-form">
function updateElementIndex(el, prefix, ndx) {
  // This function updates the index of the form being deleted
  var id_regex = new RegExp('(' + prefix + '-\\d+)');
  var replacement = prefix + '-' + ndx;
  if ($(el).attr('for'))
    $(el).attr(
      'for',
      $(el)
        .attr('for')
        .replace(id_regex, replacement)
    );
  if (el.id) el.id = el.id.replace(id_regex, replacement);
  if (el.name) el.name = el.name.replace(id_regex, replacement);
}



var mission_ids = [];
function cloneMore(selector, prefix) {
    // $(this).parent().fadeout();
    if (prefix === 'mission') {
        var selected = $(selector).find(':selected').val();
        var selectedtext = $(selector).find(':selected').text();
        if (selectedtext === '---------') {
            alert('you cannot add empty value');
            $(selector).val(' ');
            return;
        }
        if (prefix === 'mission') {
            if (mission_ids.includes(selected)) {
                alert('Mission Area already added');
                $(selector).find('select').val(' ');
                return;
            }
            mission_ids.push(selected);
        }
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input').each(function () {
            var name = $(this).attr('name');
            if (name) {
                var selectedoption = $('#id_' + name + ' option:selected').text();
                var value = $('#id_' + name + ' option:selected').val();
                if (selectedoption != '') {
                    console.log(selectedoption);
                    var html = '<h6 style="border:1px black solid;padding:5px;margin: 5px;border-radius: 10px">' + selectedoption + '  <i name="' + name + '" class="remove-' + prefix + '-row fa fa-close" data-id="' + value + '"></i> </h6>';
                    $("#" + prefix + "-fields").append(html);
                }
                name = name.replace('-' + (total - 1) + '-', '-' + total + '-');
                var id = 'id_' + name;

                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
                $('#' + id).find('[value=' + value + ']').remove();
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow = $('.' + prefix + '-row:not(:last)');
        conditionRow.hide();
        conditionRow.find('.fa.add-' + prefix + '-row')
            .removeClass('fa-plus-square').addClass('fa fa-minus-square').addClass('delicon')
            .removeClass('add-' + prefix + '-row').addClass('remove-' + prefix + '-row')
            .html(' ');
        // return false;
    }
    else{
        // alert("for contact")
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        var dataarray=[];
        newElement.find(':input').each(function () {
            var name = $(this).attr('name');
            if (name) {

                var type = $('#id_' + name).val();
                dataarray.push(type);
                 name = name.replace('-' + (total - 1) + '-', '-' + total + '-');
                var id = 'id_' + name;

                $(this).attr({'name': name, 'id': id}).val('');
                $(this).css('border-color','gray');
                return;
            }
            var deletename= "contact-"+(total-1);
        var table = '<tr><td>'+dataarray[0]+'</td><td>'+dataarray[1]+' ' +dataarray[4]+'</td><td>'+dataarray[2]+'<br>'+dataarray[5]+'</td><td>'+dataarray[3]+'</td>' +
            '<td align="center"><i name="'+deletename+'" class="remove-' + prefix + '-row fa fa-lg fa-trash-o" style="color: red"></i> </td></tr>';
            $('#contact-fields').show();
            $("#" + prefix + "-body").append(table);
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow = $('.' + prefix + '-row:not(:last)');
        conditionRow.hide();
        conditionRow.find('.fa.add-' + prefix + '-row')
            .removeClass('fa-plus-square').addClass('fa fa-minus-square').addClass('delicon')
            .removeClass('add-' + prefix + '-row').addClass('remove-' + prefix + '-row')
            .html(' ');
    }
}
function deleteForm(prefix, elem) {
    var btn = elem.attr('name');
    var selected = elem.attr('data-id');
    if (prefix == 'mission') {
        var index = mission_ids.indexOf(selected);
        if (index != -1) mission_ids.splice(index, 1);
    }
  var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
  console.log('In deleteForm - total', total);
  if (total > 1) {
        if(prefix === "contact"){
var del = elem.attr('name');
$('#id_'+del+'-contact_type').closest('.' + prefix + '-row').remove();

  }
    $('#id_'+btn).closest('.' + prefix + '-row').remove();
    var forms = $('.' + prefix + '-row');
    $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
    for (var i = 0, formCount = forms.length; i < formCount; i++) {
      $(forms.get(i))
        .find(':input')
        .each(function() {
          updateElementIndex(this, prefix, i);
        });
    }
  }

  return false;
}


// This function clones new form based on the user action (based on the prefix)
// function cloneMore(selector, prefix) {
//     var newElement = $(selector).clone(true);
//     var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
//     newElement.find(':input').each(function() {
//         var name = $(this).attr('name')
//         if(name) {
//             var selectedoption = $('#id_'+name+' option:selected').text();
//              var value = $('#id_'+name+' option:selected').val();
//              if(selectedoption != '') {
//                  console.log(selectedoption);
//                  var html = '<h6 style="border:1px black solid;padding:5px;margin: 5px;border-radius: 10px">' + selectedoption + '  <i name="' + name + '" class="remove-' + prefix + '-row fa fa-close" data-id="' + value + '"></i> </h6>';
//                  $("#"+prefix+"-fields").append(html);
//              }
//             name = name.replace('-' + (total-1) + '-', '-' + total + '-');
//             var id = 'id_' + name;
//             $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
//             $('#'+id).find('[value='+value+']').remove();
//         }
//     });
//     total++;
//     $('#id_' + prefix + '-TOTAL_FORMS').val(total);
//     $(selector).after(newElement);
//     var conditionRow = $('.'+ prefix + '-row:not(:last)');
//     conditionRow.hide();
//     conditionRow.find('.fa.add-' + prefix +'-row')
//     .removeClass('fa-plus-square').addClass('fa fa-minus-square').addClass('delicon')
//     .removeClass('add-' + prefix + '-row').addClass('remove-' + prefix + '-row')
//     .html(' ');
//     return false;
// }
//
// function deleteForm(prefix, btn) {
//   var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
//   if (total > 1) {
//     btn.closest('.' + prefix + '-row').remove();
//     var forms = $('.' + prefix + '-row');
//     $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
//     for (var i = 0, formCount = forms.length; i < formCount; i++) {
//       $(forms.get(i))
//         .find(':input')
//         .each(function() {
//           updateElementIndex(this, prefix, i);
//         });
//     }
//   }
//   return false;
// }
function validatecontact(){
    var valid = true;
    $('.contact-row').find(':input').each(function () {
        var name = $(this).attr('name');
        if (name !== undefined) {
              if (name.includes("contact_type")){
                if ($(this).val() === null) {
                    alert("Select Contact Type");
                    $(this).css("border-color","red");
                    valid = false;
                    return false;
                }
            }
            if (name.includes("first_name")){
                if ($(this).val() === '') {
                    alert("Provide First Name");
                    $(this).css("border-color","red");
                    valid = false;
                    return false;
                }
            }
            if(name.includes("last_name")){
                if ($(this).val() === '') {
                    alert("Provide Last Name");
                     $(this).css("border-color","red");
                    valid = false;
                    return false;
                }
            }
            if(name.includes("email_id")){
                if ($(this).val() === '') {
                    alert("Provide Email Address");
                  $(this).css("border-color","red");
                    valid = false;
                    return false;
                }
            }
            if(name.includes("work_phone")) {
                if ($(this).val() === '') {
                    alert("Provide Work Phone Number");
                    $(this).css("border-color", "red");
                    valid = false;
                    return false;
                }
            }
        }
    });

    return valid;
}


// function contactsubmit(){
//     var valid = true;
//     $('.contact-row').find(':input').each(function () {
//         var name = $(this).attr('name');
//         if (name !== undefined) {
//               if (name.includes("contact_type")){
//                 if ($(this).val() === null) {
//
//                     valid = false;
//                     return false;
//                 }
//             }
//             if (name.includes("first_name")){
//                 if ($(this).val() === '') {
//                     valid = false;
//                     return false;
//                 }
//             }
//             if(name.includes("last_name")){
//                 if ($(this).val() === '') {
//                     valid = false;
//                     return false;
//                 }
//             }
//             if(name.includes("email_id")){
//                 if ($(this).val() === '') {
//                     valid = false;
//                     return false;
//                 }
//             }
//             if(name.includes("work_phone")) {
//                 if ($(this).val() === '') {
//                     valid = false;
//                     return false;
//                 }
//             }
//         }
//     });
//
//     return valid;
// }
$(document).on('click', '.add-contact-row', function(e){
    e.preventDefault();
    // var validinput = validateForm();
   var initialcheck = validatecontact();
   if((initialcheck === true)) {
       $('.error').remove();
       cloneMore('.contact-row:last', 'contact');
       return ;
   }

});

$(document).on('click', '.add-mission-row', function(e){
    e.preventDefault();
    cloneMore('.mission-row:last', 'mission');
    return false;
});

$(document).on('click', '.remove-contact-row', function(e){
    e.preventDefault();
    $(this).closest('tr').remove();
    deleteForm('contact', $(this));
    return false;
});
$(document).on('click', '.remove-primary_mission-row', function(e){
    e.preventDefault();
    deleteForm('mission', $(this));
    return false;
});
$(document).on('click', '.remove-mission-row', function(e){
    e.preventDefault();
    $(this).parent().remove();
    deleteForm('mission', $(this));
    return false;
});
</script>
<script>
    $('#submit').click(function () {
        var smlast = $('.mission-row:last').find(':selected').text();
        if(smlast !='---------' && smlast != ""){
            alert('Please make sure to add the selected Secondary Mission value');
            // $('.community-row:last').find('select').val(' ');
            return false;
        }
    // e.preventDefault();
   // var submitcheck = contactsubmit();
   // if((submitcheck === true)) {
       if($('#terms').is(":checked")){
        return true;
    }
    else {
        alert("Please Accept the terms and conditions before submitting");
        return false;
    }
   // }
   // else{
       // alert("Add Contact Details");
       // return false;
   // }

});
    $(function(){
        function hideInputs() {
            $("label.control-label[for=id_k12_level], input#id_k12_level").hide();
            $("#id_k12_level").hide();
            console.log('label.control-label[for=id_k12_level], input#id_k12_level');
            }
        $("#id_community_type").on('change', function(){
            var val = $("#id_community_type").val();
            if (val === '2') {
               $("#id_k12_level").show();
               $("label.control-label[for=id_k12_level], input#id_k12_level").show();
            }
            else {
                hideInputs();
            }
        });
        hideInputs();
    });
</script>

<!--    Commenting out script per ticket #551
        Removing HTML validations as Validation Messages are coded in forms.py file
        -Joseph Nabity -->

<script>

// $('#submit').click(function () {
//     if($('#terms').is(":checked")){
//         return true;
//     }
//     else {
//         alert("Please Accept the terms and conditions before submitting");
//         return false;
//     }
// });

    function validateForm() {
        var valid = true;
        var id = event.target.id;
        var name = event.target.name;
        if (id.includes("work_phone")|| id.includes("cell_phone")){
            $('#'+id+'-error').remove();
        phoneMask(event)
        }
    function phoneMask(event) {
    const validPhoneFormat = (/((\(\d{3}\) ?))\d{3}-\d{4}/);
    const isPhoneFormatted = validPhoneFormat.test(event.target.value);

    if(!isPhoneFormatted) {
        const phoneInput = event.target.value.replace(/\D/g, "");
        const thirdPhoneDigit = 3;
        const sixthPhoneDigit = 6;
        const tenthPhoneDigit = 10;
        const phoneAreaCode = phoneInput.substring(0, thirdPhoneDigit);
        const phoneFirstThree = phoneInput.substring(thirdPhoneDigit, sixthPhoneDigit);
        const phoneLastFour = phoneInput.substring(sixthPhoneDigit, tenthPhoneDigit);
        if(event.target.value) {
            event.target.value = "(" + phoneAreaCode + ") " + phoneFirstThree + "-" + phoneLastFour;
        }
    }
}
            if(id.includes("country")||id.includes("city")|| id.includes("state") || id.includes("county")
            || id.includes("first_name") || id.includes("last_name")){
            if(!(document.getElementById(id).value).match(/^[a-zA-z ]*$/)){
                $('#'+id+'-error').remove();
                $('#'+id).after('<div class="error" style="color:red;text-align: left; margin-left: 25px; font-size: 14px;font-style: italic" id='+id +'-error >  Please enter alphabets  </div>');
                document.getElementById(id).style.borderColor = "red";
                return false;
            }
            else {
                document.getElementById(id).style.borderColor = "gray";
                $('#'+id+'-error').remove();
                return true;
            }
            }
              var numbers = /^(\()?\d{3}(\))?(-|\s)?\d{3}(-|\s)\d{4}$/;
    if (id.includes("work_phone") || id.includes("cell_phone")) {
    if (!(document.getElementById(id).value).match(numbers)) {
        console.log("good test");
        $('#'+id+'-error').remove();
        $('#'+id).after('<div class="error" style="color:sandybrown;text-align: left; margin-left: 25px; font-size: 14px;font-style: italic" id='+id +'-error >  Please enter numeric values </div>');
        document.getElementById(id).style.borderColor = "red";
        return false;
    }
    else {
        document.getElementById(id).style.borderColor = "gray";
        $('#'+id+'-error').remove();

        return true;
         }
    }

            if(id.includes("email_id")){
                if (! /\S+@\S+/.test(document.getElementById(id).value)){
                    $('#'+id+'-error').remove();
                    $('#'+id).after('<div class="error" style="color:sandybrown;text-align: left; margin-left: 25px; font-size: 14px;font-style: italic" id='+id +'-error >  Please enter valid email address </div>');
                    document.getElementById(id).style.borderColor = "red";
                     return false;
                }
                 else {
                 document.getElementById(id).style.borderColor = "gray";
                  $('#'+id+'-error').remove();

                  return true;
            }

            }

    }


</script>

<script>
 $(function () {
             $('[data-toggle="popover"]').popover()
         })
</script>

{% endblock %}

{% block js %}
{#<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>#}

<script>

    $('#id_website_url').keyup(function () {
        if (  ($(this).val().length >=5) && ($(this).val().substr(0, 5) != 'http:') && ($(this).val().substr(0, 5) != 'https') ) {
            $(this).val('https://' + $(this).val());
        }
    });

    $('#id_name').focus(function() {
        $('#id_name').css('border','1px solid #aaa');
    });

    $("#id_name").change(function () {
      var name = $(this).val();
      $.ajax({
        url: "{% url 'partners:ajax_load_community' %}",
        data: {
          'name': name
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert("A Community Partner with this name already exists");
            document.getElementById("id_name").value=("");
            document.getElementById("id_name").style.borderColor="red";
          }
        }
      });

    });

</script>

{% endblock %}
