{% extends 'home/base_home.html' %}
{% load bootstrap %}
{% block content %}

<style>
.btn-outline-info
{
    margin-left:20px;
}
@media (min-width: 700px)
{
.panel
{
width: 650px;
margin-left: auto;
margin-right:auto;
margin-top:80px;
height: relative;
}

input[type=email],input[type=text],.form-control
    {
        width:92%;
    }

.btn-custom
{
	position: relative;
	left:240px;
	width:120px;
}
}


@media (max-width: 600px)
{
h4
{

    font-size:1.3em
}

.panel-heading
{
    height:100px;
}
}

label
{
margin-left: 25px;
margin-top: 5px;
font-weight: bold;
}


</style>


<div class = "container">
    <div class = "panel panel-default">
		<div class="panel-heading text-center"><h4>Register Community Partner </h4></div>
			<div class="panel-body">

<div class="body">
<form action="../../../home/templates/home" method="post">
  {% csrf_token %}
  {{ community_partner_form.name |bootstrap }}
  {{ community_partner_form.website_url |bootstrap }}
  {{ community_partner_form.community_type |bootstrap }}
  {{ community_partner_form.k12_level |bootstrap }}
  {{ community_partner_form.address_line1 |bootstrap }}
  {{ community_partner_form.address_line2 |bootstrap }}
   <div class="row">
       <div class="col-4">
       {{ community_partner_form.county |bootstrap }}
       </div>
       <div class="col-4">
       {{ community_partner_form.city |bootstrap }}
       </div>
   </div>
   <div class="row">
       <div class="col-4">
       {{ community_partner_form.state |bootstrap }}
       </div>
       <div class="col-4">
       {{ community_partner_form.county |bootstrap }}
       </div>
   </div>
   <div class="row">
     <div class="col-4">
       {{ community_partner_form.zip |bootstrap }}
     </div>
   </div>
  {{ formset.management_form }}
      {% for form in formset %}
            <div class="row form-row spacer">
                <div class="col-12">
                    <label>Point of Contact Information</label>
                    <br>
                </div>
                <div class="input-group">
                   {{ form.contact_type|bootstrap }}
                </div>

                <div class="input-group">
                    <div class="row">
                        <div class="col-6">
                        {{ form.first_name|bootstrap }}
                        </div>
                        <div class="col-6">
                        {{ form.last_name|bootstrap }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                        {{ form.work_phone|bootstrap }}
                        </div>
                        <div class="col-6">
                        {{ form.cell_phone|bootstrap }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                        {{ form.email_id|bootstrap }}
                        </div>
                    </div>

                </div>
                <div class="input-group-append" >
                        <button class="btn btn-outline-info btn-sm add-form-row">Add more contacts</button>
                    </div>
            </div>
      {% endfor %}

  {{ formset_mission.management_form }}
      {% for form in formset_mission %}
            <div id="mission-form" class="row form1-row spacer">
                <div class="col-12">
                    <label>Mission Areas</label>
                    <br>
                </div>
                <div class="col-6">
                <div class="input-group">
                    <div class="row">
                        <div class="col-6">
                        {{ form.mission_type|bootstrap }}
                        </div>
                        <div class="col-6">
                        {{ form.mission_area|bootstrap }}
                        </div>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-info btn-sm add-form1-row">Add more Mission areas</button>

                    </div>
                </div>
                </div>
            </div>
      {% endfor %}

<p><button type="submit" class="btn btn-custom">Submit</button></p><br><br>

</form>

</div>
            </div></div></div>
<br>

{% endblock %}

{% block custom_js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript" , id="contact-form">
function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}
function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name')
        if(name) {
            name = name.replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        }

    });
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form-row').addClass('remove-form-row')
    .html('Remove');
    return false;
}
function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn.closest('.form-row').remove();
        var forms = $('.form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.add-form-row', function(e){
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
});
$(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
});
</script>

{% endblock %}

