{% extends 'home/Campus_Home.html' %}
{% load bootstrap %}
{% block content %}

<style xmlns="http://www.w3.org/1999/html">

h4
{
line-height: 2.7;
font-size: 1.3em;
}

label
{
margin-left: 25px;
margin-top: 5px;
font-weight: bold;
}

@media (min-width: 700px)
{
input[type=text],input[type=email]
{
width:92%
}
.btn-custom
{
left:280px;
}
}

</style>

<div class = "container">
    <div class ="row justify-content-md-center">
        <div class="col-xl-8 col-md-10 col-sm-10">
            <div class = "panel panel-default">
                <div class="panel-heading text-center"><h4><b>My Profile</b></h4></div>
                <div class="panel-body">
                    <div class="body">
                        <form  action="." id="id_avatar" method="post"  onfocusout="return validateForm()"  enctype="multipart/form-data">
                        {% if messages %}
                            <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        <br>
                        <div class="row justify-content-md-center">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class='media'>
                                <img class="rounded-circle account-img" src="{{ user.avatar.url }}" width="100">
                            </div>
                            <div class="form-group">
                                {% csrf_token %}
                                {{ avatar_form|bootstrap }}
                            </div>
                        </div></div>
                        {% for field in user_form %}
                            <div class="form-group">
                                <label for="{{field.name}}">{{field.label}}</label>
                                    <input type="text" class="form-control" name="{{field.label}}" id="{{field.name}}" value="{{field.value|default_if_none:''}}" required>
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <label for="campuspartnername">Campus Partner Name</label>
                            <input type="text" class="form-control" id="campuspartnername" value="{{campus_partner_name}}" disabled>
                        </div>
                        <p>
                        <button type="submit" class="btn btn-custom">Update</button>
                        </p>
                        <br><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <br><br>



<script>
function validateForm()
{ console.log("in form");
    var id = event.target.id;
    var name = event.target.name;
    console.log(id, name);
    if(id.includes("first_name") || id.includes("last_name")){
        console.log("in form 22");
    if(!(document.getElementById(id).value).match(/^[a-zA-z ]*$/)){
       $('#'+id+'-error').remove();
       $('#'+id).after('<div style="color:sandybrown;text-align: left; margin-left: 25px; font-size: 14px;font-style: italic" id='+id +'-error >  Please enter alphabets  </div>');
       document.getElementById(id).style.borderColor = "red";
       return false;
    }
    else {
         document.getElementById(id).style.borderColor = "gray";
         $('#'+id+'-error').remove();
         return true;
         }
    }
        if(id.includes("email")){
    if (! /\S+@\S+/.test(document.getElementById(id).value)){
        $('#'+id+'-error').remove();
        $('#'+id).after('<div style="color:sandybrown;text-align: left; margin-left: 25px; font-size: 14px;font-style: italic" id='+id +'-error >  Please enter valid email address </div>');
        document.getElementById(id).style.borderColor = "red";
        return false;
     }
    else {
       document.getElementById(id).style.borderColor = "gray";
       $('#'+id+'-error').remove();
       return true;
          }

    }

}


</script>

{% endblock %}
