{% extends 'home/base_home.html' %}
{% load bootstrap %}
{% block content %}
{% load wagtailcore_tags register_tags %}

    <style>
        @media screen and (max-width: 768px) {
            .select2 {
                width: 95% !important;
            }
        }
        .select2-container--default .select2-selection--single
        {
        {#border: 2px solid #aaa;#}
            height:35px;
            margin-left:3%;
            margin-right: -2%;
            max-width: 100%;
        }
        label
        {
            margin-left: 0px;
            font-weight: lighter;
        }
        {
            content:"*" ;
            color:red
        }
        h4
        {
            line-height: 2.7;
            font-size: 1.3em;
        }
        .h9{
            font-size:0.8em;
            font-style: italic;
        }
        .btn-link{
            font-size: small;
            font-style: italic;
        }
        .panel {
            margin-bottom: 20px;
            background-color: #ffffff;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        }
        select[id=id_form-0-campus_partner]
        {
            width:93%;
        }
        .btn-link, .btn-link:hover
        {
            color: #b60000;
        }
   .blackbutton{
        border-radius: .25rem;
}

        input[id=partner_name]{
            width:100%;
            margin-left: 10px;
            height: 40px;
        }
    </style>
<!--    <div class = "container">-->
        <div class="row justify-content-md-center">
            <div class="col-xl-12 col-md-12 col-sm-12">
                <br><br>
<!--                <div class = "panel panel-default" style="width:100%;margin-top: 50px" >-->
                    <div class=" text-center"><h3 class="heading">Register a Community Partner</h3></div>

                            <div class="card snippet-card">
                                <div class="text-snippet">
                                    {% com_part_user_regs %}
                                </div>
                             </div>

                    <div class="box">
                        <br><br>
<!--                        <label style="text-align: center">Enter text to search community partner</label>-->
                        <form method="POST" onsubmit="return false">{% csrf_token %}
                            <div class="row">
                                <div class="col-md-8">
                            <input style="margin-left: 0%" width="" id="partner_name" type="text" name="name_field" value="" required>
                                </div>
                                <div class="col-md-3">
<!--                            <div class="justify-content-md-center" >-->
                            <a id="next"class="btn btn-secondary" href="#" style="margin-left: 10%" role="button" onclick="checking();">Search</a>
                            </div>
                            </div>
<!--                        </div>-->
                        </form>

<!--                         <div class="right" style="margin-left: 40%; margin-right: 50%; margin-top: 0%; margin-bottom: 1%">-->
<!--                             <br><br>-->
<!--                             <a class="blackbutton" id="next"  href="#"  role="button" onclick="checking();setTimeout(5);"> Search</a>-->
<!--                         </div>-->
                    </div>

<!--                </div>-->
                <div class="row" style="margin-top:-30px; margin-left:-10px;margin-bottom:0px">
                <div id="node1-id" ></div>
         <div   id="button-id"></div>
                </div>
         <div>
            <div class="panel-body" style="margin-top: -40px;margin-left: 10px;width: 100%">&emsp;
                <div class="justify-content-md-center" id="node-id" style="margin-left: -10px;"></div>
            </div>
     </div>
            </div>

        </div>
<!--    </div>-->


<!--    <div class = "container">-->
<!--        <div class="row justify-content-md-center">-->
<!--            <div class="col-lg-10 col-md-10">-->
<!--                <div class="justify-content-md-center" id="node1-id" style="margin-left: 20%"></div>-->
<!--                    <div class="justify-content-md-center" id="button-id" style="margin-left: 0%"></div>-->
<!--                <div>-->
<!--                   <div class="panel-body">&emsp;-->
<!--                      <div class="justify-content-md-center" id="node-id" style="margin-left: 2%; margin-right: 2%"></div>-->
<!--                   </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    </div>-->


    {{ partnerNames | json_script:"partner-data"}}
<!--         {{ CommunityPartner.acronym }} -->

    <div style="margin-bottom: 300px; width: 100%;"></div>

    <script>
var valueFilter = document.getElementById("partner_name");
        //Press the listening button
valueFilter.addEventListener("keydown", function (e) {
     if (e.keyCode == 8) {
         document.getElementById('node-id'). innerHTML = "";
         document.getElementById('node1-id'). innerHTML = "";
         document.getElementById('button-id'). innerHTML = "";
       }
      });
        // the listening button off
        // document.getElementById("next").addEventListener("click", function (e) {
        valueFilter.addEventListener("keyup", function (e) {
            partners = JSON.parse(document.getElementById('partner-data').textContent);
            //get the input value
            var value = e.target.value.trim().toLowerCase();
            // var value = document.getElementById("partner_name").value;
            var partnerlist = [];
            var displayPartnersFlag = 2;
            if (value == "")
            {
                document.getElementById('node-id'). innerHTML = "";
                document.getElementById('node1-id'). innerHTML = "";
                document.getElementById('button-id'). innerHTML = "";
            }
            else if(!((value == "")))
            {
                partnerlist = [];
                function removeArticle(str){
                    words = str.split(" ");
                    if(words.length <= 1) return str;
                    if(words[0] == 'a' || words[0] == 'the' || words[0] == 'an'){
                        return words.splice(1).join(" ");
                    }
                    return str;
                }

                document.getElementById('next').onclick = function myfunction() {
                    document.getElementById('next').onclick= null;
                    for (var i = 0; i < partners.length; i++) {

                        value = removeArticle(value.toLowerCase());
                        if (partners[i].toLowerCase().includes(value)) {
                            if (!(partners[i] in partnerlist)) {
                                partnerlist.push(partners[i]);
                                <!--alert(partnerlist);-->
                                var mylist = '<table class="table table-hover table-sm table-bordered box">' +
                                    '<tr><th>Community Partner</th></tr>';
                                for (let j =0; j<partnerlist.length;j++ ){
                                    if(partnerlist[j].toLowerCase().trim() == value.toLowerCase().trim())
                                    {
                                        displayPartnersFlag = 1;
                                        <!--alert("I am inside flag 1");-->
                                        <!--break;-->
                                    }
                                    else
                                    {
                                        displayPartnersFlag = 0;
                                        <!--alert("I am inside flag 0");-->
                                        <!--break;-->
                                    }
                                    mylist +='<tr>' +
                                        '<td>' + partnerlist[j] + '</td>' +
                                            '</tr>'
                        }
                        mylist += '<table>';
                        document.getElementById('node-id').innerHTML =
                                    '<br>' +
                                    '<tr><td><label style="text-align:justify;">The following organizations are already registered as UNO community partners. Please ensure that the community partner that you intent to register is not in this list.</label></td></tr><br><br>' +
                                    {#'<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+ project_db[i].toString().split('(')[0] +'</td></tr>';#}
                                    {#'<table class="table table-hover table-sm table-bordered">' +#}
                                    {#'<tr><th>Community Partner</th></tr>' +#}
                                    {#'<tr><td>' + partnerlist.join("<br>") + '</td></tr>' +#}
                                    {#'<table>'#}
                                    mylist
                        document.getElementById('node1-id').innerHTML =
                                    '<br>' +
                                    '<tr></tr>' +
                                    '<tr><td><a class="btn btn-secondary" href={% url 'communitypublicreport' %} role="button" data-toggle="tooltip" title="Click on this button to access Community Partners already registered"> Community Partner Report</a><br><br></td></tr>'
                        if(displayPartnersFlag == 0){
                                    var PartnerName = document.getElementById('partner_name').value;
                                    <!--document.getElementById('nodel-id'). innerHTML = "";-->
                                    document.getElementById('button-id').innerHTML =
                                        '<br>' +
                                        '<tr></tr>' +
                                        '<tr><td><a class="btn btn-secondary" id="lnk-register_partner"  role="button" data-toggle="tooltip" title="Click on this button to register a new Community Partner"> Register the Community Partner</a><br><br></td></tr>'
                                    document.getElementById("lnk-register_partner").setAttribute("href","/partners/registerCommunityPartner?name=" + PartnerName);
                        }
                            }
                        }
                        }
                        if(displayPartnersFlag == 2)
                                {
                                    // alert("hi i am in 2");
                                    var PartnerName = document.getElementById('partner_name').value;
                                    <!--document.getElementById('node-id'). innerHTML = "";-->
                                    <!--document.getElementById('nodel-id'). innerHTML = "";-->
                                    document.getElementById('button-id').innerHTML =
                                        '<br>' +
                                        '<tr><td><label style="text-align:justify; padding-left:10px;padding-top:20px">This community organization is currently not listed as a UNO community partner in this database. Please click on ‘Register the Community Partner’ and proceed with the registration.</b></label> </td></tr><br /><br />' +
                                        '<tr><td><a class="btn btn-secondary" id="lnk-register_partner"  role="button" data-toggle="tooltip" title="Click on this button to register new community partner"> Register the Community Partner</a></td></tr>'
                                    document.getElementById("lnk-register_partner").setAttribute("href","/partners/registerCommunityPartner?name=" + PartnerName);
                                }
                    }
            };

                $('#id_college_name').select2({placeholder: 'All Colleges and Main Units',width: '75%',
                                    sorter: function(data) {
                                            /* Sort data using lowercase comparison */
                                            return data.sort(function (a, b) {
                                                a = a.text.toLowerCase();
                                                b = b.text.toLowerCase();
                                                if (a > b) {
                                                    return 1;
                                                } else if (a < b) {
                                                    return -1;
                                                }
                                                return 0;
                                            });
                                        }});
    });

        $("#dropdownMenuButton").on("click", function() {
  $('.dropdown-menu').toggleClass('open');
});
$(".dropdown-menu a").on("click", function() {
  $('#dropdownMenuButton').text($(this).text());
  $('.dropdown-menu').removeClass('open');
});
$("#button-id").on("click",function () {
    valueFilter.value ="";
})
$("#node1-id").on("click",function () {
    valueFilter.value = "";
})

// Submit when enter
function checking() {
    // var id_campus = document.getElementById('partner_name');
    if(($("#partner_name").val() === '')){
            caches.delete()
            alert("Please enter what you are searching for to proceed.");
            return false
        }
}
var input = document.getElementById("partner_name");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   document.getElementById("next").click();
  }
});
$("#dropdownMenuButton").on("click", function() {
$('.dropdown-menu').toggleClass('open');
});
$(".dropdown-menu a").on("click", function() {
  $('#dropdownMenuButton').text($(this).text());
  $('.dropdown-menu').removeClass('open');
});
$("#button-id").on("click",function () {
    valueFilter.value ="";
})
$("#node1-id").on("click",function () {
    valueFilter.value = "";
})
</script>


<script type="text/javascript">
   $(document).ready(function() {
   $('#example_filter').find('input').addClass('clearable');
               function tog(v){return v?'addClass':'removeClass';}
$(document).on('input', '.clearable', function(){
    $(this)[tog(this.value)]('x');
}).on('mousemove', '.x', function( e ){
    $(this)[tog(this.offsetWidth-18 < e.clientX-this.getBoundingClientRect().left)]('onX');
}).on('touchstart click', '.onX', function( ev ){
    ev.preventDefault();
    $(this).removeClass('x onX').val('').change();
    $('#example').DataTable().destroy();
    $('#example').DataTable().draw();
    $('#example_filter').find('input').addClass('clearable');
});
   } );
</script>

<script>
    $('#partner_name').addClass('clearable');
               function tog(v){return v?'addClass':'removeClass';}
$(document).on('input', '.clearable', function(){
    $(this)[tog(this.value)]('x');
}).on('mousemove', '.x', function( e ){
    $(this)[tog(this.offsetWidth-18 < e.clientX-this.getBoundingClientRect().left)]('onX');
}).on('touchstart click', '.onX', function( ev ){
    ev.preventDefault();
    $(this).removeClass('x onX').val('').change();
});
</script>




{% endblock %}