{% extends 'home/Community_Home.html' %}
{% load bootstrap %}
{% block content %}
    {% load staticfiles %}

<style>

.select2-arrow .select2-selection--single
{
    left: 1000px !important;
}

.form-control{
    width: 92% !important;
}
.select2-container--default .select2-selection--single
{
    {#border: 2px solid #aaa;#}
    height:35px;
    margin-left:4%;
    margin-right: -2%;
    max-width: 100%;
}

.select2-container--open .select2-dropdown--below
{
   margin-left:24px;
    width: 583px !important;
}

.btn-custom
{
    background-color: #636568;
    position: relative;
    width:90px;
    top:15px;
    font-family: Helvetica;
    left: 250px;
}
.btn-custom:hover
{
    background-color:#bbbbbb;
}
.form-control
{
    width:92%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:0px 0 8px 4px;
    outline:none;
    padding:3px;
    box-sizing:border-box;
    transition:.3s;
    margin-left: 22px;
}
.form-control:focus
{
   border-color:grey;
   box-shadow:0 0 8px 0 grey;
}
body
{
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: medium;
   position: relative;
}
.panel
{
    width: 650px;
    margin-left: auto;
    margin-right:auto;
    margin-top:80px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.panel-default > .panel-heading
{
background-color: #636568;
}
.panel-heading
{
  height:60px;
  margin-top:5px;
  border-radius: 5px;
}
.panel
{
  border-radius: 5px;
}
h4
{
  line-height: 2.7;
  font-size: 1.3em;
}
label
{
margin-left: 25px;
margin-top: 5px;
font-weight: bold;
}
</style>

<div class = "container">
  <div class = "panel panel-default">
    <div class="panel-heading text-center"><h4>Organization Profile</h4></div>
      <div class="panel-body">
        <div class="body">
          <form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
            {% if messages %}
             <ul class="messages">
            {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}

          {{ community_org_form.name|bootstrap }}
          {{ community_org_form.website_url|bootstrap }}
          {{ community_org_form.community_type|bootstrap }}
          {{ community_org_form.k12_level|bootstrap }}
          {{ community_org_form.address_line1|bootstrap }}
          {{ community_org_form.city|bootstrap }}
          {{ community_org_form.county|bootstrap }}
          {{ community_org_form.state|bootstrap }}
           {{ community_org_form.zip|bootstrap }}
          {{ community_org_form.country|bootstrap }}


            <p>
              <button type="submit" class="btn btn-custom">Update</button>
            </p>
            <br><br>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>

{% endblock %}


{% block selectizeForm %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
    <script>
$(document).ready(function(){
    $('#id_community_type').select2({border:'2px solid #aaa'});
});
</script>
{% endblock %}
{% block js %}
<script type="text/javascript">
    document.getElementById('id_name').readOnly = true;
</script>
{% endblock %}

