{% extends 'home/Community_Home.html' %}
{% load bootstrap %}
{% block content %}

<style xmlns="http://www.w3.org/1999/html">

h4
{
  line-height: 2.7;
  font-size: 1.3em;
}
label
{
margin-left: 25px;
margin-top: 5px;
font-weight: bold;
}

@media (min-width: 700px)
{
input[type=text],input[type=email]
{
width:92%
}
.btn-custom
{
left:280px;
}
}
</style>

<div class = "container">
  <div class ="row justify-content-md-center">
        <div class="col-xl-8 col-md-10 col-sm-10">
  <div class = "panel panel-default">
      <div class="panel-heading text-center"><h4><b>My Profile</b></h4></div>
      <div class="panel-body">
        <div class="body">
          <form action="." id="id_avatar" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if messages %}
             <ul class="messages">
            {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}

            <br>
            <div class="row justify-content-md-center">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class='media'>
                        <img class="rounded-circle account-img" src="{{ user.avatar.url }}" width="100">
                    </div>
                    <div class="form-group">
                        {% csrf_token %}
                        {{ avatar_form|bootstrap }}
                    </div>
                </div>
            </div>

            {% for field in user_form %}
            <div class="form-group">
              <label for="{{field.label}}">{{field.label}}</label>
              <input type="text" class="form-control" name="{{field.name}}" id="{{field.label}}" value="{{field.value|default_if_none:''}}" required>
            </div>
            {% endfor %}

            <div class="form-group">
              <label for="communitypartnername">Community Partner Name</label>
              <input type="text" class="form-control" id="communitypartnername" value="{{community_partner_name}}" disabled>
            </div>
            <p>
              <button type="submit" class="btn btn-custom">Update</button>
            </p>
            <br><br>
          </form>
        </div>
      </div>
    </div>
        </div></div></div>
  <br><br><br>

{% endblock %}