{% extends 'home/Community_Home.html' %}
{% load bootstrap %}
{% block content %}

<style xmlns="http://www.w3.org/1999/html">
.btn-custom
{
    background-color: #C0C0C0;
    position: relative;
    width:90px;
    top:15px;
    font-family: Helvetica;
    left: 250px;
}
.btn-custom:hover
{
    background-color:#D3D3D3;
}
.form-control
{
    width:92%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:0px 0 8px 4px;
    outline:none;
    padding:3px;
    box-sizing:border-box;
    transition:.3s;
    margin-left: 22px;
}
.form-control:focus
{
   border-color:grey;
   box-shadow:0 0 8px 0 grey;
}
body
{
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: medium;
   position: relative;
}
.panel
{
width: 650px;
margin-left: auto;
margin-right:auto;
margin-top:80px;
height: relative;
font-family: Helvetica;
box-shadow: 5px 10px 20px 5px grey;
}
.panel-default > .panel-heading
{
background-color: #b8b8b8;
}
.panel-heading
{
  height:60px;
  margin-top:5px;
  border-radius: 5px;
}
.panel
{
  border-radius: 5px;
}
h4
{
  line-height: 2.7;
  font-size: 1.3em;
}
label
{
margin-left: 25px;
margin-top: 5px;
font-weight: bold;
}
</style>

<div class = "container">
  <div class = "panel panel-default">
    <div class="panel-heading text-center"><h4>Organization Profile</h4></div>
      <div class="panel-body">
        <div class="body">
          <form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
            {% if messages %}
             <ul class="messages">
            {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            <!--<div class="col-md-12">-->
              <!--<h3>OrganiZation Information</h3>-->
            <!--</div>-->
            {% for field in community_org_form %}
              {% if field.label == "Name" %}
                <div class="form-group">
                  <div class="row">
                    <div class="control-label col-md-4">
                      <label for="{{field.label}}">Organization Name</label>
                    </div>
                    <div class = "col-md-8">
                      <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{field.name}}" id="{{field.label}}" value="{{field.value|default_if_none:''}}" readonly>
                    </div>
                  </div>
                </div>
              {% elif field.label == 'Website url' %}
                <div class="form-group">
                  <div class="row">
                    <div class="control-label col-md-4">
                      <label for="{{field.label}}">Website URL</label>
                    </div>
                    <div class = "col-md-8">
                      <input type="{{ field.field.widget.input_type }}" required class="form-control" name="{{field.name}}" id="{{field.label}}" value="{{field.value|default_if_none:''}}">
                    </div>
                  </div>
                </div>
              {% elif field.label == 'Address line1' %}
                <div class="form-group">
                  <div class="row">
                    <div class="control-label col-md-4">
                      <label for="{{field.label}}">Address Line 1</label>
                    </div>
                    <div class = "col-md-8">
                      <input type="{{ field.field.widget.input_type }}" required class="form-control" name="{{field.name}}" id="{{field.label}}" value="{{field.value|default_if_none:''}}">
                    </div>
                  </div>
                </div>
              {% elif field.label == 'Address line2' %}
                <div class="form-group">
                  <div class="row">
                    <div class="control-label col-md-4">
                      <label for="{{field.label}}">Address Line 2</label>
                    </div>
                    <div class = "col-md-8">
                      <input type="{{ field.field.widget.input_type }}" required class="form-control" name="{{field.name}}" id="{{field.label}}" value="{{field.value|default_if_none:''}}">
                    </div>
                  </div>
                </div>
              {% elif field.label == 'Community type' %}
                <div class="form-group">
                  <div class="row">
                    <div class="control-label col-md-4">
                      <label for="{{field.label}}">Community Type</label>
                    </div>
                    <div class = "col-md-8">
                      <select class="form-control" id="{{field.id}}" name="{{field.name}}" readonly>
                        {% for x,y in field.field.choices  %}
                          <option value="{{ x }}"{% if field.value == x %} selected {% else %} disabled {% endif %}>{{ y }} </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              {% elif field.label == 'K12 level' and org_type == "K12"%}
                <div class="form-group">
                  <div class="row">
                    <div class="control-label col-md-4">
                      <label for="{{field.label}}">K12 Level</label>
                    </div>
                    <div class = "col-md-8">
                      <input type="{{ field.field.widget.input_type }}" required class="form-control" name="{{field.name}}" id="{{field.label}}" value="{{field.value|default_if_none:''}}">
                    </div>
                  </div>>
                </div>
              {% else %}
                {% if field.label == 'K12 level' %}
                  <div></div>
                {% else %}
                  <div class="form-group">
                    <div class="row">
                      <div class="control-label col-md-4">
                        <label for="{{field.label}}">{{field.label}}</label>
                      </div>
                      <div class = "col-md-8">
                        <input type="{{ field.field.widget.input_type }}" required class="form-control" name="{{field.name}}" id="{{field.label}}" value="{{field.value|default_if_none:''}}">
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}
            
            <div class="col-md-12">
              <h3>Contacts Information</h3>
            </div>
            {% for field in contacts_form %}
              {% if field.label == "Contact type" %}
                <div class="form-group">
                  <div class="row">
                    <div class="control-label col-md-4">
                      <label for="{{field.label}}">Contact Type</label>
                    </div>
                    <div class = "col-md-8">
                      <select class="form-control" id="{{field.id}}" name="{{field.name}}">
                        {% for x,y in field.field.choices  %}
                          <option value="{{ x }}"{% if field.value == x %} selected{% endif %}>{{ y }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              {% else %}
                <div class="form-group">
                  <div class="row">
                    <div class="control-label col-md-4">
                      <label for="{{field.label}}">{{field.label}}</label>
                    </div>
                    <div class = "col-md-8">
                      <input type="{{ field.field.widget.input_type }}" required class="form-control" name="{{field.name}}" id="{{field.label}}" value="{{field.value|default_if_none:''}}">
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

            <div class="col-md-12">
              <h3>Missions Information</h3>
            </div>
            {% for field in missions_form %}
              <div class="form-group">
                <div class="row">
                  <div class="control-label col-md-4">
                    <label for="{{field.label}}">{{field.label}}</label>
                  </div>
                  <div class = "col-md-8">
                    <select class="form-control" id="{{field.id}}" name="{{field.name}}">
                      {% for x,y in field.field.choices  %}
                        <option value="{{ x }}"{% if field.value == x %} selected{% endif %}>{{ y }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            {% endfor %}

            <p>
              <button type="submit" class="btn btn-custom">Update</button>
            </p>
            <br><br>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>

{% endblock %}