{% extends 'home/base_home.html' %}
{% load bootstrap %}
{% load wagtailcore_tags register_tags %}
{% block content %}

<style xmlns="http://www.w3.org/1999/html">

h4
{
  line-height: 2.7;
  font-size: 1.3em;
}
label
{
margin-left: 25px;
margin-top: 5px;
font-weight: bold;
}

@media (min-width: 700px)
{
input[type=text],input[type=email]
{
width:92%
}
.btn-custom
{
left:280px;
}

}

label[for=first_name]:after,label[for=last_name]:after,label[for=email]:after
{
    content:"*" ;
    color:red
}

.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
</style>

<div class = "container">
  <div class ="row justify-content-md-center">
        <div class="col-xl-8 col-md-10 col-sm-10">
  <div class = "panel panel-default">
      <div class="panel-heading text-center"><h4>My Profile</h4></div>
      <div class="panel-body">
      <div class="card" style="padding: 10px;border-left-color: transparent; border-right-color: transparent; border-top-color: transparent;">
                <div class="container">
                    {% part_user_prof_ups %}
                </div>
      </div>
        <div class="body">
          <form action="." id="id_avatar" method="post" enctype="multipart/form-data">
            <br>
{#            <div class="row justify-content-md-center">#}
{#                <div class="col-lg-3 col-md-4 col-sm-12">#}
{#                    <div class='media'>#}
{#                        <img class="rounded-circle account-img" src="{{ user.avatar.url }}" width="100" alt="Avatar">#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        {% csrf_token %}#}
{#                        {{ avatar_form.avatar|bootstrap }}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            {% csrf_token %}
            {% for field in user_form %}
            <div class="form-group">
              <label for="{{field.name}}">{{field.label}}</label>
              <input type="text" class="form-control" name="{{field.name}}" id="{{field.name}}" value="{{field.value|default_if_none:''}}" required>
            </div>
               {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
            {% endfor %}

            <p>
              <button type="submit" class="btn btn-custom"><i class="fa fa-refresh" aria-hidden="true"></i> Update</button>
            </p>
            <br><br>
          </form>
        </div>
      </div>
    </div>
        </div></div></div>
  <br><br><br>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        document.getElementById('email').readOnly = true;
    </script>
{% endblock %}