<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>Community Partnership Initiative</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="{% static 'css/uno.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/unofooter.css' %}" rel="stylesheet" type="text/css">
  <!--link href="{% static 'css/fontawesome.css' %}" rel="stylesheet" type="text/css"-->
  <link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/uno.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

<style>


footer {
  padding: 25px 0;
  text-align: center;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  /*color:#999;*/
}

</style>
</head>



<!-- Header-->

  <div class="collapse navbar-collapse">
  </div>
  <div id="header" class="texty" style="height: 100px; background-color:black;">
    <div class="main-header clearfix">
      <div class="inner-content">
        <div class="substitute-logos">
          <a href="#"><img alt="University Of Nebraska at Omaha" src="https://www.unomaha.edu/_files/images/logo-subsite-o-2.png"></a>
          <p id="uno"><b>University of Nebraska Omaha</b></p>
        </div>
	  </div>
   </div>
</div>


<!-- Header ends-->




<!-- Navbar -->

<nav class="navbar navbar-inverse fixed-top" id="Nav">
    <div class="visible-mobile" id="menu-toggle">
    	<a class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" href="#" id="m_header-toggler">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    <!--div class="collapse navbar-collapse"-->
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand js-scroll-trigger" href="/">Community Partnership Initiative</a>
      </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="glyphicon glyphicon-user"></span> Sign Up <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href='#'>Campus Partner</a></li>
          <li><a href="#">Community Partner</a></li>
        </ul>
      </li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>



    <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="#">Dashboard</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact Us</a></li>
    </ul>


  </div>
 </div>
</nav>


<!-- Navbar Ends-->





<div class="container">

{% block content %}

{% endblock %}

</div>



<footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Community Partnership Initiative 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>



</body>
</html>