<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>Community Partnership Initiative</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        #menu-toggle
        {
		 display: table-cell !important;
		 vertical-align: middle;
	    }
	    /*replaces .hide*/
        .visible-mobile
        {
	        display:none;
	    }
    </style>
</head>
<body>

    
<div class="card mb-3">
  <img class="card-img-top" alt="University of Nebraska at Omaha" src="https://www.unomaha.edu/_files/images/logo-subsite-o-2.png">
    <a href="#">University of Nebraska Omaha</a>
  <div class="card-body">
      {% block content %}
      {% endblock%}
  </div>
</div>

</body>
</html>
