{% extends 'home/base_home.html' %}

{% load bootstrap %}

{% block content %}

<div class="container">
  <div class="row">
    <h1>Create an account</h1>
    <h3>Please sign up using the following Campus Partner Registration form:</h3>
  </div>

  <div class="row">
    <form action="." method="post">
      {% csrf_token %}
      {{ campus_partner_form|bootstrap }}
      {{ university_form|bootstrap }}
      {{ contact_form|bootstrap }}
      <button type="submit" class="btn btn-primary">Create Campus Partner</button>
    </form>
  </div>
</div>
<script type="text/javascript">
    var university_data = {% autoescape off %}{{university_data}}
    {% endautoescape %};
    $(document).ready(function () {
    	 $('#id_name').change(function() {
            var university_id = parseInt(this.value);
            $.each(university_data, function(index, univ){
            	if (univ.id == university_id){
            		$('#id_college').attr('disabled', false);
            		var html = "<option value=" + univ.college +" selected>"+ univ.college+"</option>";
            		$('#id_college').html(html);
            		$('#id_department').attr('disabled', false);
            		$('#id_department').val(univ.department);
            	}
            });
         });
    });
</script>
{% endblock %}