{% extends 'home/base.html' %}

{% load bootstrap %}

{% block content %}

<div class="container">
  <div class="row">
    <h1>Create an account</h1>
    <h3>Please sign up using the following Campus Partner Registration form:</h3>
  </div>

  <div class="row">
    <form action="." method="post">
      {% csrf_token %}
      {{ campus_partner_form|bootstrap }}
      {{ university_form|bootstrap }}
      {{ contact_form|bootstrap }}
      <button type="submit" class="btn btn-primary">Create Campus Partner</button>
    </form>
  </div>
</div>
{% endblock %}
  
