<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>Community Partnership Initiative</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <link href="{% static 'css/Navigation.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/about.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/footer.css' %}" rel="stylesheet" type="text/css">



<style>

#contact
{
background: #D3D3D3;
}

</style>

</head>


<body>


<!-- Navbar Begins-->


<nav class="navbar navbar-expand-md navbar-custom sticky-top">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#target" id="Menu">Menu</button>
    <div class="collapse navbar-collapse" id="target">
        <a class="navbar-brand" href="/"><b>Community Partnership Initiative</b></a>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
            <li class=""><a href="#">Hello, {{user.username}}</a></li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-map-pin"></i>Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#impact"><i class="fa fa-home"></i>Impact</a>
                </li>
                <!--li class=" nav-item dropdown">
                    <a class= "nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">
                        <i class="fa fa-globe"></i>Register
                        <span class="caret"></span>
                    </a>
                <div class="dropdown-menu" aria-labelledby="dropdown_target">
                    <a class="dropdown-item" href="{% url 'partners:registerCampusPartner' %}">Campus Partner</a>
                    <a class="dropdown-item" href='/registerCommunityPartner/'>Community Partner</a>
                </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/signupuser/'><i class="fa fa-user"></i>SignUp</a>
                </li-->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-power-off"></i>Logout</a>
                </li>
                {% endif %}
            </ul>
    </div>
</nav>


<!-- Navbar ends-->


</body>
</html>