{% extends 'home/Dashboard_Extension.html' %} {% load staticfiles %} {% block content %}


    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
    <link href="{% static 'css/Sidebar.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <style>


        #sidebar {
            background-color: #333;
        }

        .btn-primary {
            background-color: #bbbbbb;
            border-color: #333;
        }

        .btn .btn-primary:active, .btn-primary:focus, .btn-primary:hover
        {
            border-color: #484848;
            background-color: #484848;
        }

        .btn-custom1
        {
            position:absolute;
            top:5px;
            left:45px;
            border-color: #484848;
            background-color: #ce2029;
            color:White;
            z-index:999;
        }


        .active .btn-custom1
        {
        left:40px;
        background-color: #ce2029;
        }


        .btn-custom1:hover
        {
        background-color: #bbbbbb;
        border-color: #333;
        }


        .btn-custom1:focus
        {
            box-shadow: 0 0 0 0;
        }


        a {
            color: #fff;
            text-decoration: none;
        }

        a:hover
        {
            color:#fff;
        }

        {#.mapboxgl-map:-webkit-full-screen#}
        {#{#}
        {#      width: 100%;#}
        {#      height: calc(100vh -150px);#}
        {#      margin: 0px 0 0 0;#}
        {##}
        {#}#}


        .map {
            position: relative;
            width: 100%;
            height: calc(100vh - 150px);
            margin: 0px 0 0 0;
        }


        input[type=text]
        {
            margin-left:0px;
            width:210px;
            margin-top: 0px;
        }

        select[id=selectDistrict]
        {
            width:85%;
            border:2px solid #aaa;
            border-radius:4px;
            outline:none;
            padding:4px;
            box-sizing:border-box;
            transition:.3s;
            margin-left: 0px;
            margin-top: 5px;
            width: 210px;
            margin-bottom: 15px;
        }

        select[id=selectDistrict]:focus
        {
            border-color:grey;
            box-shadow:0 0 8px 0 grey;
        }
        select[id=selectCommtype]
        {
            width:85%;
            border:2px solid #aaa;
            border-radius:4px;
            outline:none;
            padding:4px;
            box-sizing:border-box;
            transition:.3s;
            margin-left: 0px;
            margin-top: 5px;
            width: 210px;
            margin-bottom: 15px;
        }
        select[id=selectCampus]
        {
            width:85%;
            border:2px solid #aaa;
            border-radius:4px;
            outline:none;
            padding:4px;
            box-sizing:border-box;
            transition:.3s;
            margin-left: 0px;
            margin-top: 5px;
            width: 210px;
            margin-bottom: 15px;
        }

        select[id=selectYear]
        {
            width:85%;
            border:2px solid #aaa;
            border-radius:4px;
            outline:none;
            padding:4px;
            box-sizing:border-box;
            transition:.3s;
            margin-left: 0px;
            margin-top: 5px;
            width: 210px;
            margin-bottom: 15px;
        }

        select[id=selectCollege]
        {
            width:85%;
            border:2px solid #aaa;
            border-radius:4px;
            outline:none;
            padding:4px;
            box-sizing:border-box;
            transition:.3s;
            margin-left: 0px;
            margin-top: 5px;
            width: 210px;
            margin-bottom: 15px;
        }


        .h2 {
            display: block;
            font-size: 1.7em;
            margin-top: 0.25em;
            margin-bottom: 0.67em;
            margin-left: 450px;
            margin-right: 0;
            font-weight: bold;
        }

        .filter{
            position: absolute;
            right: 20px;
            top: 120px;
        }

        .selectType{
            width: 200px;
            height: 30px;
            font-size: 20px;
            top: 150px;
            left: 1100px;
        }


        .legend {
            background-color: #bbbbbb;
            border-radius: 10px;
            box-shadow: 0 1px 2px rgba(0,0,0,0.10);
            font: 13px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
            position:relative;
            left:10px;
            right: 10px;
            padding: 10px;
            color: white;
            width:230px;

        }

        .legend h4 {
            margin: 0 0 5px;
            color: white;
            font-size: 14px;
        }

        .legend div span {
            border-radius: 100%;
            display: inline-block;
            height: 13px;
            margin-right: 10px;
            width: 13px;
        }

        .legend-key {
            display: inline-block;
            border-radius: 20%;
            width: 10px;
            height: 10px;
            margin-right: 5px;
        }

        .filter-ctrl {
            position: absolute;
            top: 220px;
            right: 20px;
            width: 230px;
            height: 50px;
        }

        .filter-ctrl input[type=number] {
            font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
            width: 100%;
            border: 0;
            background-color: #fff;
            height: 100px;
            margin: 0;
            color: rgba(0,0,0,0.8);
            padding: 10px;
            box-shadow: 0 0 0 6px rgba(0,0,0,0.5);
            border-radius: 3px;
            height: 70px;
        }

        .heading {
            background: #fff;
            border-bottom: 1px solid #eee;
            height: 60px;
            line-height: 60px;
            padding: 0 10px;
        }

        .listings {
            background: #fff;
            height: 100%;
            overflow: auto;
            padding-bottom: 60px;
        }


        .listings .item {
            display: block;
            border-bottom: 1px solid #eee;
            padding: 10px;
            text-decoration: none;
        }

        .listings .item:last-child { border-bottom: none; }
        .listings .item .title {
            display: block;
            color: #00853e;
            font-weight: 700;
        }

        .listings .item .title small { font-weight: 400; }

        .listings .item.active .title,
        .listings .item .title:hover { color: #8cc63f; }

        .listings .item.active {
            background-color: #f8f8f8;
        }

        h3
        {
            text-align:center;

        }

        #overlay-text
        {
            z-index: 999;
            width: 370px;
            position: absolute;
            top:70px;
            right: 75px;
            color:White;
            height:50px;
            text-align:justify;
            opacity: .8;
            height:80px;
            line-height:1.6;
        }

        #overlay-header
        {
            z-index: 999;
            width: 430px;
            position: absolute;
            background-color: #282828;
            display:block;
            top:10px;
            right: 50px;
            color:White;
            text-align:center;
            opacity: .9;
            height:130px;
            line-height:2.2;
            box-shadow: 5px 10px 10px 5px grey;
        }

        .select2-container--default .select2-selection--single
        {
            width:100%
        }

        .select2-container--open .select2-dropdown--below
        {

        }
        .container-fluid
        {
            padding-left:0px;
            padding-right:0px;
        }

        .card
        {
            border-radius:0px;
        }
        a#websitelink:link {
            color: #d71920;
            background-color: transparent;
            text-decoration: underline ;
        }

        a#websitelink:link.active{
            color: #d71920;
            background-color: transparent;
            text-decoration: underline ;
        }
    .fa{
    font-size: 15px;

    }

     @media (max-width:575px) {
    .fleft, .fright {
        border:none!important;
    }
          label {
        font-size: 14px;
    }
}

    .footertext {
        margin-top:8px;
        margin-left: 165px;
        width: 100%;
        text-align: left;
        margin-right: 165px;
    }

    hr {
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border:0;
      border-top: 1px solid;
      color:#BABABA
    }

    .fleft {
        color:#BABABA!important;
        border: solid;
        border-width: 1px;
        border-top: 0;
        border-bottom:0;
        border-left:0;
        padding: 2px 6px;
        font-size:10px;
        display: inline-block;
    }

    .fright {
        color:#BABABA;
        border: solid;
        border-width: 1px;
        border-top: 0;
        border-bottom:0;
        border-right:0;
        padding: 2px 6px;
        font-size:10px;
        display: inline-block;
    }

    .fcenter {
        color:#BABABA;
        font-size:12px;
    }

    .fleft:hover, .fright:hover, .fcenter:hover{
        color:white !important;
        text-decoration: none;
    }

    .break {
        display: inline;
    }

    @media (max-width: 992px) {
    .col-sm-2 {
        margin-left: 0!important;
    }
    .footertext {
        margin-left: 15px!important;
        margin-right: 15px!important;
    }
    .break {
        display: block!important;
    }

    .fimg {
        width:100%!important;

    }
}
    </style>

    <div class="wrapper">
        <nav id="sidebar" style="height: 115%">
            <div class="row" style="border-bottom: 1px solid grey; height:60px;">
                <div class="col-lg-6 col-md-6">
                    <h3 style="padding:15px;text-align:left; font-size:25px; background-color: #333">Filters</h3>
                </div>
                <div class="col-lg-6 col-md-6" style="padding:15px;">
                    <button type="button" class="btn btn-primary" style="margin-left:10px;" id="reset">
                        Reset
                    </button>
                </div>

            </div>


            <div id='state-legend' class='legend'>
                <h4>Mission Areas</h4>
                <div id='missionAreaFilters' style="border-bottom: 1px solid grey; padding-bottom:5px;">
                </div>
                <select style="margin-top:10px;" id="selectCommtype" class="selectCommtype"></select>
                <select id="selectCollege" class="selectCollege"></select>
                <select id="selectCampus" class="selectCampus"></select>
                <select id="selectYear" class="selectYear"></select>
                <select  id="selectDistrict" class="selectDistrict"></select>
                <div style="padding-top:10px;border-top: 1px solid grey;">
                    <input id='valueFilter' type='text' placeholder='Search Community Partner' />
                </div>
            </div>

        </nav>

        <div id="content">
            <div class = "container-fluid" style="margin-top:78px;">
                <div class="row justify-content-md-center">
                    <div class="col-xl-12 col-md-12 col-sm-12">
                        <div class="card" style="padding: 5px;background-color:#333;color:White;font-size:20px;font-family:Helvetica;text-align:center;">
                            <div class="row">
                                <div class="col-lg-1 col-md-1">
                                    <button type="button" id="sidebarCollapse" class="btn btn-custom1"><i class="fa fa-align-justify"></i>
                                        <span></span>
                                    </button>
                                </div>
                                <div class="col-lg-4 col-md-5">
                                    <div style="box-sizing: border-box;padding:5px;">
                                        <label><b>Maps: Community Partners</b>
                                            {% for data_definition in data_definition %}{% if data_definition.id == 45 %}
                                                <span id="partner_help" tabindex="-1" data-toggle="popover" data-trigger="focus"   data-content="{{ data_definition.description }}" class="float" ><i class="fa fa-info-circle fa-align-right fa-3x" aria-hidden="true"></i></span>{# </span> #}
                                            {% endif %}{% endfor %}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div style="box-sizing: border-box; padding:5px;">
                                        <label><b>Number of Community Partners: </b><b id = "totalnumber">{{ number }}</b>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div id='map_canvas' class='map'>
                                {{ districtData | json_script:"district-data"}}
                                {{ collection | json_script:"commPartner-data"}}
                                {{ Missionlist | json_script:"missionlist"}}
                                {{ CommTypeList | json_script:"CommTypelist"}}
                                {{ Campuspartner | json_script:"campusPartner-list"}}
                                {{ year | json_script:"year-list" }}
                                {{ College | json_script:"collegename-list"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer >
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-2" style="margin-top:8px; text-align: left; margin-left: 150px">
                            <span><a class="fleft" href="https://www.unomaha.edu/campus-policies/index.php">UNIVERSITY POLICIES</a></span>
                            <span><a class="fleft" href="https://www.unomaha.edu/campus-policies/privacy-policy.php">PRIVACY POLICY</a></span><br>
                            <span><a href="/"><img class="fimg" style="font-size:10px; padding: 4px 8px;max-width:161px;max-height:49px" src="{% static 'img/uno-footer.png' %}" alt="UNO Logo"></a></span>
                      </div>

                      <div class="col-sm-6" style="margin-top:10px;text-align: left;"><hr>
                            <span><a class="fcenter" href="https://www.google.com/maps/place/University+of+Nebraska+Omaha/@41.2582497,-96.0107049,15z/data=!4m5!3m4!1s0x0:0x4dbea6a55857784f!8m2!3d41.2582497!4d-96.0107049">
                                   University of Nebraska Omaha,<span class="break"></span>
                                   6001 Dodge Street,<span class="break"></span>
                                   Omaha, NE, 68182 &nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i>
                                  </a></span><br>
                            <span><a class="fleft" style="font-size: 12px;">
                                    <script type="text/JavaScript">
                                            document.write("&copy; "+new Date().getFullYear());
                                    </script></a></span><span class="break"></span>
                            <span><a class="fleft" style="font-size: 12px;" href="https://www.unomaha.edu/emergency/index.php">Emergency Information Alert</a></span><span class="break"></span>
                            <span><a class="fleft" style="font-size: 12px; border-right:0" href="https://www.unomaha.edu/report-a-concern/index.php">Report an Incident or Concern</a></span>
                      </div>

                      <div class="col-sm-2" style="margin-top:8px; text-align: left;">
                            <span><a class="fright" href="mailto:partnerships@unomaha.edu">CONTACT US</a></span>
                            <span><a class="fright" href="https://unocpi.s3.amazonaws.com/documents/User_Manual.pdf" target="_blank">USER MANUAL</a></span>
                      </div>

                      <div class="footertext"><hr></div>

                      <div class="footertext" style="line-height:1"><a style="color:#BABABA; font-size:10px;">
                            The University of Nebraska does not discriminate based on race,
                            color, ethnicity, national origin, sex, pregnancy, sexual orientation,
                            gender identity, religion, disability, age, genetic information,
                            veteran status, marital status, and/or political affiliation in its programs,
                            activities, or employment. Learn more about Equity, Access and Diversity.</a>
                      </div>

                      <div class="footertext"><hr></div>
                    </div>
                  </div>
            </footer>

        </div>
    </div>


    <<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js"></script>#}
    <script type="text/javascript" src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.js"></script>

    <script type="text/javascript" src='{% static "js/communityPartner.js" %}'></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
     <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>


{% endblock %}