{% extends 'home/base_home.html' %}
{% load bootstrap %}
{% block content %}

<style>

@media (min-width: 700px)
{
.panel
{
width: 650px;
margin-left: auto;
margin-right:auto;
margin-top:80px;
height: relative;
}

input[type=email],input[type=text],.form-control
    {
        width:92%;
    }

.btn-custom
{
	position: relative;
	left:240px;
	width:120px;
}
}


@media (max-width: 600px)
{
h4
{
    font-size:1.3em
}

.panel-heading
{
    height:100px;
}
}

label
{
margin-left: 25px;
margin-top: 5px;
font-weight: bold;
}


</style>


<div class = "container">
    <div class = "panel panel-default">
		<div class="panel-heading text-center"><h4>Register Your Community Organization</h4></div>
			<div class="panel-body">

<div class="body">
<form action="." method="post">
  {% csrf_token %}
  {{ community_partner_form|bootstrap }}
  {{ community_partner_contact_form|bootstrap }}

<p><button type="submit" class="btn btn-custom">Submit</button></p><br><br>

  </form>

</div>
            </div></div></div>
<br>

{% endblock %}




