{% extends 'home/base_home.html' %}
{% load bootstrap %}
{% block content %}
<style>

    .buttons-holder {
  position: absolute;
  top: 195%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 .boxContainer{
        display: table;
    }
.button {
    background-color: #E2E5E8;
    border: none;
    color: #666666;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: table-cell;
    font-size: 16px;
    margin: 12px 12px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    vertical-align: auto;
    position: relative;
    left: 450px;

}
    h3{
 text-align: center;
        color: #666666;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        background: #E2E5E8;
        padding: 15px 32px;
        border-radius: 5px;
}
    body{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: medium;
        position: relative;
    }

</style>


<h3>Register Your Organization</h3>
<p>Please use the below form to signup as a Community Partner:</p>

<div class="body">
<form action="." method="post">
  {% csrf_token %}
  {{ community_partner_form|bootstrap }}
  {{ community_partner_contact_form|bootstrap }}

 <div class="boxContainer">
<input class="button" type="submit" value="Create an Account">
     </div>
  </form>
</div>



{% endblock %}

