{% extends 'home/base_home.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}
<style>
    label{
        display: none;
    }
</style>
    <!-- Contact -->
    <section id="contact">
        <form method="post">
    {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading text-uppercase">Contact Us</h3><br>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-12" id="contact3">
                <form id="contactForm" name="sentMessage" novalidate="novalidate">
                  <div class="row">
                      <div class="col-md-6" style="margin-top:15px;">
                      <!-- Google Maps-->
                          <div id="map-container" class="z-depth-1-half map-container" style="height:200px;margin-top:10px;border:2px solid #aaa;border-radius:4px;"></div>
                          <br>
                              <div class="col-md-12">
                                  <h4 id="fontfix" style="color:white">
                                      <i class="fa fa-university mb-3 sr-contact-1"></i>&emsp;6400 University Dr S, Omaha, NE 68182<br>
                                      <i class="fa fa-clock-o mb-3 sr-contact-1"></i>&emsp;  9:00 AM to 5:00 PM<br>
                                      <i class="fa fa-mobile fa-2x mb-3 sr-contact-1"></i>&emsp;  (402)-554-6000
                                  </h4>
                              </div>
                      </div>

                      <div class="col-md-6" id="style1">
                          <div class="form-group" style="margin-top:23px;">
                            {{ form.contact_name|bootstrap }}
                          </div>
                         {{ form.contact_email|bootstrap }}
                         {{ form.topic|bootstrap }}
                         {{ form.content|bootstrap }}



                <!--<div class="col-md-6" id="style1">
                  <div class="form-group" style="margin-top:20px;">
                    <input class="form-control" id="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number.">
                    <p class="help-block text-danger"></p>
                  </div>
                <!--/div

                  <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message."></textarea>
                    <p class="help-block text-danger"></p>
                  </div>-->

                <div class="clearfix"></div>
                     <div class="col-lg-12 text-center">
                        <div id="success"></div>
                            <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
                     </div>
                     </div>
</div>
            </form>
          </div>
        </div>
      </div>
        </form>
    </section>


<!--Google Maps-->

<script src="https://maps.google.com/maps/api/js?key=AIzaSyDS02IVaJ6bEWPVh5O2kenFRSQSsSVM3oo&libraries=places"></script>
<!-- Google Maps settings -->
<script>
  // Regular map
  function regular_map() {
    var var_location = new google.maps.LatLng(41.2470919, -96.016953);

    var var_mapoptions = {
      center: var_location,
      zoom: 14
    };

    var var_map = new google.maps.Map(document.getElementById("map-container"),
      var_mapoptions);

    var var_marker = new google.maps.Marker({
      position: var_location,
      map: var_map,
      title: "Barbara Weitz CEC"
    });
  }

  // Initialize maps
  google.maps.event.addDomListener(window, 'load', regular_map);
</script>

{% endblock %}