{% extends 'home/Dashboard_Extension.html' %} {% load staticfiles %} {% block content %}

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
<script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />
<link href="{% static 'css/Sidebar.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

<style>

    .btn-primary
        {
        background-color: #484848;
        border-color: #585858;
        }

        .btn .btn-primary:active, .btn-primary:focus, .btn-primary:hover
        {
        border-color: #484848;
        background-color: #484848;
        }

    .btn-custom1
        {
        position:absolute;
        top:5px;
        left:40px;
        border-color: #484848;
        background-color: #FF3333;
        color:White;
        z-index:999;
        }


    .active .btn-custom1
        {
        left:40px;
        background-color: #484848;
        }


    .btn-custom1:hover
        {
        background-color: grey;
        border-color:grey;
        }


    .btn-custom1:focus
        {
        box-shadow: 0 0 0 0;
        }


    a {
          color: #fff;
          text-decoration: none;
    }

    a:hover
    {
        color:#fff;
    }

    .mapboxgl-map:-webkit-full-screen
    {
          width: 100%;
          height: calc(100vh -150px);
          margin: 0px 0 0 0;

    }


    .map {
          position: relative;
          width: 100%;
          height: calc(100vh - 150px);
          margin: 0px 0 0 0;
        }


    input[type=text]
        {
        margin-left:0px;
        width:210px;
        margin-top: 0px;
        }

    select[id=selectDistrict]
        {
        width:85%;
        border:2px solid #aaa;
        border-radius:4px;
        outline:none;
        padding:4px;
        box-sizing:border-box;
        transition:.3s;
        margin-left: 0px;
        margin-top: 5px;
        width: 210px;
        margin-bottom: 15px;
        }

    select[id=selectDistrict]:focus
        {
        border-color:grey;
        box-shadow:0 0 8px 0 grey;
        }
    select[id=selectCommtype]
        {
        width:85%;
        border:2px solid #aaa;
        border-radius:4px;
        outline:none;
        padding:4px;
        box-sizing:border-box;
        transition:.3s;
        margin-left: 0px;
        margin-top: 5px;
        width: 210px;
        margin-bottom: 15px;
        }
    select[id=selectCampus]
        {
        width:85%;
        border:2px solid #aaa;
        border-radius:4px;
        outline:none;
        padding:4px;
        box-sizing:border-box;
        transition:.3s;
        margin-left: 0px;
        margin-top: 5px;
        width: 210px;
        margin-bottom: 15px;
        }

    select[id=selectYear]
        {
        width:85%;
        border:2px solid #aaa;
        border-radius:4px;
        outline:none;
        padding:4px;
        box-sizing:border-box;
        transition:.3s;
        margin-left: 0px;
        margin-top: 5px;
        width: 210px;
        margin-bottom: 15px;
        }
	.h2 {
			display: block;
			font-size: 1.7em;
			margin-top: 0.25em;
			margin-bottom: 0.67em;
			margin-left: 450px;
			margin-right: 0;
			font-weight: bold;
		}

	.filter{
			position: absolute;
			right: 20px;
			top: 120px;
		}

	.selectType{
			width: 200px;
			height: 30px;
			font-size: 20px;
            top: 150px;
            left: 1100px;
		}


	.legend {

			background-color: #636568;
			border-radius: 10px;
			box-shadow: 0 1px 2px rgba(0,0,0,0.10);
			font: 13px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
			position:relative;
			left:10px;
			right: 10px;
			padding: 10px;
            color: white;
            width:230px;

		}

	.legend h4 {
			margin: 0 0 5px;
            color: white;
            font-size: 14px;
		}

	.legend div span {
			border-radius: 100%;
			display: inline-block;
			height: 13px;
			margin-right: 10px;
			width: 13px;
		}

	.legend-key {
		  display: inline-block;
		  border-radius: 20%;
		  width: 10px;
		  height: 10px;
		  margin-right: 5px;
		}

	.filter-ctrl {
			position: absolute;
			top: 220px;
			right: 20px;
			width: 230px;
			height: 50px;
		}

	.filter-ctrl input[type=number] {
			font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
			width: 100%;
			border: 0;
			background-color: #fff;
			height: 100px;
			margin: 0;
			color: rgba(0,0,0,0.8);
			padding: 10px;
			box-shadow: 0 0 0 6px rgba(0,0,0,0.5);
			border-radius: 3px;
			height: 70px;
		}



    .heading {
          background: #fff;
          border-bottom: 1px solid #eee;
          height: 60px;
          line-height: 60px;
          padding: 0 10px;
        }

    .listings {
          background: #fff;
          height: 100%;
          overflow: auto;
          padding-bottom: 60px;
        }


    .listings .item {
          display: block;
          border-bottom: 1px solid #eee;
          padding: 10px;
          text-decoration: none;
        }

    .listings .item:last-child { border-bottom: none; }
    .listings .item .title {
          display: block;
          color: #00853e;
          font-weight: 700;
        }

    .listings .item .title small { font-weight: 400; }

    .listings .item.active .title,
    .listings .item .title:hover { color: #8cc63f; }

    .listings .item.active {
          background-color: #f8f8f8;
        }

    h3
        {
            text-align:center;

        }

	#overlay-text
        {
            z-index: 999;
            width: 370px;
            position: absolute;
            top:70px;
            right: 75px;
            color:White;
            height:50px;
            text-align:justify;
            opacity: .8;
            height:80px;
            line-height:1.6;
        }

    #overlay-header
        {
            z-index: 999;
            width: 430px;
            position: absolute;
            background-color: #282828;
            display:block;
            top:10px;
            right: 50px;
            color:White;
            text-align:center;
            opacity: .9;
            height:130px;
            line-height:2.2;
            box-shadow: 5px 10px 10px 5px grey;
        }

      .select2-container--default .select2-selection--single
        {
        width:100%
        }

      .select2-container--open .select2-dropdown--below
        {

        }

        .container-fluid
        {
        padding-left:0px;
        padding-right:0px;
        }

        .card
        {
        border-radius:0px;
        }

</style>

<div class="wrapper">
    <nav id="sidebar">
            <div class="row" style="border-bottom:1px solid grey; height:60px;">
                <div class="col-lg-4 col-md-4">
                    <h3 style="padding:15px; text-align:left;font-size:25px;">Filters</h3>
                </div>
                <div class="col-lg-6 col-md-6" style="padding:15px;">
                        <button type="button" class="btn btn-primary" style="margin-left:55px;" id="reset">
                            Reset
                        </button>
                </div>
            </div>

        <div id='state-legend' class='legend'>
            <h4>Mission Areas</h4>
            <div id='legend' style="padding-bottom:5px;border-bottom: 1px solid grey;">
            </div>

            <select style="margin-top:10px;" id="selectDistrict" class="selectDistrict">
                </select>
            <!--div id="sidebar"-->
            <select id="selectCommtype" class="selectCommtype"></select>
            <select id="selectCampus" class="selectCampus"></select>
            <select id="selectYear" class="selectYear"></select>
            <div>
                <input id='valueFilter' type='text' placeholder='Search Community Partner' />
            </div>
            <div id='incomelegend' style="padding-top:10px;padding-bottom:10px;border-top: 1px solid grey;border-bottom: 1px solid grey;">
                <div>
                    <a href='#' id="allincome"><span style='background-color: transparent; border: 2px solid black'></span><b>All income levels</b></a><br>
                    <a href='#' id="income1"><span style='background-color: #B8B8B8; border: 1px solid black'></span><b>$25,000 or less</b></a><br>
                    <a href='#' id="income2"><span style='background-color: #989898; border: 1px solid black'></span><b>$25,000 to $40,000</b></a><br>
                    <a href='#' id="income3"><span style='background-color: #808080; border: 1px solid black'></span><b>$40,000 to $60,000</b></a><br>
                    <a href='#' id="income4"><span style='background-color: #686868; border: 1px solid black'></span><b>$60,000 to $80,000</b></a><br>
                    <a href='#' id="income5"><span style='background-color: #505050; border: 1px solid black'></span><b>$80,000 to $100,000</b></a><br>
                    <a href='#' id="income6"><span style='background-color: #303030; border: 1px solid black'></span><b>$100,000 or more</b></a><br>
                </div>
            </div>
        </div>

    </nav>

    <div id="content">
                <div class = "container-fluid" style="margin-top:78px;">
                    <div class="row justify-content-md-center">
                        <div class="col-xl-12 col-md-12 col-sm-12">

                            <div class="card" style="padding: 5px;background-color:#636568;opacity:.9;color:White;font-size:20px;font-family:Helvetica;text-align:center;">
                                <div class="row">
                                    <div class="col-lg-1 col-md-1">
                                        <button type="button" id="sidebarCollapse" class="btn btn-custom1"><i class="fa fa-align-justify"></i>
                                            <span></span>
                                        </button>

                                    </div>

                                    <div class="col-lg-4 col-md-5">
                                        <div style="box-sizing: border-box;padding:5px;background-color:#434548;">
                                            <label><b>Maps: Household Income</b></label>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-6">
                                        <div style="box-sizing: border-box; padding:5px;">
                                            <label><b>Unique Community Partners: </b><b id = "totalnumber">{{ number }}</b></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
		                <div class="col-xl-12 col-md-12 col-sm-12">
                            <div class="card" style="box-shadow: 2px 8px 8px 2px grey;">
                                <div id='map' class='map'>
                                    {{ countyData | json_script:"county-data"}}
                                        <!--h3 id="overlay-header">Maps: Household Income</h3>
                                        <p id="overlay-text"><b>Household Income data is mapped based on Nebraska counties. Use our filters to please your eyes</b></p-->
                                        {{ collection | json_script:"commPartner-data"}} {{ Missionlist | json_script:"missionlist"}} {{ CommTypeList | json_script:"CommTypelist"}}
                                    {{ Campuspartner | json_script:"campusPartner-list"}}
                                    {{ year | json_script:"year-list" }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>&emsp;
<footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3" style="margin-top:8px;">
            <span><a style="color:white; font-size:17px;" href="/Contactus">Contact Us</a></span><br>
               <span class="copyright">Copyright &copy; Community Partnership Initiative 2018</span>
          </div>
          <div class="col-md-6">
            <ul class="footertext">
                UNO is an AA/EEO /ADA institution. For questions, accommodations or assistance
please call/contact ADA/504 coordinator (phone: 402.554.3490 or TTY
402.554.2978) or the director of Accessibility Services Center (phone:
402.554.2872). The University of Nebraska does not discriminate based on race,
color, ethnicity, national origin, sex, pregnancy, sexual orientation, gender identity,
religion, disability, age, genetic information, veteran status, marital status, and/or
political affiliation in its programs, activities, or employment.
            </ul>
          </div>
          <div class="col-md-3">
              <ul class="imgadjust">
                <img src="{% static 'img/UNOFooter1.png' %}">
              </ul>
          </div>
        </div>
      </div>
</footer>

    </div>
</div>

<!--<div class='filter-ctrl'>-->
<!--<input id='filter-input' type='text' name='filter' placeholder='Filter districts by a number' />-->
<!--</div>-->

<!--<div class='filter-ctrl2'>-->
<!--<input id='filter-input2' type='text' name='filter2' placeholder='Search by Project' />-->
<!--</div>
		    <script type="text/javascript">
        var countyData = "{{countymap}}";
    </script>-->

<script type="text/javascript" src='{% static "js/Countymap.js" %}'></script>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script-->
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
</script>

{% endblock %}