
{% extends 'home/base_home.html' %}
{% load staticfiles %}
{% block content %}



<style>



</style>


<!-- About -->
    <section id="impact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Our DNA</h2>
            <h3 class="section-subheading text-muted"> Community Partnership Initiative</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/1.jpg' %}">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <!--h4>2009-2011</h4-->
                    <h4 class="subheading">Humble Beginings</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Community Engagement and service are fundemental components of UNO's identity. This commitment to engagement is reflected in UNO's academics, student body, partnerships and institutional framework.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/2.jpg' %}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <!--h4>2009-2011</h4-->
                    <h4 class="subheading">Achievements</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">UNO is Nebraska's metropolitan university -- a university with strong academic values and significant relationships with our community that transforms and improves life.!</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/3.jpg' %}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <!--h4>2009-2011</h4-->
                    <h4 class="subheading">UNO</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">UNO is Nebraska's metropolitan university -- a university with strong academic values and significant relationships with our community that transforms and improves life.!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/4.jpg' %}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <!--h4>2009-2011</h4-->
                    <h4 class="subheading">Our Involvement</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">UNO is Nebraska's metropolitan university -- a university with strong academic values and significant relationships with our community that transforms and improves life.!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Be Part
                    <br>Of Our
                    <br>DNA!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>


<!-- About Ends here-->






{% endblock %}