<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>Community Partnership Initiative</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script-->

  <link href="{% static 'css/Header.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/Navigation.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/about.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/footer.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/Panel.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/Contact.css' %}" rel="stylesheet" type="text/css">

  </head>
<style>

#contact
{
background: #D3D3D3;
}

#brand
{
margin-left:15px;
margin-top:15px;
}
.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
}
@media (max-width: 992px) {
    .dropdown-menu{
        width: 50%;
    }
    .dropdown-menu .dropdown-submenu{
        width: auto;
    }
    .himg{
        width:90%;
        height:90%;
    }

}

    @media (max-width:710px) {
    .himg{
        width:70%;
        height:70%;
    }
}
    @media only screen and (max-width: 768px){
    a {
        font-size: small;
    }}
</style>

<body>

<!-- Navbar Begins -->

<nav class="navbar navbar-expand-lg navbar-custom sticky-top">
    <a class="navbar-brand" href="/"><img class="himg" src="https://www.unomaha.edu/_files/images/logo-subsite-o-2.png" alt="UNO Logo"></a>
            <a class ="navbar-brand" href="/" id="uno">University of Nebraska Omaha
                <b id="cpi">Community Partnership Initiative</b>
                    <a class="navbar-toggler" data-toggle="collapse" data-target="#target" id="Menu"><i class="fa fa-bars" style="font-size:24px"></i></a>
                    <div class="collapse navbar-collapse" id="target">
                        <ul class="navbar-nav ml-auto">
                <!--li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-tachometer"></i>Dashboard</a>
                </li-->
                <li class=" nav-item dropdown">
                    <a class= "nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">
                        <i class="fa fa-globe"></i>Maps
                        <span class="caret"></span>
                    </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown_target">
                    <a class="dropdown-item" href="/communityPartner">Community Partners</a>
                    <a class="dropdown-item" href="/legislativeDistrict">Legislative District</a>
                    <a class="dropdown-item" href="/communityPartnerType">Community Partner Type</a>
                    <a class="dropdown-item" href="/projectMap">Projects</a>
{#                 {% if  user.is_superuser or user.is_campuspartner  %}#}
{#                    <a class="dropdown-item" href="/projectmap">Projects</a>#}
{#                  {% endif %}#}
                </div>
                </li>
                <li class="nav-item dropdown">
                   <a class= "nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">
                        <i class="fa fa-line-chart"></i>Analytics
                        <span class="caret"></span>
                   </a>
                   <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Reports</a>
                    <ul class="dropdown-menu">
                      <a class="dropdown-item" href="/projectInfo">Mission Areas</a>
                      <a class="dropdown-item" href="/engageType">Engagement Types</a>
{#                      <a class="dropdown-item" href="/countProjectCP">Unique Projects, Community Partners</a>#}
                      {% if user.is_authenticated %}
                         <a class="dropdown-item" href="{% url 'communityprivatereport' %}">Community Partners</a>
                         <a class="dropdown-item" href="{% url 'projectspublicreport' %}">Projects</a>
                      {% else %}
                         <a class="dropdown-item" href="{% url 'communitypublicreport' %}">Community Partners</a>
                         <a class="dropdown-item" href="{% url 'projectspublicreport' %}">Projects</a>
                      {% endif %}


                    </ul>
                  </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Charts</a>
                    <ul class="dropdown-menu">
                      <a class="dropdown-item" href="/missionchart">Mission Areas</a>
                      <a class="dropdown-item" href="/engagementtypechart2">Engagement Types</a>

                    </ul>
                  </li>
                </ul>
                </li>
                </li>


               {% if user.is_authenticated and user.is_campuspartner or user.is_superuser %}
                <li class=" nav-item dropdown">
                    <a class= "nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">
                        <i class="fa fa-tasks fa-x"></i>
                           Projects
                        <span class="caret"></span>
                    </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown_target">
                    <a class="dropdown-item" href="/allProjects/">All Projects</a>
                    <a class="dropdown-item" href='/myProjects/'>My Projects</a>
                    <a class="dropdown-item" href='/createProject/'>Create Project</a>
                </div>
                </li>
{#                <li class="nav-item">#}
{#                <a class="nav-link" href='/registerCommunityPartnerUser/'><i class="fa fa-user-plus"></i>Community Partner User</a>#}
{#                </li>#}
                {% endif %}
               {% if user.is_communitypartner %}

                <li class="nav-item">
                    <a class="nav-link" href='/communitypartnerproject/'><i class="fa fa-tasks fa-x"></i>Projects</a>
                </li>
               {% endif %}
{#               {% if not user.is_authenticated %}#}
                <li class=" nav-item dropdown">
{#                    <a class= "nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">#}
{#                        <i class="fa fa-handshake-o"></i>Partners#}
{#                        <span class="caret"></span>#}
                          <a class="nav-link" href='/partners'><i class="fa fa-handshake-o"></i>Partners</a>
{#                    </a>#}
{#                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown_target">#}
{#                    <a class="dropdown-item" href="{% url 'partners:registerCampusPartner' %}">Campus Partner</a>#}
{#                    <a class="dropdown-item" href='/partners/registerCommunityPartner/'>Community Partner</a>#}
{#                </div>#}
                </li>
{#               {% endif %}#}
                {% if user.is_authenticated and user.is_superuser  %}



                    <li class=" nav-item dropdown">
                    <a class= "nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">
                        <i class="fa fa-cogs"></i>
                           Administrator
                        <span class="caret"></span>
                    </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown_target">
{#                   <a class="dropdown-item" href="#">About us CMS</a>#}
                     <a class="dropdown-item" href= '/Adminframe/'>Admin View</a>
{#                     <a class="dropdown-item" href='/uploadProject/'>Import Data</a>#}
                     <a class="dropdown-item" href='/cms/'>CMS</a>
                    <a class="dropdown-item" href='/recentchanges/'>Recent Changes</a>
                </div>
                </li>
                {% endif %}
                {% if user.is_authenticated and user.is_superuser or user.is_campuspartner or user.is_communitypartner %}
                     <li class="nav-item dropdown">
                    <a class= "nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href='#'>
                        {% if user.avatar.url == 'https://None.s3.amazonaws.com/profile_image/default.jpg' %} <img class="rounded-circle account-img" src="{% static "img/avatar.jpg" %}" height="30" width="30" alt="DefaultAvatar">
                        {% else %}<img class="rounded-circle account-img" src={{ user.avatar.url }} height="30"  width="30" alt="Avatar"/>{% endif %} <span id="pic">{{ user.first_name.0 }}{{ user.last_name.0 }}</span>
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown_target">
                        {% if not user.is_superuser  %}
                        <a class="dropdown-item" href="{% url 'partners:userprofile' %}"><i class="fa fa-user"></i>User</a>

                        <a class="dropdown-item" href='{% url "partners:orgprofile" %}'><i class="fa fa-university"></i>Organization</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Logout</a>
                    </div>
                    </li>
                {% else %}
                 <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:loginPage' %}"><i class="fa fa-sign-in"></i>Login</a>
                    </li>
                {% endif %}

            </ul>
    </div>
</nav>



<!-- Navbar ends-->

<!--div class="container"-->
{% block content %}
{% endblock %}



<!--/div-->





</body>
</html>
