{% extends 'home/base_home.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}


{% block content %}

<style>

        @media (min-width: 1200px){.container {
    max-width: 100em;
}
    }
 body {
            background: white;
        }

</style>

<!-- {% image page.image original as image %}
    <div>

        <img src="{{image.url}}" class="hero" style="width: 100%;"/>

    </div> -->
<div class="containerhomepage">
<div class="homepage col-md-12" >
 {% image page.image original as image %}
    <div>

        <img src="{{image.url}}" class="hero" style="width: 100%;"/>

    </div>



{% if page.body %}
<div class="container-fluid streamfield initialcontent">
<!--<br>-->
    <div class="container">
        <div class="row">
            <div class="col streamfield-column">
                    {{ page.body }}
            </div>
        </div>
    </div>
</div>
{% endif %}

<HR class="new1">


<div class="container-fluid centered">
    <!--<div class="row">-->
    <div class="cardshomepage">
        <div class="col-md-12 feature-3">


                <div class="featured-children row centered">

                    <div class="cardhomepage ">
<!--                        <li class="col-md-3" style="padding-bottom: 15px;align-content: center;display: inline-block;margin:auto;" >-->
                    <li class="z-depth">
                        <a href="/allProjects/?academic_year=&mission=3&community_type=&college_name=&campus_partner=&engagement_type=" >
                                <div class="cardheading">
                                <h3>ECONOMIC IMPACT</h3>
                                </div>
                                <blog.img>
                                    <img alt="20190121_MLK_SERVICE_005.jpg" height="230" src="https://unocpi.s3.amazonaws.com/images/20190121_MLK_SERVICE_005.2e16d0ba.fill-300x230-c100.jpg" width="300">
                                </blog.img>
                            </a>
                        </li>
                    </div>

                    <div class="cardhomepage ">
<!--                        <li class="col-md-3" style="padding-bottom: 15px;align-content: center;display: inline-block;margin:auto;" >-->
                    <li class="z-depth">
                        <a href="/allProjects/?academic_year=&mission=1&community_type=&college_name=&campus_partner=&engagement_type=" >
                                <div class="cardheading">
                                <h3>EDUCATIONAL SUPPORT</h3>
                                </div>
                                <blog.img>
                                    <img alt="20181101_BALLOON_LAUNCH_016.jpg" height="230" src="https://unocpi.s3.amazonaws.com/images/20181101_BALLOON_LAUNCH_016.2e16d0ba.fill-300x230-c100.jpg" width="300">
                                </blog.img>
                            </a>
                        </li>
                    </div>

                    <div class="cardhomepage ">
<!--                        <li class="col-md-3" style="padding-bottom: 15px;align-content: center;display: inline-block;margin:auto;" >-->
                    <li class="z-depth">
                        <a href="/allProjects/?academic_year=&mission=5&community_type=&college_name=&campus_partner=&engagement_type=" >
                                <div class="cardheading">
                                <h3>INTERNATIONAL SERVICE</h3>
                                </div>
                                <blog.img>
                                    <img alt="20181115_CAFE_INTERNATIONALE_009.jpg" height="230" src="https://unocpi.s3.amazonaws.com/images/20181115_CAFE_INTERNATIONALE_.2e16d0ba.fill-300x230-c100.jpg" width="300">
                                </blog.img>
                            </a>
                        </li>
                    </div>

                    <div class="cardhomepage ">
<!--                        <li class="col-md-3" style="padding-bottom: 15px;align-content: center;display: inline-block;margin:auto;" >-->
                    <li class="z-depth">
                        <a href="/allProjects/?academic_year=&mission=4&community_type=&college_name=&campus_partner=&engagement_type=" >
                                <div class="cardheading">
                                <h3>SOCIAL JUSTICE</h3>
                                </div>
                                <blog.img>
                                    <img alt="20190121_MLK_SERVICE_018.jpg" height="230" src="https://unocpi.s3.amazonaws.com/images/20190121_MLK_SERVICE_018.2e16d0ba.fill-300x230-c100.jpg" width="300">
                                </blog.img>
                            </a>
                        </li>
                    </div>

                    <div class="cardhomepage ">
<!--                        <li class="col-md-3" style="padding-bottom: 15px;align-content: center;display: inline-block;margin:auto;" >-->
                    <li class="z-depth">
                        <a href="/allProjects/?academic_year=&mission=6&community_type=&college_name=&campus_partner=&engagement_type=" >
                                <div class="cardheading">
                                <h3>ENVIRONMENTAL STEWARDSHIP</h3>
                                </div>
                                <blog.img>
                                    <img alt="20180709_SERVICELEARNINGSEMINAR_001A.jpg" height="230" src="https://unocpi.s3.amazonaws.com/images/20180709_SERVICELEARNINGSEMIN.2e16d0ba.fill-300x230-c100.jpg" width="300">
                                </blog.img>
                            </a>
                        </li>
                    </div>

                    <div class="cardhomepage ">
<!--                        <li class="col-md-3" style="padding-bottom: 15px;align-content: center;display: inline-block;margin:auto;" >-->
                    <li class="z-depth">
                        <a href="/feature-3/health-and-wellness/" >
                                <div class="cardheading">
                                <h3>HEALTH AND WELLNESS</h3>
                                </div>
                                <blog.img>
                                    <img alt="20180825_MAVERICK_SERVICE_008.jpg" height="230" src="https://unocpi.s3.amazonaws.com/images/20180825_MAVERICK_SERVICE_008.2e16d0ba.fill-300x230-c100.jpg" width="300">
                                </blog.img>
                            </a>
                        </li>
                    </div>

                    <div class="cardhomepage ">
<!--                        <li class="col-md-3" style="padding-bottom: 15px;align-content: center;display: inline-block;margin:auto;" >-->
                    <li class="z-depth">
                        <a href="/allProjects/?academic_year=&mission=8&community_type=&college_name=&campus_partner=&engagement_type=" >
                                <div class="cardheading">
                                <h3>ARTS, CULTURE & HUMANITIES</h3>
                                </div>
                                <blog.img>
                                    <img alt="arts-culture-humanities-image.jpg" height="230" src="https://unocpi.s3.amazonaws.com/images/arts-culture-humanities-image.2e16d0ba.fill-300x230-c100.jpg" width="300">
                                </blog.img>
                            </a>
                        </li>
                    </div>
                </div>
        </div>
         </div>
    <!--</div>-->
</div>

<HR class="new2">

{% if page.bottom %}
<div class="container-fluid streamfield">
    <div class="container">
        <div class="row">
            <div class="col streamfield-column">
                    {{ page.bottom }}
            </div>
        </div>
    </div>
</div>
{% endif %}
    <!-- JavaScript -->
    <script type="text/javascript" src='{% static "js/jquery-1.10.2.js" %}'></script>
    <script type="text/javascript" src='{% static "js/bootstrap.js" %}'></script>
</div>
</div>
{% endblock %}

