{% extends 'home/base_home.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load staticfiles %}


{% block content %}

<style>

        @media (min-width: 1200px){.container {
    max-width: 100em;
}
    }


</style>

<!-- {% image page.image original as image %}
    <div>

        <img src="{{image.url}}" class="hero" style="width: 100%;"/>

    </div> -->
<div class="containerhomepage">
<div class="homepage col-md-12" >




{% if page.body %}
<div class="container-fluid streamfield initialcontent">
<!--<br>-->
    <div class="container">
        <div class="row">
            <div class="col streamfield-column">
                    {{ page.body }}
            </div>
        </div>
    </div>
</div>
{% endif %}

<HR class="new1">


<div class="container-fluid centered">
    <!--<div class="row">-->
    <div class="cardshomepage">
        <div class="col-md-12 feature-3">

            {% if page.featured_section_3 %}
                <div class="featured-children row centered">
                    {% for childpage in page.featured_section_3.specific.children|slice:"12" %}
                    <div class="cardhomepage ">
<!--                        <li class="col-md-3" style="padding-bottom: 15px;align-content: center;display: inline-block;margin:auto;" >-->
                    <li class="z-depth">
                        <a href="{{childpage.url}}" >
                                <div class="cardheading">
                                <h3>{{childpage.title}}</h3>
                                </div>
                                <blog.img>
                                    {% image childpage.image fill-300x230-c100 %}
                                </blog.img>
                            </a>
                        </li>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
         </div>
    <!--</div>-->
</div>



<HR class="new2">

{% if page.bottom %}
<div class="container-fluid streamfield">
    <div class="container">
        <div class="row">
            <div class="col streamfield-column">
                    {{ page.bottom }}
            </div>
        </div>
    </div>
</div>
{% endif %}





    <!-- JavaScript -->
    <script type="text/javascript" src='{% static "js/jquery-1.10.2.js" %}'></script>
    <script type="text/javascript" src='{% static "js/bootstrap.js" %}'></script>




</div>
</div>
{% endblock %}

