{% extends 'home/Dashboard_Extension.html' %}
{% load staticfiles %}
{% block content %}
    <link href="{% static 'css/HalfSlider.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" style="border-bottom: 1px solid #b3b3b3;">
            <div class="item active">
                <div class="fill"> <a href="/map"><img class="fill" src="{% static 'img/Household_Income.JPG' %}"></a></div>
                <div class="carousel-caption">
                    <!--h1 style="color:#636568;line-height:.5 rem;">Household Income</h1-->
                </div>
            </div>
            <div class="item">
                <div class="fill"><a href="/districtmap"><img class= "fill" src="{% static 'img/img5.JPG' %}"></a> </div>
                <div class="carousel-caption">
                    <!--h1 style="color:#636568;">Legislative District</h1-->
                </div>
            </div>
            <div class="item">
                <div class="fill"><a href="/home"><img class="fill" src="{% static 'img/img6.JPG' %}"></a></div>
                <div class="carousel-caption">
                    <!--h1 style="color:#636568;">Community Partner</h1-->
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>



        <div class="container-fluid" style="background-color:#f3f3f3;margin-bottom:10px;">
            <div class="row justify-content-md-center">
                <div class="col-xl-10 col-md-12 col-sm-12">
                    <div class="card" style="background-color:#f3f3f3;border:transparent;padding-top: 10px; margin-top:10px;color:Black;font-family:Helvetica;text-align:justify;">
                        <h4 style="text-align:center; color:#282828;">Community Partnership Initiative (CPI)</h4>
                        <p style="font-size:16px; text-align:Center;">
                            UNO values its reciprocal and mutually-beneficial relationship with its community partners. Above, you will find a small selection of those community partners.
                        </p>

                        <p style="text-align:Center;">
                            The UNO CPI tool is an initiative of the UNO Community Engagement Measurement and Assessment Committee. This committee is dedicated to ongoing implementation of systematic and strategic community engagement data gathering, analysis, and reporting for UNO.
                            This tool provides a way to collect and showcase community engagement projects and partnerships between our campus and community, while making community engagement data more accessible and consistent across campus.
                        </p>
                        <p style="text-align:Center;">
                            <a id="hlink" href="https://www.unomaha.edu/campus-commitment-to-community-engagement/index.php"><span style="color:blue">Campus Commitment</span></a>
                        </p>
                        <p style="text-align:Center;">
                            <a href="https://www.unomaha.edu/campus-commitment-to-community-engagement/_docs/roadmap.pdf"><span style="color:blue">Goals of the Community Engagement Measurement and Assessment Committee</span></a>
                        </p>
                        <p style="text-align:Center;">
                            <a href="https://www.unomaha.edu/campus-commitment-to-community-engagement/guidelines.pdf"><span style="color:blue">Guideling for using Community Partnership Initiative</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


<footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3" style="margin-top:8px;">
            <span><a style="color:white; font-size:17px;" href="/Contactus">Contact Us</a></span><br>
               <span class="copyright">Copyright &copy; Community Partnership Initiative 2018</span>
          </div>
          <div class="col-md-6">
            <ul class="footertext">
                UNO is an AA/EEO /ADA institution. For questions, accommodations or assistance
please call/contact ADA/504 coordinator (phone: 402.554.3490 or TTY
402.554.2978) or the director of Accessibility Services Center (phone:
402.554.2872). The University of Nebraska does not discriminate based on race,
color, ethnicity, national origin, sex, pregnancy, sexual orientation, gender identity,
religion, disability, age, genetic information, veteran status, marital status, and/or
political affiliation in its programs, activities, or employment.
            </ul>
          </div>
          <div class="col-md-3">
              <ul class="imgadjust">
                <img src="{% static 'img/UNOFooter1.png' %}">
              </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- JavaScript -->
    <script type="text/javascript" src='{% static "js/jquery-1.10.2.js" %}'></script>
    <script type="text/javascript" src='{% static "js/bootstrap.js" %}'></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>



{% endblock %}