
{% extends 'home/base_home.html' %}
{% block title %}Logged Out{% endblock %}
{% load wagtailcore_tags register_tags %}
{% block content %}

<style>

@media (min-width: 700px)
{
.panel
{
width: 400px;
margin-left: auto;
margin-right:auto;
margin-top:150px;
height: relative;
}
}



@media (max-width: 700px)
{
h4
{
font-size:1.3em
}
}

p
{
margin-left: 25px;
margin-top: 15px;

}
.panel {
    margin-top: 10%;
    margin-bottom: 18%;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
</style>
    <div class="container col-xl-12 col-md-10">
        <div class = "panel panel-default">
            <div class="panel-heading text-center"><h4>Logged Out</h4></div>
            <div class="panel-body">
            <div class="card" style="padding: 10px;border-left-color: transparent; border-right-color: transparent; border-top-color: transparent;">
                <div class="container">
                    {% logouts %}
                </div>
            </div>
{#                <div >#}
{#                <p>You successfully logged out of the University of Nebraska Omaha Community Partnership application.</p><br>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}
