{% extends 'home/base_home.html' %}
{% load wagtailcore_tags register_tags %}

{% block content %}

<style type="text/css">


@media (max-width: 700px)
{
h4
{
font-size:1.3em
}
}

h4
{
font-size:1.6em;
}

label
{
margin-left:22px;
font-size:18px;

}

label:after
    {
    content:"*" ;
    color:red
    }

input[type=password],[type=email]
{
width:92%;
}

@media (max-width:800px)
{
input[type=password],[type=email]
{
width:87%;
}
}
.panel {
    margin-bottom: 18%;
    margin-top: 12%;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

</style>



<div class="container ">
	{% for message in messages %}
        <div class="alert alert-danger">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
        </div>
    {% endfor %}
    <div class ="row justify-content-md-center">
        <div class="col-xl-6 col-md-8">
	        <div class = "panel panel-default">
		        <div class="panel-heading text-center"><h4>Login</h4></div>&emsp;
	    	        <div class="panel-body">
                    <div class="card" style="padding: 10px;border-left-color: transparent; border-right-color: transparent; border-top-color: transparent;">
                        <div class="container">
                            {% logins %}
                        </div>
                    </div>

                        <div class="login-form">
                            <form action='.' method="post">
                            {% csrf_token %}
							<!--label class="{% url 'account:loginPage' %}">{{ loginError }}</label><br-->
                            <label><b>Email</b></label>
			                <input class="input" type="email" name="email"  placeholder="Email" required>
            			    <br>
                            <label><b>Password</b></label>
            			    <input class="input" type="password" name="password" placeholder="Password" required><br>
{#                            <div class="row justify-content-md-center" >#}
                                <div class="col-xs-1 center-block text-center" style="border: none">
                                    <p><button type="submit" class="btn btn-custom center-block" style="font-size:1.1em;"><i class="fa fa-sign-in" aria-hidden="true"></i>
                                        Login</button></p><br>
                                </div>
{#                            </div>#}
                            <div class="row justify-content-md-center">
                                <div class="col-md-12" style="text-align:center; margin-left:1%; margin-right:3%">
            			            <a style=" color: #d71920;" href='/password_reset/'>Forgot Password?</a><br>
                                <!--/div>
                                <div class="col-md-12" style="text-align:center;"-->
                                    <a style="color: #d71920;" title="Registers Users associated with a Campus Partner on UNO campus"  href='/registerCampusPartnerUser/'>Campus Partner User Registration</a><br><br>
                                </div>
                            </div>
		                    </form>
           	            </div>
	                </div>
                </div>
        </div>

    </div>
</div>


{% endblock %}

