{% extends 'home/base_home.html' %}
{% block title %}Reset your Password {% endblock %}
{% block content %}

<style>


input[type=password]
{
    width:90%;
}
 label[for=id_new_password1]:after,label[for=id_new_password2]:after
    {
        content:"*" ;
        color:red
    }

.btn-custom
{
	position: relative;
	left:0px;
	width:120px;
}


p
{
    margin-left: 25px;
    margin-right: 5px;
    margin-top: 5px;
}


label
{
font-weight:bold;
}
.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

</style>

<div class="container">
    <div class ="row justify-content-md-center">
        <div class="col-lg-6 col-md-8">
            <div class = "panel panel-default">
                <div class="panel-heading text-center"><h4>Set Your Password</h4></div>
                <div class="panel-body">
                    {% if validlink %}
                    <p>Please enter your new password here.</p>
                    <form action="." method="post">

                    {% csrf_token %}
                        <div class="form-group">
                            <label style="margin-left: 5%"  for="id_new_password1">New Password</label>
                            {{ form.new_password1}}
                            {% if  form.new_password1.errors %} {% for error in  form.new_password1.errors %} <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div> {% endfor %} {% endif %}
                        </div>
                        <div class="form-group">
                            <label style="margin-left: 5%" for="id_new_password2">New Password Confirmation</label>
                            {{ form.new_password2}}
                            {% if  form.new_password2.errors %} {% for error in  form.new_password2.errors %} <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div> {% endfor %} {% endif %}
                        </div>

                    <div style="text-align:center">
                        <p><button type="submit" class="btn btn-custom"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Submit</button></p>
                    </div>
                    </form><br>
                    {% else %}
                    <p>The Password reset link is invalid or has expired, probably because it has already been used. Please request for a new password reset link.</p><br>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
        <br><br><br><br><br>

{% endblock %}

