{% extends 'home/base_home.html' %}
{% block title %}Reset your Password{% endblock%}

{% block content %}
<html>
<head>
<style>
.PwdResetCenter {
    margin: auto;
    width: 30%;
    border: 3px solid #669999;
    padding: 10px;
}
.SubmitButtonStyle{
    text-align: center;
}
h1{
 text-align: center;
}
</style>
</head>
<div class="PwdResetCenter">
<h1>Forgotten your password?</h1>

<p> Enter your email address to obtain a new password</p>

<form action="." method="post">
    {{ form.as_p}}
    <p class="SubmitButtonStyle"><input type="submit" value="Send Email"></p>
    {% csrf_token %}

</form>
</div>
{% endblock %}
</html>