{% extends 'home/base_home.html' %}
{% block title %}Password reset{% endblock %}

{% block content %}

<style>

@media (min-width: 700px)
{
.panel
{
width: 400px;
margin-left: auto;
margin-right:auto;
margin-top:130px;
height: relative;
}
}


@media (max-width: 400px)
{
h4
	{
	font-size:1.3em
	}

.panel-heading
	{
    height:100px;
	}
}

p
{
margin-left: 25px;
margin-top: 10px;
}

</style>

<div class="container">

		<div class = "panel panel-default">
		<div class="panel-heading text-center"><h4>Password Reset is Successful</h4></div>
		<div class="panel-body">




<p> You shall now login using your new password</p><br>

        </div></div></div><br><br><br><br><br><br><br>
<br><br>
{% endblock %}