{% extends 'home/base_home.html' %}
{% load wagtailcore_tags register_tags %}

{% block content %}

<style>

p
{
margin-left: 25px;
margin-top: 15px;
}
.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

@media(min-width:300px)
{
  .container
  {
    max-width:600px;
  }
}


</style>

<div class="container">
	<div class ="row justify-content-md-center">
        <div class="col-xl-12 col-md-12 col-sm-12">
			<br><br>

				<div class="text-center"><h3 class="heading">Check your email</h3></div>
                    <div class="card snippet-card">
                            <div class="text-snippet">
                                {% pass_dones %}
                            </div>
                    </div>
{#                				<div class="panel-body">#}
{#					<p>Instructions to reset your password have been sent to your email.</p>#}
{#					<p>If you don't receive an email, please check the e-mail address you have registered with us.</p><br>#}
				</div>

		</div>
	</div>
</div>
<br>
<br><br><br><br><br><br><br><br>
{% endblock %}

