{% extends 'home/base_home.html' %}

{% block content %}

<style>

@media (min-width: 700px)
{
.panel
{
width: 590px;
margin-left: auto;
margin-right:auto;
margin-top:130px;
height: relative;
}
}

@media (max-width: 600px)
{
h4
	{
    font-size:1.3em
	}
}


p
{
margin-left: 25px;
margin-top: 15px;
}

</style>

<div class="container">

		<div class = "panel panel-default">
		<div class="panel-heading text-center"><h4>Check your email</h4></div>
		<div class="panel-body">

<p>Instructions to reset your password has been sent to your email.</p>
<p>If you dont receive an email, please check the e-mail address you have registered with us.</p><br>

</div>
</div>
</div>
<br>
<br><br><br><br><br><br><br><br>
{% endblock %}

