{% extends 'home/base_home.html' %}
{% block title %}Reset your password{% endblock %}

{% block content %}
<html>
<head>
<style>
.PwdResetDone-align {
    margin: auto;
    width: 40%;
    border: 3px solid #669999;
    padding: 10px;
}
h1{
 text-align: center;
}
</style>
</head>
<div class ="PwdResetDone-align">
<h1>Reset your password</h1>
<p>Instructions to reset your password has been sent to your email</p>
<p>If you dont receive an email please check the e-mail address you are registered with us</p>
{% endblock %}
</div>
</html>
