{% extends 'home/base_home.html' %}
{% block title %}Password reset{% endblock %}

{% block content %}

<style>
.panel
{
width: 400px;
margin-left: auto;
margin-right:auto;
margin-top:130px;
height: relative;
font-family: Helvetica;
box-shadow: 5px 10px 20px 5px grey;
}

.panel-default > .panel-heading
{
background-color: #b8b8b8;
}

.panel-heading
{
	height:60px;
	margin-top:5px;
	border-radius: 5px;
}

.panel
{
	border-radius: 5px;
}

h4
{
	line-height: 2.7;
	font-size: 1.3em;
}

p
{
margin-left: 25px;
margin-top: 5px;
}

</style>

<div class="container">

		<div class = "panel panel-default">
		<div class="panel-heading text-center"><h4>Password Reset is Successful</h4></div>
		<div class="panel-body">




<p> You shall now login using your new password</p><br>

        </div></div></div><br><br><br><br>
<br><br>
{% endblock %}