{% extends 'home/base_home.html' %}
{% block title %}Reset your Password{% endblock%}

{% block content %}

<style>

input[type=email]
{
    width:71%;
    margin-left: 6px;

}


@media (max-width: 600px)
{
input[type=email]
    {
        width:68%;
    }
}


@media (min-width: 700px)
{
.btn-custom
{
	position: relative;
	left:140px;
	width:120px;
}
}


label
{
margin-left: 20px;
margin-top: 5px;
font-weight: bold;
}




</style>


<div class = "container">
    <div class ="row justify-content-md-center">
        <div class="col-xl-5 col-md-8">
            <div class = "panel panel-default">
		        <div class="panel-heading text-center"><h4>Forgot Password?</h4></div>
			        <div class="panel-body">
                        <p id="align"> Enter your email address to obtain a new password</p>
                        <form action="." method="post">
                            {{ form.as_p}}
                            <p><button type="submit" class="btn btn-custom">Send email</button></p><br>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>

<br><br>
<br><br>
<br><br>
<br><br>
{% endblock %}


