{% extends 'home/base_home.html' %}
{% block title %}Reset your Password {% endblock %}
{% block content %}

<style>


input[type=password]
{
    width:95%;
    margin-left:1px;
}


.btn-custom
{
	position: relative;
	left:0px;
	width:120px;
}


p
{
    margin-left: 25px;
    margin-right: 5px;
    margin-top: 5px;
}


label
{
font-weight:bold;
}

</style>

<div class="container">
    <div class ="row justify-content-md-center">
        <div class="col-xl-6 col-md-8">
            <div class = "panel panel-default">
                <div class="panel-heading text-center"><h4>Reset Your Password</h4></div>
                <div class="panel-body">
                    {% if validlink %}
                    <p>Please enter your new password twice:</p>
                    <form action="." method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <div style="text-align:center">
                        <p><button type="submit" class="btn btn-custom">Submit</button></p>
                    </div>
                    </form><br>
                    {% else %}
                    <p>The Password reset link is invalid or has expired, probably because it has already been used. Please request for a new password reset link.</p><br>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
        <br><br><br><br><br>

{% endblock %}

