{% extends 'home/base_home.html' %}
{% block title %}Reset your Password {% endblock %}
{% block content %}

<style>

.panel
{
width: 550px;
margin-left: auto;
margin-right:auto;
margin-top:50px;
height: relative;
font-family: Helvetica;
box-shadow: 5px 10px 20px 5px grey;

}


.panel-default > .panel-heading
{
background-color: #b8b8b8;
}

.panel-heading
{
	height:60px;
	margin-top:5px;
	border-radius: 5px;
}

.panel
{
	border-radius: 5px;
}

h4
{
	line-height: 2.7;
	font-size: 1.3em;
}


.btn-custom
{
background-color: #C0C0C0;
position: relative;
width:80px;
top:15px;
bottom:0px;
left:0px;
}

.btn-custom:hover
{
background-color:#D3D3D3;
}

input[type=password]
{
    width:95%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0 4px 4px;
    outline:none;
    padding:3px;
    box-sizing:border-box;
    transition:.3s;
    placeholder: Email;
 }

input[type=password]:focus
{
   border-color:grey;
   box-shadow:0 0 5px 0 grey;
}


p
{
margin-left: 25px;
margin-top: 5px;
}
label
{
font-weight:bold;
}

</style>

<div class="container">
<div class = "panel panel-default">
<div class="panel-heading text-center"><h4>Reset Your Password</h4></div>
<div class="panel-body">


{% if validlink %}
<p>Please enter your new password twice:</p>
<form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <div style="text-align:center">
    <p><button type="submit" class="btn btn-custom">Submit</button></p>
    </div>

</form><br>
{% else %}
<p>The Password reset link link is invalid, probably because it has already been used. Please request a new password reset.</p>
{% endif %}
</div>
</div>
</div><br><br><br><br>

{% endblock %}

