{% extends 'home/base_home.html' %}
{% block title %}Reset your Password{% endblock%}

{% block content %}
<html>
<head>
<style>

input[type=email]
{
    width:71%;
    margin-left: 6px;
    margin-top:8px;
}


@media (max-width: 600px)
{
input[type=email]
    {
        width:68%;
    }
h4
{
font-size:1.3em
}
}


@media (min-width: 700px)
{
.panel
{
width: 410px;
margin-left: auto;
margin-right:auto;
margin-top:100px;
height: relative;

}

.btn-custom
{
	position: relative;
	left:140px;
	width:120px;
}
}


label
{
margin-left: 20px;
margin-top: 5px;
font-weight: bold;
}


#align
{
margin-left:18px;
margin-top:12px;
}

</style>
</head>

<div class = "container">
    <div class = "panel panel-default">
		<div class="panel-heading text-center"><h4>Forgot Password?</h4></div>
			<div class="panel-body">


<p id="align"> Enter your email address to obtain a new password</p>

<form action="." method="post">
    {{ form.as_p}}
    <p><button type="submit" class="btn btn-custom">Send email</button></p><br>
    {% csrf_token %}

</form>
            </div></div></div><br><br><br><br>
<br><br>
<br><br>
{% endblock %}


