  .btn-group{float:left;, labels:"Export"}
    #example_length{float:left; margin:0 0 0 0px;}
    #example_length select{width:50%;}


    div.dataTables_wrapper div.dataTables_length label
    {
    margin-left:30px;
    }


    div.dataTables_wrapper div.dataTables_filter label
    {
    float:right;
    }


    @media (max-width: 900px)
    {
    div.dataTables_wrapper div.dataTables_length label
    {
        float:left;
        margin-left:50px;
    }
    #example_length select{width:35%;}
    }

    div.dataTables_wrapper div.dataTables_paginate
    {
        float:right;
    }

    .clearable{
  background: #fff url(http://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
  border: 1px solid #999;
  padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
  border-radius: 3px;
  transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
.clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
.clearable::-ms-clear {display: none; width:0; height:0;}


    #loading
    {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-bottom: 16px solid red;
        border-top: 16px solid gray;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    @-webkit-keyframes spin
    {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin
    {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .form-inline label
    {
    font-weight:bold;
    text-align:left;
    margin-bottom:10px;
    display:inline;
    margin-left:22px;
    }

     .select2-container--default .select2-selection--single
     {
        margin-left:22px;
        width:100%;
     }


    .select2-container--open .select2-dropdown--below
    {
        width:100%;
        margin-left:22px;
    }


    .form-inline .form-group
    {
        display:inline-grid;
        margin-bottom:30px;
        margin-top:10px;
    }

      .page-item.active .page-link
    {
    background-color: #333333;
    border-color: #333333;
    }

    .page-link
    {
    color:#333333;
    }

    .page-link:hover
    {
    color:grey;
    }

    div.layout {
      text-align: center;
    }

    div.center {
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
.select2-selection__placeholder{
        font-size: small;
    }
    @media only screen and (max-width: 768px)
    {
        div.dataTables_wrapper div.dataTables_length label
        {
            float:left;
            margin-left:50px;
        }
        #example_length select{width:35%;}

        label{
            font-size: small;
        }

    }
