{% extends "home/base_home.html" %}
{% load bootstrap %}

{% block additionalCSS %}
<style>
 .btn-custom
@@ -83,26 +66,41 @@



 .form-control:focus
 {
    border-color:grey;
    box-shadow:0 0 8px 0 grey;
 }


 h4
 {
 	line-height: 2.7;
 	font-size: 1.3em;
 }

 label
 {
 margin-left: 25px;
 margin-top: 5px;
font-weight: bold;
}
</style>
{% endblock %}
{% block js1 %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.css" />
<script>
$(document).ready(function(){
  $('#id_campus_partner').selectize();
});
</script>
{% endblock %}

<style>
@media (min-width: 600px)
{
input[type=text], input[type=email], input[type=password], .form-control
{
width:91%;
}
.btn-custom
{
left:200px;
}
}
label:after
    {
    content:"*" ;
    color:red
    }
label
{
margin-left: 25px;
margin-top: 5px;
font-weight: bold;
}
@media (max-width: 600px)
{
.panel-heading
{
height:100px;
}
}
</style>
{% block content %}

<div class = "container">
    <div class="row justify-content-md-center">
		<div class="col-xl-6 col-md-10 col-sm-8">
	         <div class = "panel panel-default">
		        <div class="panel-heading text-center"><h4>Create a Campus Partner User Account</h4></div>
			        <div class="panel-body">
<!--<h4> Create a Campus Partner User Account</h4>-->
<!--<form method="post" action="#">-->
 <!--<div class="formUser">-->
                     <form action="." method="post">
                        {% csrf_token %}
                        {{ user_form|bootstrap }}
                        {{ campus_partner_user_form|bootstrap }}
                        <br>
                        <p><button type="submit" class="btn btn-custom">Submit</button></p><br><br>
                     </form>
                  </div>
             </div>
        </div>
    </div>
</div>

<br><br>

<!--<div class="boxContainer">-->
  <!--<p><input type="submit" value="Create My Account" class="button"></p>-->
<!--</div>-->
<!--</form>-->
 <!--</div>-->

<!--</form>-->

{% endblock %}