{% extends "home/Campus_Home.html" %}
{% load bootstrap %}
{% block content %}

<style>

.btn-custom
{
    background-color: #C0C0C0;
    position: relative;
    width:90px;
    top:5px;
    font-family: Helvetica;
    left: 250px;
}


.btn-custom:hover
{
    background-color:#D3D3D3;
}


.panel
{
width: 650px;
margin-left: auto;
margin-right:auto;
margin-top:80px;
height: relative;
font-family: Helvetica;
box-shadow: 5px 10px 20px 5px grey;
}



.panel-default > .panel-heading
{
background-color: #b8b8b8;
}

.panel-heading
{
	height:60px;
	margin-top:5px;
	border-radius: 5px;
}

.panel
{
	border-radius: 5px;
}


.form-control, input[type=text]
{
    width:92%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:0px 0 8px 4px;
    outline:none;
    padding:3px;
    box-sizing:border-box;
    transition:.3s;
    margin-left: 22px;
}




.form-control:focus
{
   border-color:grey;
   box-shadow:0 0 8px 0 grey;
}


h4
{
	line-height: 2.7;
	font-size: 1.3em;
}

.help-block
{
margin-left: 25px;
margin-top: 5px;

}
label:after
{
    content:"*" ;
    color:red
}
label
{
margin-left: 25px;
margin-top: 5px;
font-weight: bold;
}
</style>
{% block selectizeForm %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">

<script>
$(document).ready(function(){
  $('#id_community_partner').select2(
      {
              placeholder: 'Select a Community Partner',
                            width: '620px',
                            left: '30px',
                             right: '50px'

      }

  );
});
</script>
{% endblock %}

<div class = "container">
     <div class = "panel panel-default">
		<div class="panel-heading text-center"><h4>Create a Community Partner User Account</h4></div>
			<div class="panel-body">
<!--<h4> Create a Campus Partner User Account</h4>-->
<!--<form method="post" action="#">-->
 <!--<div class="formUser">-->
     <form action="." method="post">
    {% csrf_token %}

   {{ user_form|bootstrap }}
   {{ community_partner_user_form|bootstrap }}
<br>
<p><button type="submit" class="btn btn-custom">Submit</button></p><br><br>
    </form>
  </div></div>
            </div></div>

<br><br>

<!--<div class="boxContainer">-->
  <!--<p><input type="submit" value="Create My Account" class="button"></p>-->
<!--</div>-->
<!--</form>-->
 <!--</div>-->

<!--</form>-->

{% endblock %}