{% extends 'home/base_home.html' %}
{% load bootstrap %}
{% block title %}Reset your Password{% endblock%}

{% block content %}

<style>

.form-control, input[type=text]
{
    width:95%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:0px 0 8px 4px;
    outline:none;
    padding:3px;
    box-sizing:border-box;
    transition:.3s;
    margin-left: 22px;
}

.form-control:focus
{
   border-color:grey;
   box-shadow:0 0 8px 0 grey;
}


h4
{
	line-height: 2.7;
	font-size: 1.3em;
}

.help-block
{
    margin-left: 25px;
    margin-top: 5px;

}

label:after
{
    content:"*" ;
    color:red
}

label
{
    margin-left: 25px;
    margin-top: 5px;
    font-weight: bold;
}
.help-block
{
    visibility: hidden;
    display: none;
}
#button-center{
    text-align: center;
}

.select2-container--default .select2-selection--single
{
    margin-left:22px;
    width:100%

}
.select2-container--open .select2-dropdown--below
{
    margin-left:22px
}
.panel {
    margin-top: 10%;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
</style>

<div class = "container">
    <div class ="row justify-content-md-center">
        <div class="col-xl-7 col-md-10">
            <div class = "panel panel-default">
		        <div class="panel-heading text-center"><h4>Invite a Community Partner User</h4></div>
			        <div class="panel-body">
                        <p id="align">
                            A community partner user is an individual associated with a community partner
                            organization. Inviting a community partner user will allow the user access to log into the
                            Community Partnership Initiative and view their data, including project-level information.
                            Submitting this form will trigger the user to receive an activation email.
                        </p>
                        <form action="."  onfocusout="return validateForm()" name="myForm" method="post">
                        {% csrf_token %}
                            {{ community_partner_user_form|bootstrap}}
                            {% if community_partner_form.errors %} {% for error in community_partner_form.errors %} <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div> {% endfor %} {% endif %}
                            {{ form.first_name|bootstrap}}
                            {% if form.first_name.errors %} {% for error in form.first_name.errors %} <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div> {% endfor %} {% endif %}
                            {{ form.last_name|bootstrap}}
                            {% if form.last_name.errors %} {% for error in form.last_name.errors %} <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div> {% endfor %} {% endif %}
                            {{ form.email|bootstrap }}
                            {% if form.email.errors %} {% for error in form.email.errors %} <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div> {% endfor %} {% endif %}

                            <div class = "row justify-content-md-center">
                                <div class="col-lg-2 col-md-3 col-sm-3">
                                    <p id="button-center"><button type="submit" class="btn btn-custom"> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                        Submit</button></p>
                                </div>
                            </div><br><br>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock %}


{% block selectizeForm %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">

<script>
$(document).ready(function(){
  $('#id_community_partner').select2(
      {
              placeholder: 'Select a Community Partner',
      }

  );
});
</script>
    <style>
.select2-container .select2-selection--single
{
   height:35px;
}

.select2-container--default .select2-selection--single
{
   border: 2px solid #aaa;
   margin-top:8px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow
{
   top:10px;
}

.select2-container--default .select2-selection--single:focus
{
  border-color:grey;
  box-shadow:0 0 8px 0 grey;
}
</style>
{% endblock %}

