{% extends "home/base_home.html" %}
{% block content %}

<style>
 @media (min-width: 700px)
{
.panel
{
width: 400px;
margin-left: auto;
margin-right:auto;
margin-top:150px;
height: relative;
}
}



@media (max-width: 700px)
{
h4
{
font-size:1.3em
}
}

p
{
margin-left: 15%;
margin-top: 5%;
margin-right : 15%

}
.panel {
    width: 60%;
    margin-bottom: 30%;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

</style>

    <div class="container">
        <div class = "panel panel-default">
            <div class="panel-heading text-center"><h4>Authentication Failed</h4></div>
            <div class="panel-body">
                <p class="text-center">Your Activation link is invalid! <br>
                    Kindly confirm the registration process by verifying your email</p>
            </div>
        </div>
    </div>


{% endblock %}