{% extends 'home/base_home.html' %}
{% load staticfiles %}
{% load wagtailcore_tags register_tags %}

{% block content %}

<style>

    .accordion .card-header:after {
        font-family: 'FontAwesome';
        content: "\f068";
        float: right;
    }

    .accordion .card-header.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\f067";
    }

    .card {
        border: none;
        margin-bottom: 8px !important;
    }

    .card-body {
        border: 1px solid rgba(0, 0, 0, .125);
        margin-top: 0 !important;
        margin-bottom: 8px;
    }

</style>


<br>
<br>
<br>


<div class="container">

    <div id="accordion" class="accordion">
        {% for project in project %}
        <div class="card mb-0">


            <div class="card-header collapsed" data-toggle="collapse" href="#collapse-{{ forloop.counter }}">

                <a class="card-title">


                    <div class="media">
                        <a class="media-left" aria-label="">
                            <div class="logo-frame" style="padding-right: 10px;">
                                <img src="https://local-karthik.s3.us-east-2.amazonaws.com/educational-support.jpg" alt="Card image cap"
                                     class="logo"
                                     width="150" height="150" alt="">
                            </div>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                {{ project.name }}
                            </h4>

                            {% for projmisn in project.projmisn %}
                            <h5 class="media-subheading">
                                {{ projmisn}}<br> <br>{% endfor %}
                            </h5>


                            </p></div>
                    </div>


                </a>
            </div>
            <div id="collapse-{{ forloop.counter }}" class="card-body collapse" data-parent="#accordion">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <b> Community Partner</b>
                            <br>
                            {% for comm_part in project.comm_part %} {{comm_part}} <br> {% endfor %}
                        </td>
                        <td>
                            <b>Campus Partners</b>
                            <br>
                            {% for camp_part in project.camp_part %} {{camp_part}} <br> {% endfor %}
                        </td>
                    </tr>
                </table>


                <p>
                <table style="width: 100% ">
                    <tr>
                        <td>
                            <b> Academic year: </b>{{ project.academic_year }}<br>
                        </td>
                        <td>
                            <b> Project Semester: </b>{{ project.semester}}<br>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <b> Status: </b>{{ project.status}}<br>
                        </td>
                        <td>
                            <b> Start Date: </b>{{ project.startDate }}<br>
                        </td>
                        <td>
                            <b> End Date: </b>{{ project.endDate }}<br>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b> Outcomes: </b>{{ project.outcomes }}<br>
                        </td>
                        <td>
                            <b> Number of UNO Students: </b>{{project.total_uno_students}}<br>
                        </td>
                        <td>
                            <b> Number of UNO Students Hours: </b>{{project.total_uno_hours}}<br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b> Number of UNO Faculty/Staff: </b>{{project.total_uno_faculty}}<br>
                        </td>
                        <td>
                            <b> Number of K12 Students: </b>{{project.total_k12_students}}<br>
                        </td>
                        <td>
                            <b> Number of K12 Students Hours: </b>{{project.total_k12_hours}}<br>
                        </td>

                    </tr>
                    <tr>

                        <td>
                            <b> Number of Other Participants: </b>{{project.total_other_community_members}}<br>
                        </td>
                        <td>
                            <b> Activity Type: </b>{{ project.activityType }}<br>
                        </td>

                    </tr>
                </table>
                <br>
                <b> Description: </b>{{ project.description }}<br>
                </p>

            </div>


        </div>
        {% endfor %}
    </div>

</div>


{% endblock %}