{% extends 'home/base_home.html' %} {% load staticfiles %} {% block content %}
{% load wagtailcore_tags register_tags %}


<style>
    A.class1 {color:red;}
    A.class1:link  {text-decoration: underline; color: red;}

    .fade{
        color: black;
        display: block;
        opacity: 100;
    }
    .fade:not(.show){
        opacity: 5;

    }

    .select2{
        width: 70%!important;
        border-radius: 2px;
        display: block;
        margin: 10px 0 8px 4px;
        height: 30px;

    }
label {
    margin-left: 0px;
    font-weight: lighter;
}
.blackbutton{
        border-radius: .25rem;
}


</style>
            <div class="row justify-content-md-center">
                    <div class="col-xl-12 col-md-12 col-sm-12">
                        <div class = "panel-default" style="width:100%">
                           <div class="card" style="padding: 5px;margin-top:50px;background-color:#333;">
                               <label style="text-align:justify;"><b style="font-size:16px;text-align:center;color:White;"><h4 style="line-height:.8em;padding-top:10px;">Search Project</h4></b></label>
                           </div>
                        </div>
                        <div class="card" style="padding: 10px;">
                            <div class="container">
                                {% priv_projs %}
                            </div>
                       </div>
                    </div>
                </div>

          <div class="card" style="border: none; padding: 10px;">
               <!-- Collapse buttons -->
             <div>
                 <input type="button" style="float: left" id="btn" value= "Hide Filters" class="blackbutton" data-toggle="collapse" data-target="#collapseExample"
                 aria-expanded="false" aria-controls="collapseExample" />
                 <input type="button" style="float: left" id="btn" value= "Reset Filters" class="blackbutton" onclick="window.location.href = '{% url 'checkProject' %}' " value="Reset Filters" >

                 <script type="text/javascript">
                document.getElementById("btn").addEventListener(
                "click",
                function(event) {
                if (event.target.value === "Hide Filters") {
                    event.target.value = "Show Filters";
                } else {
                        event.target.value = "Hide Filters";
                        }
                },
                false
                );
                </script>

                </div>
          </div>


<div class="container" style="padding:10px;position: relative">
   <div class="card" style="border: 2px solid #C3C3C3;">
       <div class="collapse show" id="collapseExample">
            <form id="streamform" action="{% url 'stream_response' %}" method="POST" onSubmit = 'return checking();'>
                  {% csrf_token %}
               <div class="form-inline" id="filters-form" method="get">
                <div class="col-lg-4 col-md-5 form-group">
                    <label for="community_type" style="margin-left: 8px"> Community Partners
                        {% for data_definition in data_definition %}
                            {% if data_definition.id == 33%}
                            {% endif %}
                        {% endfor %}
                    </label>
                    <select id="communityPartner" name="communityPartner" CompValue=" ">
                        {% for name in community_filter.form.community_partner %}
                        <option id = "{{name}}"> </option>
                        {% endfor %}
                    </select>
                </div>

                 <div class="col-lg-4 col-md-5 form-group">
                    <label for="campus_partner" style="margin-left: 8px"> Campus Partners
                    {% for data_definition in data_definition %}
                        {% if data_definition.id == 1%}
                        {% endif %}
                    {% endfor %}
                    </label>
                    <select id="campuspartner" name="campusPartner" CampValue=" ">
                        {% for campus in campus_filter.form.campus_partner %}
                        <option  id = "{{campus}}"> </option>
                        {% endfor %}
                    </select>
                </div>
                   <div class="col-lg-4 col-md-5 form-group">
                    <label for="academic_year" style="margin-left: 8px"> Academic Year
                        {% for data_definition in data_definition %}
                            {% if data_definition.id == 32%}
                            {% endif %}
                        {% endfor %}
                    </label>
                    <select id="academicYear" name="academicYear" YearValue=" ">
                        {% for sem in projects.form.academic_year %}
                        <option id = "{{sem}}"> </option>
                        {% endfor %}
                    </select>
                </div>

                   <div class="col-lg-4 col-md-5 form-group">
                       <label for="projectName" style="margin-left: 8px"> Project Name
                 <input type="text" style="margin-left: 0px;height: 28px" name="projectName" id="projectName"  value = "{{projectName}}" >
                           </label>
                   </div>
                 <div class="justify-content-md-center" style="margin-left: 40%; margin-right: 50%; margin-top: 0%; margin-bottom: 1%">
                   <input class="blackbutton" type="submit"  value="Search" id="streambutton"  onclick = 'this.form.submit();' >
                 </div>
                </form>

       </div>
 </div>
</div>
   </div>

         <div style="float: left;" id="node1-id" style="display: none"></div>

         <div style="float: left;" id="button-id" style="display: none"></div>
         <div>
            <div class="panel-body">&emsp;
                <div class="justify-content-md-center" id="node-id" style="margin-left: 0%; "></div>
            </div>
     </div>


             <div style="margin-top:15px;">
                  <table id="example" class="table table-bordered table-striped dt-responsive overflow-wrap:break-word" style="width:100%">
                   <thead>
                   <br>
                         <tr id="tablerow">
                          <th>Academic Year
                           {% for data_definition in data_definition %}
                             {% if data_definition.id == 30%}
                                <span tabindex="-1" data-toggle="popover" data-trigger="focus"
                                  data-content="{{ data_definition.description }}" class="float" >
                                        <i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                             {% endif %}
                           {% endfor%}
                          </th>
                          <th>Projects
                           {% for data_definition in data_definition %}
                              {% if data_definition.id == 30%}
                                <span tabindex="-1" data-toggle="popover" data-trigger="focus"
                                  data-content="{{ data_definition.description }}" class="float" >
                                        <i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                              {% endif %}
                           {% endfor%}
                           </th>
                           <th>Community Partners
                            {% for data_definition in data_definition %}
                               {% if data_definition.id == 2%}
                                <span tabindex="-1" data-toggle="popover" data-trigger="focus"
                                      data-content="{{ data_definition.description }}" class="float" >
                                        <i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                               {% endif %}
                            {% endfor %}

                            </th>
                            <th>Campus Partners
                             {% for data_definition in data_definition %}
                                {% if data_definition.id == 1%}
                                  <span tabindex="-1" data-toggle="popover" data-trigger="focus"
                                      data-content="{{ data_definition.description }}" class="float" >
                                        <i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                                {% endif %}
                             {% endfor %}
                             </th>
                          </tr>
                     </thead>
                      <br>
<tbody>

{% for project in data_list %}
                      <tr id="tablerows">
                       <td>{{project.academicYear}}</td>
                       <td><a href="/allProjects?p_name= + {{projectName}}"  class="class1" target="_blank" >{{project.projectName}}</a></td>
                          <td>{{ project.communityPartner }} </td>
                          <td>{{ project.campusPartner }}</td>
                          </tr>
{% endfor %}

</tbody>
</div>
 </table>
                 </div>

{% if flagBit == 1 %}
<script>
document.getElementById('node1-id').innerHTML =
                            '<br>' +
                            '<tr><td><a class="blackbutton" href="/allProjects/" target="_blank" role="button" data-toggle="tooltip" title="Click on this button to  access a list of all Community Engagement Projects">' +
                            ' All Projects</a></td></tr>'
</script>
{% endif %}

{% if flagBit == 2 %}

        <script>
        document.getElementById('node1-id').innerHTML =
                            '<br>' +
                            '<tr><td><a class="blackbutton" href="/allProjects/" target="_blank" role="button" data-toggle="tooltip" title="Click on this button to  access a list of all Community Engagement Projects" >' +
                            ' All Projects</a></td></tr>'
        var projectName = $('#projectName').val();
        document.getElementById('button-id').innerHTML =
                            '<br>' +
                            '<tr><td><a class="blackbutton" id="lnk-create_project"  role="button" data-toggle="tooltip" title="Click on this button to create a New Project">' +
                            'Create Project</a></td></tr>'
                            document.getElementById("lnk-create_project").setAttribute("href","/createProject?p_name=" + projectName);
        </script>

    <label style="margin-top: 15px">The above mentioned projects are already registered. Please ensure that the project that you intent to create is not in this list.</label>
{% endif %}

{% if flagBit == 0 %}
        <script>
        <!--var projectName = document.getElementById('projectName').value;-->
        var projectName = $('#projectName').val();
        document.getElementById('button-id').innerHTML =
                            '<br>' +
                            '<tr><td><a class="blackbutton" id="lnk-create_project"  role="button" data-toggle="tooltip" title="Click on this button to create a New Project">' +
                            'Create Project<a></td></tr>'
                            document.getElementById("lnk-create_project").setAttribute("href","/createProject?p_name=" + projectName);
        </script>
    <label style="text-align:justify;">The project that you are searching for does not exist, to proceed with the creation of a new project, click on the button below.</label>
{% endif %}


<script>
    function checking() {
    if(($("#projectName").val() === '') && ($("#communityPartner").val() === '---------') &&  ($("#campuspartner").val() === '---------') && ($("#academicYear").val() === '---------')){
            alert("Please select any of the filters or enter a project name to search.");
            return false
        }
}
</script>
{% endblock %}

        {% block selectizeForm %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
<script>
$(document).ready(function(){
    $('#projectName').attr({placeholder: 'Project Name',width:'70%'});
    $('#communityPartner').select2({placeholder: 'Community Partners',width: '225px'});
    $('#academicYear').select2({placeholder: 'Academic Year',width: '225px'});
    $('#campuspartner').select2({placeholder: 'Campus Partners',width: '225px'});
    });
// submit when enter-Parimita
$("#projectName").keyup(function(event){
      if(event.keyCode== 13){
        $("#Search").click();
        }
    });
// added for submit by Naresh
$('#projectName').addClass('clearable');
               function tog(v){return v?'addClass':'removeClass';}
$(document).on('input', '.clearable', function(){
    $(this)[tog(this.value)]('x');
}).on('mousemove', '.x', function( e ){
    $(this)[tog(this.offsetWidth-28 < e.clientX-this.getBoundingClientRect().left)]('onX');
}).on('touchstart click', '.onX', function( ev ){
    ev.preventDefault();
    $(this).removeClass('x onX').val('').change();
});
</script>

        {% endblock %}
        {% block js %}
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/fc-3.2.5/r-2.2.2/rg-1.1.0/rr-1.2.4/sl-1.2.6/datatables.min.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/fc-3.2.5/r-2.2.2/rg-1.1.0/rr-1.2.4/sl-1.2.6/datatables.min.js"></script>
        <script type="text/javascript">
   $(document).ready(function() {
   $('#example_filter').find('input').addClass('clearable');
               function tog(v){return v?'addClass':'removeClass';}
$(document).on('input', '.clearable', function(){
    $(this)[tog(this.value)]('x');
}).on('mousemove', '.x', function( e ){
    $(this)[tog(this.offsetWidth-18 < e.clientX-this.getBoundingClientRect().left)]('onX');
}).on('touchstart click', '.onX', function( ev ){
    ev.preventDefault();
    $(this).removeClass('x onX').val('').change();
    $('#example').DataTable().destroy();
    $('#example').DataTable().draw();
    $('#example_filter').find('input').addClass('clearable');
});
   } );
</script>
<script>
        $('#lnk-create_project').click(function(){
        var projectName = $('#projectName').val();
        document.getElementById('button-id').innerHTML =
                            '<br>' +
                            '<tr><td><a class="blackbutton" id="lnk-create_project"  role="button" data-toggle="tooltip" title="Click on this button to create a New Project">' +
                            'Create Project</a></td></tr>'
                            document.getElementById("lnk-create_project").setAttribute("href","/createProject?p_name=" + projectName);
       });
</script>

<script>
     $(function () {
                        $('[data-toggle="popover"]').popover()
                    })
</script>
<script>
            $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip();
            });
</script>
<script>
var input = document.getElementById("project_name");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   document.getElementById("Search").click();
  }
});
</script>


{% endblock %}