{% extends 'home/base_home.html' %}
{% load staticfiles %}
{% load wagtailcore_tags register_tags %}
{% block content %}
    <style>
        #loading
        {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border: 16px solid #f3f3f3;
            border-bottom: 16px solid red;
            border-top: 16px solid gray;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin
        {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin
        {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .btn-primary:hover
        {
            background-color:#C3C3C3
        }
        .panel {
            margin-bottom: 20px;
            background-color: #ffffff;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        }
        .page-item.active .page-link
            {
            background-color: #333333;
            border-color: #333333;
            }

        .page-link
        {
        color:#333333;
        }

        .page-link:hover
        {
        color:grey;
        }
        #button-center{
            text-align: center;
        }


    </style>



    <div class="loader" id =loading></div>
    <div class = "container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-12" style="margin-left: 15%">
                <div class = "panel panel-default" style="width:80%">
                    <div class="panel-heading text-center"><h4>My Projects</h4></div>
                    <div class="panel-body">
                    <div class="card" style="padding: 10px;border-left-color: transparent; border-right-color: transparent; border-top-color: transparent;">
                        <div class="container">
                            {% comm_part_projs %}
                        </div>
                    </div>
                </div>
                    <div class="container-fluid">
                        <table id="example" class="table table-responsive table-striped table-bordered dt-responsive overflow-wrap:break-word"  style="width:100%">

                            <thead>
                            <tr>
                                <th>Projects   {% for data_definition in data_definition %}{% if data_definition.id == 36%}<span tabindex="-1" data-toggle="popover" data-trigger="focus"
                                              data-content="{{ data_definition.description }}" class="float"><i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                                    {% endif %} {% endfor %}
                                </th>
                                <th>Mission Areas{% for data_definition in data_definition %}{% if data_definition.id == 3%}<span tabindex="-1" data-toggle="popover" data-trigger="focus"
                                              data-content="{{ data_definition.description }}" class="float"><i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                                    {% endif %} {% endfor %}
                                </th>
                                <th>Community Partners{% for data_definition in data_definition %}{% if data_definition.id == 2%}<span tabindex="-1" data-toggle="popover" data-trigger="focus"
                                              data-content="{{ data_definition.description }}" class="float"><i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                                    {% endif %} {% endfor %}
                                </th>
                                <th>Campus Partners{% for data_definition in data_definition %}{% if data_definition.id == 1%}<span tabindex="-1" data-toggle="popover" data-trigger="focus"
                                              data-content="{{ data_definition.description }}" class="float"><i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                                    {% endif %} {% endfor %}
                                </th>
                                <th>Engagement Types{% for data_definition in data_definition %}{% if data_definition.id == 31%}<span tabindex="-1" data-toggle="popover" data-trigger="focus"
                                              data-content="{{ data_definition.description }}" class="float"><i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                                    {% endif %} {% endfor %}
                                </th>
                                <th>Academic Years{% for data_definition in data_definition %}{% if data_definition.id == 32%}<span tabindex="-1" data-toggle="popover" data-trigger="focus"
                                              data-content="{{ data_definition.description }}" class="float"><i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                                    {% endif %} {% endfor %}
                                </th>
                                <th>Project Status{% for data_definition in data_definition %}{% if data_definition.id == 38%}<span tabindex="-1" data-toggle="popover" data-trigger="focus"
                                              data-content="{{ data_definition.description }}" class="float"><i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                                    {% endif %} {% endfor %}
                                </th>
                                <th> Semester </th>
                                <th> Start Date </th>
                                <th> End Date </th>
                                <th> Outcomes</th>
                                <th> Number of UNO Students</th>
                                <th> Number of UNO Students Hours</th>
                                <th> Number of UNO Faculty/Staff</th>
                                <th> Number of K12 Students</th>
                                <th> Number of K12 Students Hours </th>
                                <th> Number of Other Partcipants</th>
                                <th>Activity Type</th>
                                <th>Description</th>
                                <!--<th>Actions</th>-->
                            </tr>
                            </thead>
                            <tbody>


                            {% for project in project %}
                                <tr>

                                <td>{{ project.name }}</td>
                                <td> {% for projmisn in project.projmisn %} {{ projmisn}}<br> <br>{% endfor %} </td>
                                <td> {% for comm_part in project.comm_part %} {{comm_part}} <br> <br> {% endfor %} </td>
                                <td> {% for camp_part in project.camp_part %} {{camp_part}} <br> <br> {% endfor %} </td>
                                <td> {% for engagementType in project.engagementType %} {{ engagementType }} {% endfor %} </td>
                                <td>{{ project.academic_year }}</td>
                                <td>{{ project.status }}</td>
                                <td>{{ project.semester}}</td>
                                <td>{{ project.startDate }}</td>
                                <td>{{ project.endDate }}</td>
                                <td>{{ project.outcomes }}</td>
                                <td>{{project.total_uno_students}}</td>
                                <td>{{project.total_uno_hours}}</td>
                                <td>{{project.total_uno_faculty}}</td>
                                <td>{{project.total_k12_students}}</td>
                                <td>{{project.total_k12_hours}}</td>
                                <td>{{project.total_other_community_members}}</td>
                                <td>{{ project.activityType }}</td>
                                <td>{{ project.description }}</td>
                                </tr>

                            {% endfor %}



                            </tbody>

                        </table>


                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>&emsp;<br><br><br><br>


{% endblock %}

{% block js %}

    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/fc-3.2.5/r-2.2.2/rg-1.1.0/rr-1.2.4/sl-1.2.6/datatables.min.css"/>-->
    <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src='{% static "js/pdfmake.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/datatables.min.js" %}'></script>
    <!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <!--script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/fc-3.2.5/r-2.2.2/rg-1.1.0/rr-1.2.4/sl-1.2.6/datatables.min.js"></script-->


    <script type="text/javascript">
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>


    <script language="javascript" type="text/javascript">
          window.onload = function(){ document.getElementById("loading").style.display = "none" }
    </script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>

{% endblock %}
