{% extends 'home/base_home.html' %}
{% load bootstrap %}
{% block content %}

<style>
@media (min-width: 700px)
{
.panel
{
width: 400px;
margin-left: auto;
margin-right:auto;
margin-top:150px;
height: relative;
}
}



@media (max-width: 700px)
{
h4
{
font-size:1.3em
}
}

p {
    margin-left: 25px;
    margin-top: 15px;
}
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

@media(min-width:300px)
{
  .container
  {
    max-width:600px;
  }
}

</style>
<div class="container">
 <div class = "col-xl-12 col-md-12 col-sm-12">
		<div class="text-center"><h3 class="text-center" >Thank You</h3></div>
			<div class="box">
              <p style="margin-bottom: auto;margin-top: auto; text-align: center">Your project has been saved as a Draft.
                  A campus partner user can edit an associated project at any time from the <a style=" color: #d71920;" href='/myDrafts/'>My Drafts<a> page.</p><br>
            </div></div></div><br><br><br><br><br><br><br><br><br><br><br>
<script>
    $(document).ready(function () {
        function disableBack() { window.history.forward() }

        window.onload = disableBack();
        window.onpageshow = function (evt) { if (evt.persisted) disableBack() }
    });
</script>
<script type = "text/javascript" >
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function() { null };
</script>

<script>
    window.location.hash = "no-back-button";
    window.location.hash = "Again-No-back-button";//again because google chrome don't insert first hash into history
    window.onhashchange = function () { window.location.hash = "no-back-button"; }
</script>

{% endblock %}