{% extends 'home/base_home.html' %}
{% load staticfiles %}
{% load wagtailcore_tags register_tags %}
{% block content %}

<style>
    #loading
    {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-bottom: 16px solid red;
        border-top: 16px solid gray;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

/* Safari */
    @-webkit-keyframes spin
    {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin
    {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .btn-primary:hover
    {
        background-color:#C3C3C3
    }
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

 .page-item.active .page-link
    {
    background-color: #333333;
    border-color: #333333;
    }

    .page-link
    {
    color:#333333;
    }

    .page-link:hover
    {
    color:grey;
    }
    #button-center{
        text-align: center;
    }

</style>



<br>
<br>
        <div class="row justify-content-md-center">
		    <div class="col-lg-12 col-md-12">
                <div class=" text-center"><h3 class="heading">My Projects</h3></div>
<div class="card snippet-card">
    <div class="container text-snippet">
   {% my_projects %}
    </div>
</div>
                            <div class="container-fluid box">
                                    <table id="example" class="table table-responsive table-striped table-bordered dt-responsive overflow-wrap:break-word" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th class="all">{% for data_definition in data_definition %}{% if data_definition.id == 36%}
                                                    <span tabindex="-1" data-toggle="tooltip" data-placement="right"
                                                          title="{{ data_definition.description }}" class="float" >
                                                          <i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                                                    {% endif %} {% endfor %}Projects
                                                </th>
                                                <th class="all">{% for data_definition in data_definition %}{% if data_definition.id == 3%}
                                                    <span tabindex="-1" data-toggle="tooltip" data-placement="right"
                                                          title="{{ data_definition.description }}" class="float" >
                                                          <i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                                                {% endif %} {% endfor %}Project Focus Areas
                                                </th>
                                                <th class="all">{% for data_definition in data_definition %}{% if data_definition.id == 2%}
                                                    <span tabindex="-1" data-toggle="tooltip" data-placement="bottom"
                                                          title="{{ data_definition.description }}" class="float" >
                                                          <i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                                                {% endif %} {% endfor %}Community Partners
                                                </th>
                                                <th class="all">{% for data_definition in data_definition %}{% if data_definition.id == 1%}
                                                    <span tabindex="-1" data-toggle="tooltip" data-placement="bottom"
                                                          title="{{ data_definition.description }}" class="float" >
                                                          <i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                                                {% endif %} {% endfor %}Campus Partners
                                                </th>
                                                <th class="all">{% for data_definition in data_definition %}{% if data_definition.id == 31%}
                                                    <span tabindex="-1" data-toggle="tooltip" data-placement="bottom"
                                                          title="{{ data_definition.description }}" class="float" >
                                                          <i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                                                {% endif %} {% endfor %}Engagement Types
                                                </th>
                                                <th class="all">{% for data_definition in data_definition %}{% if data_definition.id == 42%}
                                                    <span tabindex="-1" data-toggle="tooltip" data-placement="left"
                                                          title="{{ data_definition.description }}" class="float" >
                                                          <i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                                                {% endif %} {% endfor %}Activity Type
                                                </th>
                                                <th class="none">Academic Year</th>
                                                <th class="none">Semester</th>
                                                <th class="none"> Status </th>
                                                <th class="none"> Start Date </th>
                                                <th class="none"> End Date </th>
                                                <th class="none"> Outcomes</th>
                                                <th class="none"> Number of UNO Students</th>
                                                <th class="none"> Number of UNO Students Hours</th>
                                                <th class="none"> Number of UNO Faculty/Staff</th>
                                                <th class="none"> Number of K12 Students</th>
                                                <th class="none"> Number of K12 Students Hours </th>
                                                <th class="none"> Number of Other Participants</th>

                                                <th class="none">Description</th>
                                                <th class="none">Project Type</th>
                                                <th class="none">End Semester</th>
                                                <th class="none">End Academic Year</th>
                                                <th class="none">Sub Category</th>
                                                <th class="none">Campus Lead Staff</th>
                                                <th class="none">Other Activity Type</th>
                                                <th class="none">Other Sub Category</th>
                                                <th class="none">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for project in project %}
                                            <tr>
                                                <td>{{ project.name }}</td>
                                                <td> {% for projmisn in project.projmisn %} {{ projmisn}}<br> <br>{% endfor %} </td>
                                                <td> {% for comm_part in project.comm_part %} {{comm_part}} <br> <br> {% endfor %} </td>
                                                <td> {% for camp_part in project.camp_part %} {{camp_part}} <br> <br> {% endfor %} </td>
                                                <td> {% for engagementType in project.engagementType %} {{ engagementType }} {% endfor %} </td>
                                                 <td>{{ project.activityType }}</td>
                                                <td>{{ project.academic_year }}</td>
                                                <td>{{ project.semester}}</td>
                                                <td>{{ project.status }}</td>
                                                <td>{{ project.startDate }}</td>
                                                <td>{{ project.endDate }}</td>
                                                <td>{{ project.outcomes }}</td>
                                                <td>{{project.total_uno_students}}</td>
                                                <td>{{project.total_uno_hours}}</td>
                                                <td>{{project.total_uno_faculty}}</td>
                                                <td>{{project.total_k12_students}}</td>
                                                <td>{{project.total_k12_hours}}</td>
                                                <td>{{project.total_other_community_members}}</td>

                                                <td>{{ project.description }}</td>
                                                <td>{{ project.project_type }}</td>
                                                <td>{{ project.end_semester }}</td>
                                                <td>{{ project.end_academic_year }}</td>
                                            <td>
                                {% for sub_category in project.sub_category %}{{sub_category}}{% endfor %}</td>

                            <td>
                                {%if campus_lead_staff > 1%}
                                {% for campus_lead_staff in project.campus_lead_staff %} {{campus_lead_staff}}{% endfor%},
                                {%else%}
                                {% for campus_lead_staff in project.campus_lead_staff %} {{campus_lead_staff}}{% endfor%}
                                {%endif%}
                            </td>
                                <td>
                                {%if other_activity_type > 1%}
                                {% for other_activity_type in project.other_activity_type %}{{other_activity_type}}{% endfor %},
                                {%else%}
                                {% for other_activity_type in project.other_activity_type %}{{other_activity_type}}{% endfor %}
                                {%endif%}
                            </td>
                                            <td>
                                {%if other_sub_category > 1%}
                                {% for other_sub_category in project.other_sub_category %}{{other_sub_category}}{% endfor %},
                                {%else%}
                                {% for other_sub_category in project.other_sub_category %}{{other_sub_category}}{% endfor %}
                                {%endif%}
                            </td>

                                                <td id="button-center"><a href="{% url 'editProject' pk=project.pk %}" class="btn btn-primary" style="margin-top:10px;"><i class="fa fa-edit"></i> Edit</a> </td>
                                           </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>


          <br><br>
                                </div>
                        </div>
                </div>
            </div>
        </div>
 </div>&emsp;<br><br>


{% endblock %}

{% block js %}

<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/fc-3.2.5/r-2.2.2/rg-1.1.0/rr-1.2.4/sl-1.2.6/datatables.min.css"/>-->
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src='{% static "js/pdfmake.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/datatables.min.js" %}'></script>
<!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<!--script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/fc-3.2.5/r-2.2.2/rg-1.1.0/rr-1.2.4/sl-1.2.6/datatables.min.js"></script-->


<script type="text/javascript">
    $(document).ready(function() {
    $('#example').DataTable({
       dom: 'B<"clear">lftpi',
       buttons: {
       name: 'primary',
       buttons: [{
           extend: 'csv',
           text:'Excel'
       }, 'excel',
        {
         extend : 'pdfHtml5',
         messageTop:'All projects report',
         orientation : 'landscape',
         pageSize : 'A2',
         text : 'PDF',
         titleAttr : 'PDF'
           }]
       },
        columnDefs: [

           // { responsivePriority: 10001, targets: 10 },
           // { responsivePriority: 10001, targets: 11 },
           // { responsivePriority: 10001, targets: 12 },
           // { responsivePriority: 10001, targets: 13 },
           // { responsivePriority: 10001, targets: 14 },
           {"width": "21.5%","targets":[0,1,2,3,4,5,6]}


        ],

        "oSearch": {"bSmart": false}
        // "scrollY": "none",
        // "scrollCollapse": false,



    });
     $('#example_filter').find('input').addClass('clearable');
               function tog(v){return v?'addClass':'removeClass';}
$(document).on('input', '.clearable', function(){
    $(this)[tog(this.value)]('x');
}).on('mousemove', '.x', function( e ){
    $(this)[tog(this.offsetWidth-18 < e.clientX-this.getBoundingClientRect().left)]('onX');
}).on('touchstart click', '.onX', function( ev ){
    ev.preventDefault();
    $(this).removeClass('x onX').val('').change();
    $('#example').DataTable().destroy();
    $('#example').DataTable().draw();
    $('#example_filter').find('input').addClass('clearable');
});
    } );

 </script>


<script language="javascript" type="text/javascript">
    console.log(" im in loader stopper");
    window.onload = function(){ document.getElementById("loading").style.display = "none" }
</script>
<script>
            $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip();
            });
</script>

{% endblock %}
