{% extends 'home/Campus_Home.html' %}
{% load bootstrap %}
{% block content %}
      <style>
    label
    {
    margin-left: 10px;
    font-weight: bold;
    }
 input[type=number],textarea[name=project_name],.form-control
    {
        width: 90%;
        height: 10%;
    }
 @media (min-width: 700px) {
     .btn-custom {
         margin-top: 20px;
         margin-left: 350px;
     }
 }
    </style>
<div class="container">

<div class = "container">
    <div class = "panel panel-default">
		<div class="panel-heading text-center"><h4>Edit Project</h4></div>
			<div class="panel-body">

       <form method="POST" class="project-form" >{% csrf_token %}
        {{ project|bootstrap }}
        {{ formset_missiondetails|bootstrap }}
        {{ formset_comm_details|bootstrap }}
        {{ formset_camp_details|bootstrap }}
        <button type="submit" class="save btn btn-custom">Update</button>
    </form><br><br>
            </div></div></div></div><br><br>
{% endblock %}