{% extends 'home/Campus_Home.html' %}
{% load bootstrap %}
{% block content %}

<style>

label
    {
    margin-left: 22px;
    font-weight: bold;
    }


input[type=number],textarea[name=project_name],.form-control,input[type=text],select[id=id_status],textarea[id=id_description],textarea[id=id_total_uno_hours],
input[id=id_start_date],input[id=id_end_date]
    {
        width: 95%;
        height: 10%;

    }


.select2-container--default .select2-selection--single
{
   margin-left:22px;
   width:100%
}


.select2-container--open .select2-dropdown--below
{
   margin-left:22px
}

</style>



<div class = "container" id="main12">
    <div class="row justify-content-md-center">
        <div class="col-lg-10 col-md-10">
            <div class = "panel panel-default">
                <div class="panel-heading text-center"><h4>Edit Project</h4></div>
                    <div class="panel-body" style="margin-top:10px;">
                        <form method="POST" name = "myForm" onfocusout="return validateFormsets()" class="project-form" >{% csrf_token %}
                            {{project.project_name|bootstrap}}
                            {{ project.status|bootstrap}}
                            {{project.engagement_type|bootstrap}}
                            {{ course.name|bootstrap }}
                            {{ course.prefix|bootstrap }}
                            {{ course.number|bootstrap }}
                            {{project.activity_type|bootstrap}}
                            {{ project.facilitator|bootstrap }}
                            {{ project.description|bootstrap }}
                            {{ project.semester|bootstrap }}
                            {{ project.academic_year|bootstrap }}
                            {{ project.total_uno_students|bootstrap }}
                            {{ project.total_uno_hours|bootstrap }}
                            {{ project.total_k12_students|bootstrap }}
                            {{ project.total_k12_hours|bootstrap }}
                            {{ project.total_uno_faculty|bootstrap }}
                            {{ project.total_other_community_members|bootstrap }}
                            {{ project.start_date|bootstrap }}
                            {{ project.end_date|bootstrap }}
                            {{ project.other_details|bootstrap }}
                            {{ project.outcomes|bootstrap }}
                            {{ project.address_line1|bootstrap }}
                            {{ project.city|bootstrap }}
                            {{ project.state|bootstrap }}
                            {{ project.country|bootstrap }}
                            {{ project.zip|bootstrap }}
                            {{ formset_missiondetails|bootstrap }}
                            {{ formset_comm_details|bootstrap }}
                            {{ formset_camp_details|bootstrap }}
                            <div class="row justify-content-md-center" style="margin-top:30px;">
                                <div class="col-lg-2 col-md-5">
                                    <button type="submit" class="save btn btn-custom">Update</button>
                                </div>
                            </div>
                        </form><br><br>
                    </div>
                </div>
        </div>
    </div>
</div> <br><br>


{% endblock %}



{% block custom_js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
window.onload = function () {

   var val = $("#id_engagement_type").val();
            if (val === '3') {
               $("#id_name").show();
               $("label.control-label[for=id_name], input#id_name").show();
               $("label.control-label[for=id_prefix], input#id_prefix").show();
            $("#id_prefix").show();
            $("label.control-label[for=id_number], input#id_number").show();
            $("#id_number").show();

            }

}
</script>

<script>
    $(function(){
        function hideInputs() {
            $("label.control-label[for=id_name], input#id_name").hide();
            $("#id_id_name").hide();
            $("label.control-label[for=id_prefix], input#id_prefix").hide();
            $("#id_prefix").hide();
            $("label.control-label[for=id_number], input#id_number").hide();
            $("#id_number").hide();

            console.log('label.control-label[for=id_name], input#id_name');
            }
        $("#id_engagement_type").on('change', function(){
            var val = $("#id_engagement_type").val();
            if (val === '3') {
               $("#id_name").show();
               $("label.control-label[for=id_name], input#id_name").show();
               $("label.control-label[for=id_prefix], input#id_prefix").show();
            $("#id_prefix").show();
            $("label.control-label[for=id_number], input#id_number").show();
            $("#id_number").show();

            }
            else {
                hideInputs();
            }
        });
        hideInputs();
    });
</script>


    <script type="text/javascript">


function validateFormsets(){

     var id =event.target.id;
     var name = event.target.name;
     console.log(id);
     console.log(name);
     console.log(document.getElementById(id).value);
    { console.log("helloooo");
        if (id.includes("k12_students") || id.includes("k12_hours") || id.includes("total_uno_faculty") || id.includes("total_other_community_members") || id.includes("zip")
        || id.includes("projectcampuspartner_set") ||  id.includes("projectcommunitypartner_set")) {
            if (!(document.getElementById(id).value).match(/^[0-9]+$/)) {
                $('#'+id+'-error').remove();
                $('#'+id).after('<div style="color:sandybrown;text-align: left; margin-left: 25px; font-size: 14px;font-style: italic" id='+id +'-error >  Please enter numeric values </div>');

                document.getElementById(id).style.borderColor = "red";
                return false;
            }
            else {
                document.getElementById(id).style.borderColor = "gray";
                $('#'+id+'-error').remove();
                return true;
            }


        }

        if(id.includes("country")||id.includes("city")|| id.includes("state")){
            if(!(document.getElementById(id).value).match(/^[a-zA-z ]*$/)){
                $('#'+id+'-error').remove();
                $('#'+id).after('<div style="color:sandybrown;text-align: left; margin-left: 25px; font-size: 14px;font-style: italic" id='+id +'-error >  Please enter alphabets  </div>');
                document.getElementById(id).style.borderColor = "red";
                return false;

            }
            else {
                document.getElementById(id).style.borderColor = "gray";
                $('#'+id+'-error').remove();
                return true;
            }

        }
        if(id.includes("total_economic_impact")){

            if(!/^[0-9]+\.?[0-9]*$/.test(document.getElementById(id).value))
            {
                $('#'+id+'-error').remove();
                $('#'+id).after('<div style="color:sandybrown;text-align: left; margin-left: 25px; font-size: 14px;font-style: italic" id='+id +'-error >  Please enter numeric values  </div>');
                document.getElementById(id).style.borderColor = "red";
                return false;


            }
        }
    }
return true;

}

</script>


{% endblock %}
{% block selectizeForm %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
<script>
$(document).ready(function(){
  $('#id_engagement_type').select2(
      {
              placeholder: 'Select an Engagement Type',
      }
  );
  $('#id_activity_type').select2(
      {
              placeholder: 'Select an Activity Type',
      }
  );
  $('#id_status').select2(
      {
              placeholder: 'Select a Status',
      }
  );
  $('#id_projectmission_set-0-mission_type').select2(
      {
              placeholder: 'Select a Mission Type',
      }
  );
  $('#id_projectmission_set-0-mission').select2(
      {
              placeholder: 'Select a Mission',
      }
  );
  $('#id_projectcommunitypartner_set-0-community_partner').select2(
      {
              placeholder: 'Select a Community Partner',
      }
  );
   $('#id_projectcampuspartner_set-0-campus_partner').select2(
      {
              placeholder: 'Select a Campus Partner',
      }
  );
   $('#id_projectcampuspartner_set-1-campus_partner').select2(
      {
              placeholder: 'Select a Campus Partner',
      }
  );
});
</script>
<style>
.select2-container .select2-selection--single
{
   height:35px;
}

.select2-container--default .select2-selection--single
{
   border: 2px solid #aaa;
   margin-top:8px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow
{
   top:10px;
}

.select2-container--default .select2-selection--single:focus
{
  border-color:grey;
  box-shadow:0 0 8px 0 grey;
}
</style>

{% endblock %}

