{% extends 'home/Campus_Home.html' %}
{% load bootstrap %}
{% block content %}
    <style>
    label
    {
    margin-left: 10px;
    font-weight: bold;
    }
 h4
{
    line-height: 2.7;
    font-size: 1.3em;
}

    .btn-custom
    {
        margin-top:20px;
        margin-left:350px;
        width:130px;
    }
    </style>
<div class="container">

<div class = "container">

<div class="row">
               <a href="{% url 'SearchForProject' %}" class="row"><span
                         class="btn btn-custom">Search Project</span></a>
             </div><br><br>
    <div class = "panel panel-default">
        <div class="panel-heading text-center"><h4><b>Add Project</b></h4></div>
			<div class="panel-body">


     <form method="POST" >{% csrf_token %}
         {{formset.management_form}}
         {{formset2.management_form}}
         {{formset3.management_form}}

         {{project.as_p}}

         {% for form in formset %}
         <div class="row form-row spacer">
                <div class="col-4">
                    <label>Mission Information</label>
                    <br>
                </div>
                <div class="col-4">
                <div class="input-group">
                    {{ form.as_p }}
                    <div class="input-group-append" >
                              <button class="btn btn-outline-info btn-sm add-form-row">Add more missions</button>

                    </div>
                </div>
                </div>
         </div>
         {% endfor %}

         {% for form2 in formset2 %}
          <div class="row form2-row spacer">
                <div class="col-4">
                    <label>Community Partner Information</label>
                    <br>
                </div>
                <div class="col-4">
                <div class="input-group">
                    {{form2}}
                    <div class="input-group-append" >
                              <button class="btn2 btn-outline-info btn-sm add-form2-row">Add more CommunityPartners</button>

                    </div>
                </div>
                </div>
          </div>
         {%endfor%}

         {% for form3 in formset3 %}
         <div class="row form3-row spacer">
                <div class="col-4">
                    <label>Campus Information</label>
                    <br>
                </div>
                <div class="col-4">
                <div class="input-group">
                    {{ form3.as_p }}
                    <div class="input-group-append" >
                        <button class="btn btn-outline-info btn-sm add-form3-row">Add more Campus</button>
                    </div>
                </div>
                </div>
         </div>
         {% endfor %}

        <button type="submit" class="save btn btn-custom">Save</button>
    </form><br><br>
            </div></div></div></div><br><br>
{% endblock %}


{% block custom_js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript">
function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}
function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name')
        if(name) {
            name = name.replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        }
    });

    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);

    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form-row').addClass('remove-form-row')
    .html('-');

    var condition2Row = $('.form2-row:not(:last)');
    condition2Row.find('.btn2.add-form2-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form2-row').addClass('remove-form-row')
    .html('-');

    var condition3Row = $('.form3-row:not(:last)');
    condition3Row.find('.btn.add-form3-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form3-row').addClass('remove-form3-row')
    .html('-');

    return false;
}
function deleteForm(prefix, btn2) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn2.closest('.form-row').remove();
        var forms = $('.form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.add-form-row', function(e){
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
});

$(document).on('click', '.add-form2-row', function(e){
    e.preventDefault();
    cloneMore('.form2-row:last', 'form2');
    return false;
});

$(document).on('click', '.add-form3-row', function(e){
    e.preventDefault();
    cloneMore('.form3-row:last', 'form3');
    return false;
});

$(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
});

$(document).on('click', '.remove-form2-row', function(e){
    e.preventDefault();
    deleteForm('form2', $(this));
    return false;
});

$(document).on('click', '.remove-form3-row', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
});

</script>

{% endblock %}