{% extends 'home/Campus_Home.html' %}
{% load staticfiles %}
{% block content %}

<style>
    #loading
    {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-bottom: 16px solid red;
        border-top: 16px solid gray;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

/* Safari */
    @-webkit-keyframes spin
    {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin
    {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .btn-primary:hover
    {
        background-color:#C3C3C3
    }

</style>



<div class="loader" id =loading></div>
 <div class = "container-fluid">
        <div class="row justify-content-md-center">
		    <div class="col-lg-12 col-md-12">
                <div class = "panel panel-default">
                    <div class="panel-heading text-center"><h4>Projects</h4></div>&emsp;
			            <div class="panel-body">
                            <div class="container-fluid">
                                    <table id="example" class="table table-bordered dt-responsive overflow-wrap:break-word" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Project Name</th>
                                                <th>Mission Areas</th>
                                                <th>Community Partners</th>
                                                <th>Campus Partners</th>
                                                <th>Engagement Type</th>
                                                <th>Academic Year</th>
                                                <th>Status</th>
                                                <th>Semester</th>
                                                <th>Start Date </th>
                                                <th>End Date </th>
                                                <th> UNO Students</th>
                                                <th> UNO Student Hours</th>
                                                <th> UNO Faculty</th>
                                                <th> K12 Students</th>
                                                <th> K12 Student Hours </th>
                                                <th>Community Members</th>
                                                <th>Activity Type</th>
                                                <th>Facilitator</th>
                                                <th>Description</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for project in project %}
                                            <tr>
                                                <td>{{ project.name }}</td>
                                                <td>{% for projmisn in project.projmisn %}
                                                 <b>{{ projmisn.mission_type}} : </b>{{ projmisn.mission}}<br> <br>{% endfor %} </td>
                                                <td> {% for cp in project.cp %} {{cp.community_partner}} <br> <br> {% endfor %} </td>
                                                <td> {% for camp_part in project.camp_part %} {{camp_part}} <br> <br> {% endfor %} </td>
                                                <td>{{ project.engagementType }}</td>
                                                <td>{{ project.academic_year }}</td>
                                                <td>{{ project.status}}</td>
                                                <td>{{ project.semester }}</td>
                                                <td>{{ project.startDate }}</td>
                                                <td>{{ project.endDate }}</td>
                                                <td>{{project.total_uno_students}}</td>
                                                <td>{{project.total_uno_hours}}</td>
                                                <td>{{project.total_uno_faculty}}</td>
                                                <td>{{project.total_k12_students}}</td>
                                                <td>{{project.total_k12_hours}}</td>
                                                <td>{{project.total_other_community_members}}</td>
                                                <td>{{ project.activityType }}</td>
                                                <td>{{ project.facilitator }}</td>
                                                <td>{{ project.description }}</td>
                                                <td><a href="{% url 'project_edit_new' pk=project.pk %}" class="btn btn-primary" style="margin-top:10px;">Edit</a> </td>
                                           </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>


          <br><br>
                                </div>
                        </div>
                </div>
            </div>
        </div>
 </div>&emsp;<br><br><br><br>


{% endblock %}

{% block js %}

<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/fc-3.2.5/r-2.2.2/rg-1.1.0/rr-1.2.4/sl-1.2.6/datatables.min.css"/>-->
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src='{% static "js/pdfmake.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/datatables.min.js" %}'></script>
<!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<!--script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/fc-3.2.5/r-2.2.2/rg-1.1.0/rr-1.2.4/sl-1.2.6/datatables.min.js"></script-->


<script type="text/javascript">
    $(document).ready(function() {
    $('#example').DataTable();
    } );
 </script>


<script language="javascript" type="text/javascript">
    console.log(" im in loader stopper");
    window.onload = function(){ document.getElementById("loading").style.display = "none" }
</script>

{% endblock %}