{% extends 'home/Campus_Home.html' %}
{% load bootstrap %}
{% block content %}
  <style>
    label
    {
    margin-left: 25px;
    font-weight: bold;
    }

    h4
    {
    line-height: 2.7;
    font-size: 1.3em;
    }
  .panel-default
  {
      margin-top: 20px;
  }

    .btn-custom
    {
        margin-top:20px;
        margin-left:300px;
        width:130px;
    }

    input[id=id_start_date],input[id=id_end_date], textarea[id=id_description],textarea[id=id_total_uno_hours],input[type=text],[type=password],[type=email],select[id=id_engagement_type], select[id=id_activity_type],textarea[id=id_description],select[id=id_semester],input[type=number],select[id=id_status]
    {
    width:95%;
    }

.select2-container--default .select2-selection--single
{
margin-left:22px;
width:100%
}

.select2-container--open .select2-dropdown--below
{
margin-left:22px
}
    </style>
<!--<div class="container">
               <a href="{% url 'SearchForProject' %}" class="row"><span
                         class="btn btn-custom">Search Project</span></a>
</div-->
{% block selectizeForm %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
<script>
$(document).ready(function(){
  $('#id_engagement_type').select2(
      {
              placeholder: 'Select an Engagement Type',
      }
  );
  $('#id_activity_type').select2(
      {
              placeholder: 'Select an Activity Type',
      }
  );
  $('#id_status').select2(
      {
              placeholder: 'Select a Status',
      }
  );
});
</script>
{% endblock %}
    <div class = "container">
        <div class="row justify-content-md-center">
		    <div class="col-lg-10 col-md-10">
                <div class = "panel panel-default">
                    <div class="panel-heading text-center"><h4><b>Add Project</b></h4></div>
			            <div class="panel-body">


                        <form method="POST" >{% csrf_token %}
                        {{formset.management_form}}
                        {{formset2.management_form}}
                        {{formset3.management_form}}
                        <!--div class="row">
                            <div class="col-md-12 col-lg-12"-->
                                {{project.project_name|bootstrap}}
                            <!--/div>
                        </div>
                        <div class ="row">
                            <div class="col-lg-6 col-md-6"-->

                            <!--/div>
                            <div class="col-lg-5 col-md-6"-->
                                {{project.engagement_type|bootstrap}}
                                <div class = "row">
                        <div class="col-lg-12 col-md-12 col-sm-12">

                            <!--/div>
                        </div>
                        <div class ="row"-->
                            {{ course|bootstrap }}
                        <!--/div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6"-->
                                {{project.activity_type|bootstrap}}
                            <!--/div>
                            <div class="col-lg-5 col-md-6"-->
                                {{ project.facilitator|bootstrap }}
                                 {{ project.status|bootstrap}}
                            <!--/div>
                        </div-->
         {{ project.description|bootstrap }}
         {{ project.semester|bootstrap }}
         {{ project.total_uno_students|bootstrap }}
         {{ project.total_uno_hours|bootstrap }}
         {{ project.total_k12_students|bootstrap }}
         {{ project.total_k12_hours|bootstrap }}
         {{ project.total_uno_faculty|bootstrap }}
         {{ project.total_other_community_members|bootstrap }}
         {{ project.start_date|bootstrap }}
         {{ project.end_date|bootstrap }}
         {{ project.other_details|bootstrap }}
         {{ project.outcomes|bootstrap }}
         {{ project.address_line1|bootstrap }}
         {{ project.city|bootstrap }}
         {{ project.state|bootstrap }}
         {{ project.country|bootstrap }}
         {{ project.zip|bootstrap }}
        </div>
        </div>



                  {% for form in formset %}
         <div class="form-row" id="contact1">
                <div class="col-lg-12">
                    <label>Mission Information</label>
                    <br>
                </div>
                <div class="col-lg-12">
                <div class="input-group">
                    {{ form.as_p }}
                    <div class="input-group-append" >
                              <button class="btn btn-secondary add-form-row">Add more missions</button>

                    </div>
                </div>
                </div>
         </div>
         {% endfor %}
<!--
         {% for form2 in formset2 %}
          <div class="form2-row" id="contact2">
                <div class="col-lg-12">
                    <label>Community Partner Information</label>
                    <br>
                </div>
                <div class="col-lg-6">
                <div class="input-group">
                    {{form2}}
                </div>
                    <div class="input-group-append" >
                             <button class="btn btn-secondary add-form2-row">Add more CommunityPartners</button>

                    </div>

                </div>
          </div>
         {%endfor%}
-->
         {% for form3 in formset3 %}
         <div class="form3-row" id="contact1">
                <div class="col-lg-12">
                    <label>Campus Information</label>
                    <br>
                </div>
                <div class="col-lg-6">
                <div class="input-group">
                    {{ form3.as_table }}
                    <div class="input-group-append" >
                        <button class="btn btn-secondary add-form3-row">Add more Campus</button>
                    </div>
                </div>
                </div>
         </div>
         {% endfor %}

        <button type="submit" class="save btn btn-custom">Save</button>
    </form><br><br>
                    </div></div></div></div></div><br><br><br>
{% endblock %}



{% block custom_js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript">
function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}
function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name')
        if(name) {
            name = name.replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        }
    });

    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);

    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form-row').addClass('remove-form-row')
    .html('-');

    var condition2Row = $('.form2-row:not(:last)');
    condition2Row.find('.btn2.add-form2-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form2-row').addClass('remove-form-row')
    .html('-');

    var condition3Row = $('.form3-row:not(:last)');
    condition3Row.find('.btn.add-form3-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form3-row').addClass('remove-form3-row')
    .html('-');

    return false;
}
function deleteForm(prefix, btn2) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn2.closest('.form-row').remove();
        var forms = $('.form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.add-form-row', function(e){
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
});

$(document).on('click', '.add-form2-row', function(e){
    e.preventDefault();
    cloneMore('.form2-row:last', 'form2');
    return false;
});

$(document).on('click', '.add-form3-row', function(e){
    e.preventDefault();
    cloneMore('.form3-row:last', 'form3');
    return false;
});

$(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
});

$(document).on('click', '.remove-form2-row', function(e){
    e.preventDefault();
    deleteForm('form2', $(this));
    return false;
});

$(document).on('click', '.remove-form3-row', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
});

</script>
<script>
    $(function(){
        function hideInputs() {
            $("label.control-label[for=id_name], input#id_name").hide();
            $("#id_id_name").hide();
            $("label.control-label[for=id_prefix], input#id_prefix").hide();
            $("#id_prefix").hide();
            $("label.control-label[for=id_number], input#id_number").hide();
            $("#id_number").hide();

            console.log('label.control-label[for=id_name], input#id_name');
            }
        $("#id_engagement_type").on('change', function(){
            var val = $("#id_engagement_type").val();
            if (val === '4') {
               $("#id_name").show();
               $("label.control-label[for=id_name], input#id_name").show();
               $("label.control-label[for=id_prefix], input#id_prefix").show();
            $("#id_prefix").show();
            $("label.control-label[for=id_number], input#id_number").show();
            $("#id_number").show();

            }
            else {
                hideInputs();
            }
        });
        hideInputs();
    });
</script>
{% endblock %}