{% extends 'home/Campus_Home.html' %}
{% load staticfiles %}

{% block content %}
<style>

label, .btn-default
{
    margin-left:100px;
}



/* Datatable Css */

    .btn-group{float:left;, labels:"Export"}
    #example_length{float:left; margin:0 0 0 0px;}
    #example_length select{width:50%;}


    div.dataTables_wrapper div.dataTables_length label
    {
        margin-left:0px;
    }


    div.dataTables_wrapper div.dataTables_filter label
    {
        float:right;
    }


    @media (max-width: 900px)
    {
        div.dataTables_wrapper div.dataTables_length label
        {
            float:left;
            margin-left:50px;
        }
        #example_length select{width:35%;}
    }

    div.dataTables_wrapper div.dataTables_paginate
    {
        float:right;
    }



</style>

 <div class = "container-fluid">
        <div class="row justify-content-md-center">
		    <div class="col-lg-12 col-md-12">
                <div class = "panel panel-default">
                    <div class="panel-heading text-center"><h4>Search for Existing Projects</h4></div>&emsp;
			            <div class="panel-body">

                         <!--/div>
        <!--<div class="ui-widget">-->
        <!--</div>-->

                        <div class="container">
                            <table id="example" class="table table-striped table-bordered dt-responsive overflow-wrap:break-word" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Mission Areas</th>
                                    <th>Community Partners</th>
                                    <th>Campus Partners</th>
                                    <th>Engagement Type</th>
                                    <th>Academic Year</th>
                                    <th>Status</th>
                                    <th>Semester</th>
                                    <th>Start Date </th>
                                    <th>End Date </th>
                                    <th> UNO Students</th>
                                    <th> UNO Student Hours</th>
                                    <th> UNO Faculty</th>
                                    <th> K12 Students</th>
                                    <th> K12 Student Hours </th>
                                    <th>Community Members</th>
                                    <th>Activity Type</th>
                                    <th>Facilitator</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for project in project %}
                                <tr>
                                    <td>{{ project.name }}</td>
                                    <td>{% for projmisn in project.projmisn %}
                                    <b>{{ projmisn.mission_type}} : </b>{{ projmisn.mission}}<br> <br>{% endfor %} </td>
                                    <td> {% for cp in project.cp %} {{cp.community_partner}} <br> <br> {% endfor %} </td>
                                    <td> {% for camp_part in project.camp_part %} {{camp_part}} <br> <br> {% endfor %} </td>
                                    <td>{{ project.engagementType }}</td>
                                    <td>{{ project.academic_year }}</td>
                                    <td>{{ project.status}}</td>
                                    <td>{{ project.semester }}</td>
                                    <td>{{ project.startDate }}</td>
                                    <td>{{ project.endDate }}</td>
                                    <td>{{project.total_uno_students}}</td>
                                    <td>{{project.total_uno_hours}}</td>
                                    <td>{{project.total_uno_faculty}}</td>
                                    <td>{{project.total_k12_students}}</td>
                                    <td>{{project.total_k12_hours}}</td>
                                    <td>{{project.total_other_community_members}}</td>
                                    <td>{{ project.activityType }}</td>
                                    <td>{{ project.facilitator }}</td>
                                    <td>{{ project.description }}</td>

                                    <form action="." method="POST">
                                        {% for current in theList %}
                                            {% if forloop.parentloop.counter0 == forloop.counter0 %}
                                                {% if current %}
                                                    <td><a href="{% url 'projectSearchAdd' pk=project.pk %}" class="btn btn-primary" style="margin-top:10px;">Add</a> </td>
                                                {% else %}
                                                    <td><a href="{% url 'projectSearchAdd' pk=project.pk %}" class="btn btn-secondary disabled" style="margin-top:10px;">Add</a> </td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </form>

                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>&emsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>&emsp;

 {% endblock %}

{% block js %}

<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/fc-3.2.5/r-2.2.2/rg-1.1.0/rr-1.2.4/sl-1.2.6/datatables.min.css"/>-->
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src='{% static "js/pdfmake.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/datatables.min.js" %}'></script>
<!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<!--script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/fc-3.2.5/r-2.2.2/rg-1.1.0/rr-1.2.4/sl-1.2.6/datatables.min.js"></script-->


<script type="text/javascript">
    $(document).ready(function() {
    $('#example').DataTable();

    } );
</script>


{% endblock %}