<!DOCTYPE html>
<% load static %>

<html lang="en">
<head>
  <title>Community Partnership Initiative</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        #menu-toggle
        {
		 display: table-cell !important;
		 vertical-align: middle;
	    }
	    /*replaces .hide*/
        .visible-mobile
        {
	        display:none;
	    }
    </style>
</head>
<body>

<div class="card mb-3">
  <img class="card-img-top" alt="University of Nebraska at Omaha" src="https://www.unomaha.edu/_files/images/logo-subsite-o-2.png">
    <a href="home.html">University of Nebraska Omaha</a>
  <div class="card-body">
  </div>
</div>



<nav class="navbar navbar-inverse">
    <div class="visible-mobile" id="menu-toggle">
	<a class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" href="#" id="m_header-toggler">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    </a>
    </div>
    <div class="collapse navbar-collapse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="Home.html">Community Partnership Initiative</a>
    </div>
    <ul class="nav navbar-nav">
      <li class=""><a href="#">Home</a></li>
        <li class=""><a href="#">Dashboard</a></li>
        <li><a href="#">About US </a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="glyphicon glyphicon-user"></span> Sign Up <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Campus Partner</a></li>
          <li><a href="#">Community Partner</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="glyphicon glyphicon-user"></span> Sign Up as a User <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href='/registerCampusPartnerUser/'>Campus Partner</a></li>
          <li><a href='/registerCommunityPartnerUser/'>Community Partner</a></li>
        </ul>
      </li>
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div></div>
</nav>

<div class="container">
  <h3>Capstone Project Section 1</h3>
</div>

</body>
</html>