/*footer*/

#setcolor > li > a
{
color:White;
}


footer {
  position:relative;
  bottom: 0;
  text-align: center;
  background-color: #282828;
  width: 100%
  /*color:#999;*/
}


footer span.copyright {
  font-color: White;
  color: White;
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-size: 1 em
  font-family: 'Helvetica';
}





footer ul.quicklinks {
  /*position: absolute;
  bottom: 0;*/
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  color: #fdf9f9;
  font-family: 'Helvetica';
}




ul.footertext
{
color:White;
font-size:9px;
text-align:justify;
margin-top:12px;
text-transform: none;
}




@media (max-width:710px)
{
ul.footertext
{
margin-left: -38px;
}
ul.imgadjust
{
margin-left:-25px;
}
}




ul.imgadjust
{
margin-top:10px;
}




/*
ul.social-buttons {
  margin-bottom: 0;
}




ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: none;
  background-color: grey;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: red;
}
*/