/* Login Panel */

input[type=text],[type=password],[type=email]
{
    width:85%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:10px 0 8px 4px;
    outline:none;
    padding:4px;
    box-sizing:border-box;
    transition:.3s;
    margin-left: 22px;

}


input[type=text]:focus, input[type=password]:focus, input[type=email]:focus
{
  border-color:grey;
  box-shadow:0 0 8px 0 grey;
}


.panel
{
width: relative;
box-shadow: 5px 10px 10px 5px grey;
height:relative;
margin-top: 100px;
font-family:Helvetica;
}


.panel-default > .panel-heading
{
background-color: #b8b8b8;
}

.panel-heading
{
	height:60px;
	margin-top:5px;
	border-radius: 5px;
}

@media (max-width: 550px)
{
.panel-heading
{
	height:50px;
	margin-top:5px;
	border-radius: 5px;
}
}

.panel
{
	border-radius: 5px;
}

h4
{
	line-height: 2.4;
    font-size:1.4em
}

/* Register Campus and Community Partners */

.form-control
{
    width:85%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:0px 0 8px 4px;
    outline:none;
    padding:3px;
    box-sizing:border-box;
    transition:.3s;
    margin-left: 22px;
}

.form-control:focus
{
   border-color:grey;
   box-shadow:0 0 8px 0 grey;
}


