

/* header*/


	    #header.texty .main-header{
    	 padding:6px 0px 10px 0;
	     height:auto;
        }



	    #header.texty .main-header .home-logo{
    	 margin:0 10px 0 0;
	     float:left;
	     width:62px;
	     max-width:62px;
        }


        /*INNER CONTENT*/
        .inner-content{
	     width:98%;
	     max-width:960px;
	     padding:10px 0px;
	     margin:0 auto;
        *zoom:1;
        }

         .subsite-logos{
	     display:table;
	     height:100%;
	     vertical-align:middle;
	     width:100%;
	     border-collapse:collapse;
}


/*header ends*/



/*footer*/

footer {
  padding: 25px 0;
  text-align: center;
  background-color: black;
  /*position: fixed;
  bottom: 0;
  width: 100%;
  color:#999;*/
}

footer span.copyright {
  font-color: White;
  color: White;
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-size: 1em;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

footer ul.quicklinks {
  /*position: absolute;
  bottom: 0;*/
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  color: #fdf9f9;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: none;
  background-color: grey;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}





.navbar-inverse .navbar-brand {

    color: #f7f0f0;

}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {

    color: White;

}




.navbar-inverse .navbar-nav > li > a {

    color: White;

}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {

    color: Black;
    background-color: White;

}




@media (max-width: 1200px)
{ .navbar-header { float: none; }
.navbar-left,
.navbar-right { float: none !important; }
.navbar-toggle { display: block; }
.navbar-collapse { border-top: 1px solid black;
box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
.navbar-fixed-top { top: 0; border-width: 0 0 1px; }
.navbar-collapse.collapse { display: none!important; }
.navbar-nav { float: none!important; margin-top: 7.5px; }
.navbar-nav>li { float: none; }
.navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; }
.collapse.in{ display:block !important; } }

/* footer ends */






/*navigation bar ends */