{% extends 'home/base_home.html' %}
{% block content %}

<style>

select[id=id_mission],select[id=id_semester]
{

    width:200px;
}
.panel{
    margin-top: 10px;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
    form label{
  font-weight:bold;
}
</style>

   <div class="container-fluid" id="align">
    <div class="col-md-12 panel panel-primary">
        <br>
        <div class="col-md-12 text-center">
            <h3>Chart : Engagement Type </h3>
        </div>
        <br>
        <form class="form-inline" id="filters-form" method="get">
            <div class="col-md-6 form-group">
            <label>Mission Area : </label> &emsp;


            <select id="id_mission" name="mission" onchange="this.form.submit()">
                {% for mission in missions_filter.form.mission %}
                    {{mission}}
                {% endfor %}
            </select>
            </div>
            <div class="col-md-6 form-group">&emsp;
            <label>Academic Year :</label>
            <select id="id_semester" name="Academic year" onchange="this.form.submit()">
                {% for sem in academicyear_filter.form.academic_year %}
                    {{sem}}
                {% endfor %}
            </select>
            </div>

        <!--<input type="submit" value="Search" />-->
    </form>
    <!--{% for obj in filter.qs %}-->
        <!--{{ obj.project_name }} - ${{ obj.semester }}<br />-->
    <!--{% endfor %}-->
   <br> <br>

  <div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>

<script>
     Highcharts.chart('container',{{ chart|safe }});
</script>
        </div>
    </div><br><br><br><br>
{% endblock %}
