{% extends 'home/base_home.html' %}
{% block content %}
    <div class="container">
    <br>
    <form action="" method="get">
            {{ filter.form.as_p }}
        <input type="submit" class="btn btn-outline-info btn.sm "  value="Search" />
    </form>

    </div>

  <div id="container"></div>

  <script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
  Highcharts.chart('container', {
      chart: {
          type: 'bar'
      },
      title: {
          text: 'Number of Projects and Community Partners by Engagement Type'
      },
      xAxis: {
          categories: {{ engagement_type|safe }}
      },
      yAxis: {
        min: 0,
        title: {
            text: 'Count',
            align: 'middle'
        },

    },

      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 80,
        floating: true,
        borderWidth: 1,
        backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
        shadow: true
    },

      series: [{
          name: 'Count of Projects ',
          data: {{ project_count_series }},
          color: 'turquoise'
      }, {
          name: 'Count of Community Partners',
          data: {{ partner_count_series }},
          color: 'teal'
      }]
  });
</script>
{#    <script>#}
{#   #}
{#        Highcharts.chart('container', {{ chart|safe }});#}
{#    </script>#}

{% endblock %}

