{% extends 'home/base_home.html' %}
{% block content %}

<style>


    .form-inline label
    {
        font-weight:bold;
        text-align:left;
        margin-bottom:10px;
        display:inline;
        margin-left:22px;
    }


     .select2-container--default .select2-selection--single
     {
        margin-left:22px;
        width:200px;
     }


    .select2-container--open .select2-dropdown--below
    {
        width:200px;
        margin-left:22px;
    }


    .form-inline .form-group
    {
        margin-bottom:30px;
        margin-top:10px;
    }

</style>


<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-xl-12 col-md-12 col-sm-12">
           <div class="card" style="padding: 5px;margin-top:50px;background-color:#636568;">
               <label style="text-align:justify;"><b style="font-size:16px;text-align:center;color:White;"><h4 style="line-height:.8em;padding-top:10px;">Chart: Engagement Type</h4></b></label>
           </div>
        </div>
    </div>
</div><br>


<div class="container">
    <div class="card" style="padding: 10px; box-shadow: 5px 7px 7px 5px grey;">
        <!-- Collapse buttons -->
        <div>
            <input type="button" id="btn" value= "Hide Filters" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample" />

            <script type="text/javascript">
                document.getElementById("btn").addEventListener(
                "click",
                function(event) {
                if (event.target.value === "Hide Filters") {
                    event.target.value = "Show Filters";
                } else {
                        event.target.value = "Hide Filters";
                        }
                },
                false
                );
            </script>

        </div>
    <!-- / Collapse buttons -->

        <div class="card" style="border: 2px solid #C3C3C3;">
            <div class="collapse show" id="collapseExample">
                <form class="form-inline" id="filters-form" method="get">
                    <div class="col-lg-3 col-md-5 form-group">
                        <label for="id_mission">Mission Area: </label> &emsp;
                            <select id="id_mission" name="mission" onchange="this.form.submit()">
                                <option> All </option>
                                    {% for mission in missions_filter.form.mission %}
                                        {{mission}}
                                    {% endfor %}
                            </select>
                    </div>

                    <div class="col-lg-3 col-md-5 form-group">
                        <label for="id_semester">Academic Year:</label>
                            <select id="id_semester" name="Academic year" onchange="this.form.submit()">
                                <option> All </option>
                                    {% for sem in academicyear_filter.form.academic_year %}
                                        {{sem}}
                                    {% endfor %}
                            </select>
                    </div>

                    <div class="col-lg-3 col-md-5 form-group">
                        <label for="campus_partner"> Campus Partner: </label>
                            <select id="id_campus_partner" name="campus_partner" onchange="this.form.submit()">
                                <option> All </option>
                                    {% for campus in campus_filter.form.campus_partner %}
                                        {{campus}}
                                    {% endfor %}
                            </select>
                    </div>
                </form>
            </div>
        </div>

        <div id="container"></div>
            <script src="https://code.highcharts.com/highcharts.src.js"></script>
            <script>
                Highcharts.chart('container',{{ chart|safe }});
            </script>
    </div>
</div>
<br><br><br><br>
{% endblock %}

{% block selectizeForm %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
<script>
$(document).ready(function(){
    $('#id_mission').select2({placeholder: 'All Mission Types',width: '200px'});
    $('#id_semester').select2({placeholder: 'All Academic Years',width: '200px'});
    $('#id_campus_partner').select2({placeholder: 'All Campus Partners',width: '200px'});

});
</script>

{% endblock %}