{% extends 'home/base_home.html' %} {% load staticfiles %} {% block content %}
    {% load wagtailcore_tags register_tags %}


<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-xl-12 col-md-12 col-sm-12">
            <div class = "panel-default" style="width:100%">
               <div class="card" style="padding: 5px;margin-top:50px;">
                   <label style="text-align:justify;"><b style="font-size:16px;text-align:center;color:White;"><h4 style="line-height:.8em;padding-top:10px;">Chart: Issues Addressed Analysis</h4></b></label>
               </div>
            </div>
            <div class="card" style="padding: 10px;">
                <div class="center">


                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
