{% extends 'home/base_home.html' %} {% load staticfiles %} {% block content %}
    {% load wagtailcore_tags register_tags %}

<style>
        body{
        background-color: rgba(0,0,0,.03);
    }
        .text-snippet{
        text-align: left;
    }
    .box{
        padding: 10px;
            background-color: white;
            border: 1px;
        box-shadow: 5px 10px #d3d3d3;
        }

        /*@media (min-width: 1200px) {*/
        /*.container {*/
        /*    max-width: 1330px;*/
        /*}*/
    /*}*/
    .snippet-card{
        margin-top: 20px;
        padding-top:10px;
        padding-bottom:10px;
        margin-bottom: 20px;
        border-left: none;
        border-right:none;
        margin-left: 25px;
        margin-right: 25px;
        border-radius:0px;
        background-color: transparent;
        margin-bottom: 50px;
    }
    #loading
    {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-bottom: 16px solid red;
        border-top: 16px solid gray;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    @-webkit-keyframes spin
    {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin
    {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
.bs-example
    {
    	margin: 100px 50px;
    }
    .form-inline label
    {
        font-weight:bold;
        text-align:left;
        margin-bottom:10px;
        display:inline;
        margin-left:22px;
    }
     .select2-container--default .select2-selection--single
     {
        margin-left:22px;
        width:100%;
     }
    .select2-container--open .select2-dropdown--below
    {
        width:100%;
        margin-left:22px;
    }
    .select2-selection__placeholder{
        font-size: small;
    }
    .form-inline .form-group
    {
        margin-bottom:30px;
        margin-top:10px;
    }
    .panel-default > .card {
        background-image: none;
        background-color: #333;
    }
 </style>
<br><br>
<!--<div class="loader" id =loading></div>-->
<!--<div class="container">-->
   <div class="row box justify-content-md-center">
      <div class="col-xl-12 col-md-12 col-sm-12">
                                    <div class=" text-center"><h3 class="heading">Focus Areas Analysis Chart</h3></div>
<div class="card snippet-card">
    <div class="container text-snippet">
        {% iss_charts %}
<!--        The Community Partnership Initiative allows campus partners to submit and account for all community engagement projects. The technology supports complex and highly collaborative projects that involve multiple campus and community partners. To submit a new engaged project, please ensure that the project is not already in the database by searching for it.-->
    </div>
</div>
<!--         <div class = "panel-default" style="width:100%">-->
<!--            <div class="card" style="padding: 5px;margin-top:50px;">-->
<!--               <label style="text-align:justify;">-->
<!--                  <b style="font-size:16px;text-align:center;color:White;">-->
<!--                     <h4 style="line-height:.8em;padding-top:10px;">Issues Addressed Analysis </h4>-->
<!--                  </b>-->
<!--               </label>-->
<!--            </div>-->
<!--         </div>-->
<!--         <div class="card" style="border: none; padding: 10px;">-->
<!--            <div class="center">-->
<!--                {% iss_charts %}-->
<!--            </div>-->
<!--         </div>-->



<!--<div class="container">-->
<!--    <div class="card" style="border: none; padding: 10px;">-->
        <!-- Collapse buttons -->
        <div>
            <input type="button" id="btn" value= "Hide Filters" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample" />
            <input type="button" id="btn" value= "Reset Filters" class="btn btn-primary" onclick="window.location.href = '{% url 'issueaddress' %}' " value="Reset Filters" >

            <script type="text/javascript">
                document.getElementById("btn").addEventListener(
                "click",
                function(event) {
                if (event.target.value === "Hide Filters") {
                    event.target.value = "Show Filters";
                } else {
                        event.target.value = "Hide Filters";
                        }
                },
                false
                );
            </script>

        </div>
    <!-- / Collapse buttons -->

        <div class="card" style="border: 2px solid #C3C3C3;">
            <div class="collapse show" id="collapseExample">
            <form class="form-inline" id="filters-form" method="get">


                <div class="col-lg-4 col-md-5 form-group">
                    <label for="academicyear">
                        {% for data_definition in data_definition %}
                            {% if data_definition.id == 32%}
                                <span tabindex="-1" data-toggle="popover" data-trigger="focus"
                                      data-content="{{ data_definition.description }}" class="float" >
                                    <i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                            {% endif %}
                        {% endfor %}
                        Analysis Start Year
                    </label>
                    <select id="id_academicyear" name="academic_year" onchange="this.form.submit()" >
                        <option>
                            {% for sem in from_project_filter.form.academic_year %}
                                {{ sem}}
                            {% endfor %}
                        </option>
                    </select>
                </div>

                <div class="col-lg-4 col-md-5 form-group">
                    <label for="end_academicyear">
                        {% for data_definition in data_definition %}
                            {% if data_definition.id == 32%}
                                <span tabindex="-1" data-toggle="popover" data-trigger="focus"
                                      data-content="{{ data_definition.description }}" class="float" >
                                    <i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                            {% endif %}
                        {% endfor %}
                        Analysis Comparison (End) Year
                    </label>
                    <select id="id_endacademicyear" name="end_academic_year" onchange="this.form.submit()">
                        <option>
                            {% for endsem in to_project_filter.form.end_academic_year %}
                                {{endsem}}
                            {% endfor %}
                        </option>
                    </select>
                </div>

                    <div class="col-lg-4 col-md-5 form-group">
                        <label for="engagement_type">
                            {% for data_definition in data_definition %}
                                {% if data_definition.id == 31%}
                                    <span tabindex="-1" data-toggle="popover" data-trigger="focus"
                                          data-content="{{ data_definition.description }}" class="float" >
                                        <i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                                {% endif %}
                            {% endfor %}
                            Engagement Types
                        </label>
                    <select id="id_engagement_type" name="engagement_type" onchange="this.form.submit()">
                                <option> All </option>
                                    {% for engagement in project_filter.form.engagement_type %}
                                        {{engagement}}
                                    {% endfor %}
                            </select>
                    </div>

                    <div class="col-lg-4 col-md-5 form-group">
                        <label for="community_type">
                            {% for data_definition in data_definition %}
                                {% if data_definition.id == 33%}
                                    <span tabindex="-1" data-toggle="popover" data-trigger="focus"
                                          data-content="{{ data_definition.description }}" class="float" >
                                            <i class="fa fa-info-circle fa-align-top fa-align-right" aria-hidden="true"></i></span>
                                {% endif %}
                            {% endfor %}
                            Community Organization Types
                        </label>
                        <select class="form-control" id="id_community_type" name="community_type" onchange="this.form.submit()">
                            <option> All </option>
                            {% for community_type in communityPartners.form.community_type %}
                                {{community_type}}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-lg-4 col-md-5 form-group ">
                        <label for="college-name">
                            {% for data_definition in data_definition %}
                                {% if data_definition.id == 43%}
                                    <span tabindex="-1" data-toggle="popover" data-trigger="focus"
                                    data-content="{{ data_definition.description }}" class="float" >
                                    <i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                                {% endif %}
                            {% endfor %}
                            Colleges and Main Units
                        </label>
                        <select id="id_college_name" name="college_name" onchange="this.form.submit()">
                            <option> All </option>
                            {% for college in college_filter.form.college_name %}
                                {{college}}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-lg-4 col-md-5 form-group">
                        <label for="campus_partner">
                        {% for data_definition in data_definition %}
                                {% if data_definition.id == 1%}
                                    <span tabindex="-1" data-toggle="popover" data-trigger="focus"
                                          data-content="{{ data_definition.description }}" class="float" >
                                        <i class="fa fa-info-circle fa-align-top" aria-hidden="true"></i></span>
                                {% endif %}
                            {% endfor %}
                            Campus Partners
                        </label>
                            <select id="id_campus_partner" name="campus_partner" onchange="this.form.submit()">
                                <option> All </option>
                                <option value {% if campus_id == 0 %} selected {% endif %}>---------</option>
                                    {% for campus in campus_filter %}
                                        <option value={{campus.id}} {% if campus_id == campus.id %} selected {% endif %}>{{campus.name}}</option>
                                    {% endfor %}
                            </select>
                    </div>
                    <div class="col-lg-4 col-md-5 form-group">
                    <label for="weitz_cec_part">
                        {% for data_definition in data_definition %}
                            {% if data_definition.id == 27%}
                                <span tabindex="-1" data-toggle="popover" data-trigger="focus"
                                      data-content="{{ data_definition.description }}" class="float" >
                                        <i class="fa fa-info-circle fa-align-top fa-align-right" aria-hidden="true"></i></span>
                            {% endif %}
                        {% endfor %}
                        CEC  Building Partners
                    </label>
                    <select class="form-control" id="id_weitz_cec_part" name="weitz_cec_part" onchange="this.form.submit()">

                         {% for cec_choice in cec_part_choices.cec_choice %}
                            {{ cec_choice }}
                        {% endfor %}
                    </select>
                    </div>

                    <div class="col-lg-4 col-md-5 form-group ">
                        <label for="legislative_value" >
                            {% for data_definition in data_definition %}
                                {% if data_definition.id == 52%}
                                    <span tabindex="-1" data-toggle="popover" data-trigger="focus"
                                        data-content="{{ data_definition.description }}" class="float">
                                        <i class="fa fa-info-circle fa-align-top fa-align-right" aria-hidden="true"></i></span>
                                {% endif %}
                            {% endfor %}
                                    Legislative Districts
                                </label>
                                <select class="form-control" id="id_legislative_value" name="legislative_value" onchange="this.form.submit()">
                                    {% for item in legislative_choices %}
                                    <option {% if item == legislative_value %}selected{% endif %}>{{ item }}</option>
                                   <!-- <option> {{legislative_value}} </option>-->
                                    {% endfor %}
                                </select>
                            </div>

            </form>
        </div>
    </div>

    <div id="container"  style= "max-width: 1000px; height: 450px"></div>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script src="https://code.highcharts.com/modules/xrange.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/drilldown.js"></script>
        <script>

            $(function () {
                Highcharts.Tick.prototype.drillable = function () {};

            Highcharts.chart('container', {{ dumbellchart|safe }})
})
        </script>
    </div>
</div>
<br><br><br><br>
{% endblock %}

{% block selectizeForm %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
<script>
$(document).ready(function(){
    $('#id_mission').select2({placeholder: 'All Mission Areas',width: '75%',
                                            sorter: function(data) {
                                            /* Sort data using lowercase comparison */
                                            return data.sort(function (a, b) {
                                                a = a.text.toLowerCase();
                                                b = b.text.toLowerCase();
                                                if (a > b) {
                                                    return 1;
                                                } else if (a < b) {
                                                    return -1;
                                                }
                                                return 0;
                                            });
                                        }});
    $('#id_engagement_type').select2({placeholder: 'All Engagement Types',width: '75%',
                                        sorter: function(data) {
                                            /* Sort data using lowercase comparison */
                                            return data.sort(function (a, b) {
                                                a = a.text.toLowerCase();
                                                b = b.text.toLowerCase();
                                                if (a > b) {
                                                    return 1;
                                                } else if (a < b) {
                                                    return -1;
                                                }
                                                return 0;
                                            });
                                        }});
    $('#id_campus_partner').select2({placeholder: 'All Campus Partners',width: '75%',
                                        sorter: function(data) {
                                            /* Sort data using lowercase comparison */
                                            return data.sort(function (a, b) {
                                                a = a.text.toLowerCase();
                                                b = b.text.toLowerCase();
                                                if (a > b) {
                                                    return 1;
                                                } else if (a < b) {
                                                    return -1;
                                                }
                                                return 0;
                                            });
                                        }});
    $('#id_academicyear').select2({placeholder: '{{ min_year }}',width: '75%'});
    $('#id_endacademicyear').select2({placeholder: '{{ max_year }}',width: '75%'});
    $('#id_legislative_value').select2({width: '75%'});

    $('#id_weitz_cec_part').select2({placeholder: 'CEC  Building Partner',width: '75%'});
    $('#id_community_type').select2({placeholder: 'All Community Organization Types',width: '75%',
                                        sorter: function(data) {
                                            /* Sort data using lowercase comparison */
                                            return data.sort(function (a, b) {
                                                a = a.text.toLowerCase();
                                                b = b.text.toLowerCase();
                                                if (a > b) {
                                                    return 1;
                                                } else if (a < b) {
                                                    return -1;
                                                }
                                                return 0;
                                            });
                                        }});
    $('#id_college_name').select2({placeholder: 'All Colleges and Main Units',width: '75%',
                                    sorter: function(data) {
                                            /* Sort data using lowercase comparison */
                                            return data.sort(function (a, b) {
                                                a = a.text.toLowerCase();
                                                b = b.text.toLowerCase();
                                                if (a > b) {
                                                    return 1;
                                                } else if (a < b) {
                                                    return -1;
                                                }
                                                return 0;
                                            });
                                        }});

});
</script>
<script language="javascript" type="text/javascript">
    console.log(" im in loader stopper");
    window.onload = function(){ document.getElementById("loading").style.display = "none" }
</script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>



    <script>


    $("#id_endacademicyear").change(function () {
        var fromacademicyear=$("#id_academicyear").val();
        var toacademicyear=$("#id_endacademicyear").val();
        if (toacademicyear<fromacademicyear ){
            alert("Please Select To Academic Year Greater Than From AcademicYear");
            $("#id_endacademicyear").val('')
            $("#id_academicyear").val('')
        }
        if(fromacademicyear=''){}



    })
    $("#id_academicyear").change(function () {
        var fromacademicyear=$("#id_academicyear").val();
        var toacademicyear=$("#id_endacademicyear").val();
        if (toacademicyear!='') {
            if (fromacademicyear > toacademicyear || toacademicyear<fromacademicyear) {
                alert("Please Select From Academic Year Lower Than To AcademicYear");
                $("#id_endacademicyear").val('')
                $("#id_academicyear").val('')
            }
        }

    })
    </script>
{% endblock %}

