{% extends 'home/base_home.html' %}
{% block content %}
{#pop up for information#}
    <style>
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
</style>

    <div class="container-fluid" id="align">
        <div class="col-md-12 panel panel-primary">
    <br>
    <h4>Number of Projects and Community Partners by Mission Area</h4>
{#        <div class="popup" onclick="myFunction()">Click me to toggle the popup!#}
{#  <span class="popuptext" id="myPopup">This chart consist of count of all the projects and associated community partners.#}
{#  </span>#}
{#</div>#}
        <br>

    <form id="filters-form" method="get">
     &emsp;
         <label>Filter by Engagement Type </label>&emsp;&emsp;&emsp;

          <label>Filter by Semester</label>  <br> &emsp;
            <select id="id_engagement_type" name="engagement_type" onchange="this.form.submit()">
                {% for engagement in filter2.form.engagement_type %}
                    {{engagement}}
                {% endfor %}
            </select>
            &emsp;
            <select id="id_semester" name="semester" onchange="this.form.submit()">
                {% for sem in filter2.form.semester %}
                    {{sem}}
                {% endfor %}
            </select>

        <!--<input type="submit" value="Search" />-->
    </form>



  <div id="container"></div>
 <br> <br> <br>

  <script src="https://code.highcharts.com/highcharts.src.js"></script>

  <script>
     Highcharts.chart('container',{{ chart|safe }});
</script>
 <br> <br> <br>

{#    <script>#}
{#   #}
{#        Highcharts.chart('container', {{ chart|safe }});#}
{#    </script>#}
    </div>
<script>
// When the user clicks on div, open the popup
function myFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
}
</script>
    </div>
{% endblock %}

