{% extends 'home/base_home.html' %}
{% block content %}
    <div class="container">
    <br>
    <form id="filters-form" method="get">
     &emsp;
         <label>Filter by Engagement Type </label>&emsp;&emsp;&emsp;

          <label>Filter by Semester</label>  <br> &emsp;
            <select id="id_engagement_type" name="engagement_type" onchange="this.form.submit()">
                {% for engagement in filter2.form.engagement_type %}
                    {{engagement}}
                {% endfor %}
            </select>
            &emsp;
            <select id="id_semester" name="semester" onchange="this.form.submit()">
                {% for sem in filter2.form.semester %}
                    {{sem}}
                {% endfor %}
            </select>

        <!--<input type="submit" value="Search" />-->
    </form>

    </div>

  <div id="container"></div>

  <script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
  Highcharts.chart('container', {
      chart: {
          type: 'bar'
      },
      title: {
          text: 'Number of Projects and Community Partners by Mission Area'
      },
      xAxis: {
          categories: {{ mission|safe }}
      },
      yAxis: {
        min: 0,
        title: {
            text: 'Count',
            align: 'middle'
        },

    },

      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 80,
        floating: true,
        borderWidth: 1,
        backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
        shadow: true
    },

      series: [{
          name: 'Count of Projects ',
          data: {{ project_count_series }},
          color: 'turquoise'
      }, {
          name: 'Count of Community Partners',
          data: {{ partner_count_series }},
          color: 'teal'
      }]
  });
</script>
{#    <script>#}
{#   #}
{#        Highcharts.chart('container', {{ chart|safe }});#}
{#    </script>#}

{% endblock %}

